@font-face {
	font-family: "Eina-Regular";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina01-Regular.woff") format("woff");
}

@font-face {
	font-family: "Eina-Light";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina04-Light.woff") format("woff");
}

@font-face {
	font-family: "Eina-SemiBold";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina04-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Eina-Bold";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina04-Bold.woff") format("woff");
}

.heading {
	font-size: 32px;
	color: #403a60;
	font-family: "Eina-Bold";
	margin-left: 20px;
	margin-bottom: 20px;
}

.cards {
	left: 0px;
}

.splicard {
	display: flex;
	flex: 1;

	flex-direction: row;
}

.splicard2 {
	display: flex;
	flex: 1;

	flex-direction: row;
}

.card1 {
	padding: 10px;
}

.card2 {
	padding: 10px;
}

.card2 {
	padding: 10px;
}

.card3 {
	padding: 10px;
}

.card4 {
	padding: 10px;
}

.card5 {
	padding: 10px;
}

.grid-containerMenu {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 0px auto;
	width: -webkit-fill-available;
}

.grid-containerMenu1 {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 0px 20px;
	width: -webkit-fill-available;
}

@media only screen and (min-width: 1200px) and (max-width: 1499) {
	.splicard {
		display: flex;
		flex: 1;
		margin-left: 40px;
		flex-direction: column;
	}

	.splicard2 {
		display: flex;
		flex: 1;
		margin-left: 40px;
		flex-direction: column;
	}

	.heading {
		margin-left: 33px;
		margin-top: -85px;
		width: 436px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.splicard {
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 100%;
	}

	.card1 {
		width: 100%;
	}

	.card2 {
		width: 100%;
	}

	.card3 {
		width: 100%;
	}

	.splicard2 {
		display: flex;
		flex: 1;
		width: 100%;
		flex-direction: column;
	}

	.card4 {
		width: 100%;
	}

	.card5 {
		width: 100%;
	}

	.heading {
		margin-top: 0%;

		width: 100%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.splicard {
		display: flex;
		flex: 1;

		flex-direction: column;
		width: 100%;
	}

	.card1 {
		width: 100%;
	}

	.card2 {
		width: 100%;
	}

	.card3 {
		width: 100%;
	}

	.splicard2 {
		display: flex;
		flex: 1;

		flex-direction: column;
		width: 100%;
	}

	.card4 {
		width: 100%;
	}

	.card5 {
		width: 100%;
	}

	.heading {
		margin-top: -105px;
		width: 100%;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.splicard {
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 100%;
	}

	.card1 {
		width: 100%;
	}

	.card2 {
		width: 100%;
	}

	.card3 {
		width: 100%;
	}

	.splicard2 {
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 100%;
	}

	.card4 {
		width: 100%;
	}

	.card5 {
		width: 100%;
	}

	.heading {
		margin-left: 4%;
		margin-top: -103px;
		width: 100%;
	}
}

@media only screen and (min-width: 401px) and (max-width: 575px) {
	.splicard {
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 100%;
	}

	.splicard2 {
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 100%;
	}

	.heading {
		margin-left: 6%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
	.heading {
		margin-left: 6%;
		margin-top: -105px;
	}

	.splicard {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.splicard2 {
		display: flex;
		flex: 1;
		flex-direction: column;
	}
}