/* customSlider.css */

@font-face {
	font-family: "Eina-Regular";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina01-Regular.woff") format("woff");
}

@font-face {
	font-family: "Eina-Light";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina04-Light.woff") format("woff");
}

@font-face {
	font-family: "Eina-SemiBold";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina04-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Eina-Bold";
	src: url("/s/sfsites/c/resource/BI_PSP_WebEinaFonts/WebFonts/Eina04-Bold.woff") format("woff");
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
	/* You can adjust the opacity or add other styles to visually indicate it's disabled */
}

.custom-slider {
	width: 100%;
	/* Set the width to your desired value */
	background-color: hsl(206, 62%, 95%);
	/* Change the background color */
	border-radius: 5px;
	margin-right: 10px;
	/* Add rounded corners */
}

.custom-slider .slds-slider-fill {
	background-color: #ff9900;
	/* Change the fill color as the slider moves */
}

.custom-slider .slds-slider-bar {
	background-color: #d3d3d3;
	/* Change the color of the slider bar */
}

.custom-slider .slds-slider-thumb {
	background-color: #ffffff;
	/* Change the color of the slider thumb */
	border: 2px solid #0070d2;
	/* Add a border to the thumb */
}

.custom-slider .slds-slider-thumb:focus {
	box-shadow: 0px 0px 5px #0070d2;
	/* Add a focus effect */
}

/* customSlider.css */
.custom-slider {
	width: 80%;
	/* Adjust the width to your preference */
	background-color: #0070d2;
	border-radius: 5px;
	margin-right: 10px;
	/* Create some space between the slider and the text */
}

.slider-container {
	display: flex;
	align-items: center;
}

.slider-text {
	flex-grow: 1;
	/* Make the text take up all available space to the right */
	font-size: 14px;
	/* Adjust the font size as needed */
	color: #333;
	/* Adjust the text color */
	text-align: right;
	/* Align the text to the right */
}

.custom-slider .slds-slider-tick-label {
	color: #050202;
	/* Change the color of the range numbers to white */
}

.button-container {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	width: 100%;
	/* padding: 10px; */
	/* margin-right: 100px; */
	clear: both;
	/* Clear the float to prevent layout issues */
	/* margin-bottom: 100px;   */
	margin: auto;
	position: relative;
	/* has to be position relative for left to work, or you could just do margin-left: -50px; too */
	left: -38px;
}

.left-button,
.right-button {
	padding: 10px 20px;
	background-color: #0070d2;
	/* Customize the background color */
	color: #ffffff;
	/* Customize the text color */
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.right-button {
	background-color: #4caf50;
	/* Customize the background color for the right button */
}

/*the new css*/

.container-box {
	border: 1px solid #ccc;
	/* Add a border with a color of your choice */
	padding: 10px;
	/* Add padding to create some space inside the box */
	border-radius: 5px;
	/* Add rounded corners if desired */
	background-color: #f2f2f2;
	/* Set the background color */
}

/*slider css*/

.slidecontainer {
	width: 100%;
}

.slider {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 16px;
	background: linear-gradient(to right,
			red 0%,
			red 10%,
			orange 10%,
			orange 20%,
			yellow 20%,
			yellow 30%,
			green 30%,
			green 40%,
			blue 40%,
			blue 50%,
			purple 50%,
			purple 60%,
			pink 60%,
			pink 70%,
			brown 70%,
			brown 80%,
			gray 80%,
			gray 90%,
			black 90%,
			black 100%) !important;
	background-size: 300px 10px;
	background-repeat: no-repeat;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	transition: background 0.4s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 5px 2px #ccc;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}

.marking {
	list-style: none;
	display: flex;
	padding: 0;
}

.marking li {
	flex: 1;
	text-align: right;
}

/* .split-color-slider {
width: 300px;

} */

.split-color-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #009688;
	border-radius: 50%;
	cursor: pointer;
}

.slds-box {
	background-color: rgb(240, 236, 236);
}

/* Apply custom styles for horizontal layout */
.slds-radio_button-group {
	display: flex;
}

.slds-radio_button-group__item {
	flex: 1;
}

.firstque {
	background-color: white;
}

/* horizontalRadioGroup.css */
.horizontal-radio-group lightning-radio-group {
	display: flex;
	flex-direction: row;
}

/* Optional: Add some spacing between radio buttons */
.horizontal-radio-group lightning-input {
	margin-right: 10px;
}

.outerCOntainer {
	border: 1px solid #ccc;
	/* Add a border with a color of your choice */
	padding: 20px;
	/* Add padding to create space around the UI */
	border-radius: 10px;
	/* Add rounded corners if desired */
	background-color: white;
	/* Set the background color */
}

.omnilabel {
	color: rgb(52, 27, 111);
	font-size: 18px;
}

/* whole container */
.popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 38%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(94, 94, 94, 0.1);
	z-index: 1000;
}

.hidden {
	display: none;
}

.popup-content {
	text-align: center;
}

/* top right side close button */
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
	border: none;
	background: none;
}

.content {
	padding: 20px;
}

.heading {
	color: #403a60;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

.paragh {
	text-align: left;
}

.cancelbtn {
	color: #403a60;
	background-color: white;
	border-color: #403a60;
	border-radius: 8px;
	border-width: 1.5px;
	text-align: center;
	padding: 4px 15px;
	font-weight: bold;
}

.submitbtn {
	color: white;
	background-color: #403a60;

	border-radius: 8px;
	text-align: center;
	padding: 4px 15px;
}

/* two button  */
.btn {
	float: inline-end;
}

.popup2-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid #ccc;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 1;
}

.hidden {
	display: none;
}

.popup-content {
	text-align: center;
}

.message {
	font-weight: bolder;
	color: #403a60;
	font-size: 22px;
	text-align: left;
}

.content1 {
	text-align: left;
	color: #403a60;
	font-size: 16px;
}

.times {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
	border: none;
	background: none;
}

.savebutton {
	border: 1px solid #403a60;
	height: 35px;
	width: 114px;
	border-radius: 12px;
	margin-left: 300px;
	background-color: white;
	color: #403a60;
	margin-bottom: 29px;
}

.retbutton {
	border: 1px solid #403a60;
	height: 35px;
	width: 178px;
	border-radius: 12px;
	position: absolute;
	background-color: #403a60;
	color: white;
	margin-top: -65px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question-box {
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 10px;
}

.radio-options {
	margin-top: 10px;
}

.button-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	/* Center align buttons */
}

.item1 {
	grid-area: header;
}

.item2 {
	grid-area: menu;
}

.item3 {
	grid-area: main;
}

.grid-container {
	display: grid;
	grid-template-areas:
		"header header header header header header"
		"menu main main main right right"
		"menu footer footer footer footer footer";
	gap: 10px;
	background-color: ghostwhite;
	padding: 10px;
}

.grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
}

p.a {
	/* vertical-align: baseline; */
	margin-top: -60px;
	font-family: "Eina-SemiBold";
	color: #403a60;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-left: 100px;
	width: 158px;
	height: 72px;
	text-align: left;
}

p.b {
	/* vertical-align: text-top; */
	margin-top: -45px;
	font-family: "Eina-SemiBold";
	color: #403a60;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-left: 100px;
	width: 158px;
	height: 48px;
	text-align: left;
}

p.c {
	/* vertical-align: text-bottom; */
	margin-top: -45px;
	font-family: "Eina-SemiBold";
	color: #403a60;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-left: 100px;
	width: 147px;
	height: 48px;
	text-align: left;
}

p.d {
	margin-top: -55px;
	font-family: "Eina-SemiBold";
	color: #403a60;
	font-size: 16px;
	line-height: 24px;
	margin-left: 100px;
	width: 147px;
	height: 48px;
	text-align: left;
}

p.e {
	margin-top: -60px;
	font-family: "Eina-SemiBold";
	color: #403a60;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-left: 100px;
	width: 147px;
	height: 48px;
	text-align: left;
}

/* Add these styles to your CSS file */

.category-names {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.category-box {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 286px;
	height: 82px;
	border-radius: 12px;
	background-color: white;
}

.category-box:hover {
	border: 1.4px solid #403a60;
}

.category-box1 {
	
	padding: 10px;
	border: 1.4px solid #403a60;
	width: 286px;
	margin-bottom: 10px;
	height: 82px;
	border-radius: 12px;
	background-color: white;
}

.status {
	text-align: left;
}

.hrele {
	color: blue;
}

.statusRE {
	text-align: left;
	/* margin-left: 9px; */
	/* margin:  auto; */
	position: relative;
	/* has to be position relative for left to work, or you could just do margin-left: -50px; too */
	/* left: -38px; */
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
}

/* new classes */

.nds-form-element.nds-form-container {
	margin-bottom: 20px;
	border-radius: 10px;

	/* border: 1px solid rgba(143, 137, 170, 0.50) !important; */
	padding: 0px;
	border-bottom: 12px solid #8d89a5;
	/* font-style: Eina04-Bold; */
	size: 16px;
	width: 100%;
	/* border:#8D89A5; */

	/* height:112px; */
	/* top:283px ;
left:385px ; */
	/* margin-top: 50px !important; */
	/* Height:216px; */
}

span.nds-form-element__label {
	margin-right: 1.95rem;
	margin-bottom: 0.125rem;
	font-size: 16px;
	width: Fill (100px);
	height: Hug (24px);
	text-align: left;
	font-family: "Eina-SemiBold";
	font-weight: 400;
	line-height: 24px;
	color: #403a60;
}

.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
	background: rgba(142, 137, 167, 0.2);
	width: 100%;
	padding-top: 35px;
	padding-left: 30px;
	padding-right: 70px;
	margin: 0px;
	border-radius: 12px 12px 0px 0px;

	height: 112px;
}

span.nds-m-right_x-small {
	font-size: 16px;
	color: #403a60;
	font-weight: 400;
	position: relative;
	/* bottom: 33px !important; */
	right: -6px;
	text-align: left;
	width: 100%;
	/* Height:48px; */
	line-height: 24px;
	font-family: "Eina-Bold";
}

.nds-form-element__control.nds-horizontal_radio {
	display: flex;
	border: 0px;
	flex-wrap: wrap;
	/* justify-content: center; */
	justify-content: space-around;
	min-height: 100px;
}

span.nds-radio {
	flex: 1;
	text-align: center;
	margin: 0;
	background-color: white;
	border: 1px solid #ccc;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: middle;
	/* border-bottom: 12px solid #8D89A5!important; */
	/* border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px; */
}

label.nds-radio__label {
	margin-top: 30px;
	margin-left: 20px;
	/* text-align: center; */
	font-size: 16px;
}

span.nds-radio_faux {
	flex: 1;

	/* margin-left: calc(50% - 20px) !important; */

	display: flex;
	flex-direction: column;

	border-color: #413a63;
	background-color: #413a63;
}

.radio-container {
	margin: 0px;
	height: 45px;
	margin-top: 20px;
	margin-left: 11px;
	/* display:flex;
	justify-items:center;
	align-items:center;
	margin:auto;
		*/
}

/* column wise question class */
.nds-form-element__controll.nds-vertical_radio {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	/* Add margin for spacing between options */
}

.nds-form-element__controll.nds-vertical_radio input[type="checkbox"] {
	margin-bottom: 5px;
	/* Adjust as needed */
}

.nds-form-element__controll.nds-vertical_radio label {
	margin-left: 100px;
	/* Adjust as needed */
	font-size: 16px;
}

.nds-checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-left: 20px;
	/* Adjust margin to move the stripe to the left */
	padding-left: 0px;
	/* Adjust padding for space between text and border */
	height: 60px;
	/* Set a consistent height for all options */
	border-bottom: 1px solid rgba(143, 137, 170, 0.5);
}

.nds-checkbox-wrapper input[type="checkbox"] {
	transform: scale(1.2);
}

.nds-checkbox-wrapper input[type="checkbox"] {
	margin-right: -70px;
}

.nds-form-element__controll.nds-vertical_radio .nds-checkbox-wrapper {
	margin-right: 10px;
	/* Adjust as needed */
}

.nds-checkbox-wrapper:last-child {
	border-bottom: none;
}

input[type="radio"] {
	position: relative;
	width: 24px;
	height: 24px;
	border: 1px;

	/* accent-color: #8D89A5; */
	accent-color: #8d89a5;
}

/* .input:checked ~ .nds-form-element__label {
		background-color: #bfb; border-color: #4c4;
		} */
input[type="radio"]:checked+span {
	font-weight: bolder;
}

/*
	
	input[type='radio']:before {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		position: relative;
		top: -5px; 
		left: -4px; 
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid #d1d3d1;
		background-color: transparent; 
	}
	
	
	input[type='radio']:checked:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -2.3px; 
		left: -2.5px; 
		position: absolute;
		content: '';
		display: inline-block;
		visibility: visible;
		background-color: #696969;
		border: 2px solid white;
	}*/
.column1 {
	width: 100%;
}

.box {
	margin-bottom: 10px;
	/* background-color: #fafafa; */
	/* border: 1px solid #ccc; */
	padding: 10px;
	text-align: center;
	width: 263px;
	height: 40px;
	/* margin-top: 60px; */
}

.box2 {
	margin-bottom: 10px;
	/* background-color: #fafafa; */
	/* border: 1px solid #ccc; */
	padding: 10px;
	text-align: center;
	width: 286px;
	height: 435px;
}

.containercolumn {
	margin: 0;
	padding: 0;
	display: flex;
	width: 102%;
}

.tophead {
	width: 596px;
	height: 44px;
	/* Font
Eina04-Bold */
	/* font-weight:400; */
	font-size: 32px;
	line-height: 44px;
	top: 217px;
	left: 385px;
	/* font-size: 16px; */
	font-weight: 400;
	/* margin: 0; */
	margin-left: 10px;
	color: #403a60;
	margin-bottom: 20px;
	font-family: "Eina-Bold";
	margin-top: 0px;
}

.ans {
	font-size: 44px;
	/* font-weight: bold; */
	line-height: 56px;
	color: #403a60;
	margin-left: -100px;
}

.ansq {
	font-size: 44px;
	font-weight: bold;
	line-height: 56px;
	color: rgba(141, 137, 165, 0.5);
	font-family: "Eina-Bold";
}

.smalltxt {
	font-size: 20px;
	line-height: 32px;
	font-family: "Eina-Regular";
}

/* .custom-button {
		background-color: violet;
		color: white;
	} */

.myButton {
	--slds-c-button-brand-color-background: #403a60;
	width: Hug (83px);
	height: Fixed (40px);

	/* Padding:9px, 18px, 9px, 18px; */
}

.retbutton1 {
	border: 1px solid #403a60;
	width: 70px;
	/* Adjust the width to your desired size */
	height: 40px;
	border-radius: 8px;
	/* position: absolute; */
	background-color: #403a60;
	color: white;
	/* margin-top: -65px; */
	display: inline-block;
	font-family: "Eina-SemiBold";
}

.savebutton1 {
	border: 1px solid #403a60;

	width: 100px;
	height: 40px;
	border-radius: 8px;
	/* margin-left:300px; */
	background-color: white;
	color: #403a60;
	/* margin-bottom: 29px; */
	display: inline-block;
	font-family: "Eina-SemiBold";
}

.line {
	border: 1px solid #403a60;
	/* Border color */
	width: 286px;
	/* Adjust the length of the line as needed */
	display: inline-block;
}

.imageNavi {
	height: 42px;
	width: 50px;
	/* margin-left: 150px; */
	margin-top: 10px;
	margin-right: 180px;
	/* left: -38px; */
	right: -50px;
	/* position: absolute; */
}

.imageNaviNxt {
	height: 50px;
	width: 50px;
	/* margin-left: 150px; */
	margin-top: 5px;
	margin-right: 180px;
	/* left: -38px; */
	right: -50px;
	/* position: absolute; */
}

.texts {
	width: 216px;
	height: 24px;
	/* Font
Eina04-Bold */
	/* font-weight:400; */
	font-size: 16px;
	line-height: 24px;
	top: 544px;
	left: 1005px;
	/* font-size: 16px; */
	font-weight: 400;
	/* margin: 0; */
	/* margin-left: -20px; */
	color: #403a60;
	/* margin-top: -90px; */
	font-family: "Eina-Bold";
}

.rollout {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	width: 96px;
	height: 40px;
	color: #403a60;
	font-family: "Eina-Regular";
}

.expires {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	width: 110px;
	height: 20px;
	color: #403a60;
	font-family: "Eina-Regular";
}

.rddate {
	font-weight: 400;
	font-size: 14px;
	font-family: "Eina-SemiBold";
	color: #403a60;
}

.eddate {
	font-weight: 400;
	font-size: 14px;
	font-family: "Eina-SemiBold";
	color: #403a60;
	width: 100px;
}

.horizontal-line {
	white-space: nowrap;
	/* Prevent text from wrapping to the next line */
}

.statusRE {
	text-align: left;
}

.dropdowncolumn {
	width: 394px;
	height: 76px;
	margin-bottom: 20px;
	/* margin-left: 145px; */
}

.comboboxtext {
	font-size: 16px;
	line-height: 24px;
	/* margin-left: 10px; */
	margin-bottom: -10px;
	color: #403a60;
	font-family: "Eina-Regular";
	font-weight: 400;
}

.slds-truncate {
	font-family: "Eina-SemiBold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #403a60;
}

.bot1 {
	font-family: "Eina-Regular";
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #384b59;
	width: 914px;
}

.bot2 {
	font-family: "Eina-Regular";
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #384b59;
	width: 894px;
}

.botcontainer {
	width: 914px;
	height: 240px;
}

@media screen and (min-width: 1201px) {

	/* .nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left
	{
		width: 100%;
	}

	.column1[c-biPspbPSSQuestionnaire_biPspbPSSQuestionnaire] {
	width: 52%;
	margin-top: 82px;
}
.nds-form-element.nds-form-container[c-biPspbPSSQuestionnaire_biPspbPSSQuestionnaire] {
	width: 100%;
} */
	.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
		width: 100%;
	}

	.column1 {
		width: 100%;
	}

	.column2 {
		margin-left: 20px;
	}

	.nds-form-element.nds-form-container {
		width: 100%;
	}

	.containercolumn {
		width: 106%;
	}

	.botcontainer {
		width: 100%;
		height: 120px;
	}

	.bot1 {
		width: 100%;
	}

	.bot2 {
		width: 100%;
	}
}

@media screen and (min-width: 1366px) {
	.containercolumn {
		width: 113%;
	}
}

@media screen and (min-width: 1500px) {
	.containercolumn {
		width: 106%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.box2 {
		width: 100%;
	}

	.tophead {
		margin-bottom: 23px;
		font-size: 24px;
		width: 100%;
		height: 31px;
		margin-top: -107px;
	}

	.botcontainer {
		height: 123px;
		width: 148%;
		margin-left: -38px;
	}

	.containercolumn {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.nds-form-element.nds-form-container {
		width: 90%;
		margin: 0 52px 20px;
		/* margin-left: 295px; */
	}

	.box {
		width: 60%;
	}

	.dropdowncolumn {
		width: 94%;
		margin: 0 27px 20px;
	}

	span.nds-m-right_x-small {
		margin-top: 10px;
	}

	.box {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.bot1 {
		width: 100%;
		margin-left: 53px;
		margin-top: 40px;
	}

	.bot2 {
		width: 97%;
		margin-left: 52px;
	}

	.bot3 {
		width: 500px;
		margin-top: 20px;
	}

	.line {
		width: 100%;
		/* margin-left: -143px; */
	}

	.retbutton1 {
		width: 382px;
		height: 40px;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 12px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
	}

	.savebutton1 {
		width: 382px;
		height: 40px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 166px;
	}

	.button-container {
		margin-left: 30px;
	}

	.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
		width: 100%;
		padding: 20px;
		height: fit-content;
	}

	.column2 {
		width: 162%;
		margin-left: -48px;
	}

	.column1 {
		width: 160%;
		margin-left: -41px;
	}

	.statusRE {
		margin-left: 59px;
	}

	.category-box {
		cursor: pointer;
		padding: 10px;
		border: 1px solid #ccc;
		/* margin-bottom: 10px; */
		width: 90%;
		margin: 0 52px 20px;
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -145px; */
	}

	.category-box1 {
		cursor: pointer;
		padding: 10px;
		border: 1.4px solid #403a60;
		width: 90%;
		margin: 0 52px 20px;
		/* margin-bottom: 10px; */
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -145px; */
	}

	.imageNavi {
		height: 42px;
		/* width: 7%; */
		margin-top: 10px;
		margin-right: 72%;
		right: -50px;
	}

	.imageNaviNxt {
		height: 42px;
		/* width: 8%; */
		margin-top: 10px;
		margin-right: 72%;
		right: -50px;
	}

	.texts {
		margin-left: 48px;
	}

	p.b {
		margin-top: -38px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 377px;
		width: 100%;
		height: 48px;
		text-align: left;
	}

	p.c {
		margin-top: -38px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 377px;
		width: 100%;
		height: 48px;
		text-align: left;
	}

	p.d {
		margin-top: -37px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-size: 16px;
		line-height: 24px;
		margin-left: 377px;
		width: 100%;
		height: 48px;
		text-align: left;
	}

	p.e {
		margin-top: -36px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 377px;
		width: 100%;
		height: 48px;
		text-align: left;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tophead {
		margin-bottom: 72px;
		font-size: 24px;
		width: 100%;
		height: 31px;
		margin-top: -107px;
	}

	.nds-form-element__control.nds-horizontal_radio {
		display: flex;
		border: 0px;
		flex-wrap: wrap;
		justify-content: space-around;
		border-left: 12px solid #8d89a5;
		/* border-radius: 6px; */
		min-height: 55px;
		/* border-radius: 2px; */
		border-bottom-left-radius: 10px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
	}

	input[type="radio"] {
		top: 0px;
	}

	.radio-container {
		/* margin: 20px; */
		display: flex;
		flex-direction: row;
		margin-left: 18px;
	}

	label.nds-radio__label {
		margin-top: 0px;
		margin-left: 0px;
		font-size: 16px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
		align-items: flex-start;
	}

	.texts {
		margin-left: 57px;
	}

	.botcontainer {
		height: 105px;
		width: 245%;
	}

	.containercolumn {
		flex-direction: column;
		margin-top: -50px;
	}

	.nds-form-element.nds-form-container {
		width: 90%;
		margin: 0 52px 20px;
		border-bottom: 0px;
	}

	.dropdowncolumn {
		width: 94%;
		margin: 0 27px 20px;
	}

	span.nds-m-right_x-small {
		margin-top: 10px;
	}

	.box {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}

	.box2 {
		width: 100%;
	}

	.bot1 {
		width: 58%;
		margin-top: 47px;
		margin-left: 11px;
	}

	.bot2 {
		width: 59%;
		margin-left: 11px;

		/* margin-left: -162px; */
	}

	.bot3 {
		width: 500px;
		margin-top: 20px;
	}

	.line {
		width: 330%;
		/* margin-left: -120px; */
	}

	.retbutton1 {
		width: 382px;
		height: 40px;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 12px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
	}

	.savebutton1 {
		width: 382px;
		height: 40px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 166px;
	}

	.button-container {
		margin-left: 30px;
	}

	.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
		width: 100%;
		padding: 20px;
		height: fit-content;
	}

	.column2 {
		width: 146%;
		margin-left: -53px;
	}

	.column1 {
		width: 157%;
		margin-left: -40px;
	}

	.statusRE {
		margin-left: 64px;
		width: 47%;
	}

	.category-box {
		cursor: pointer;
		padding: 10px;
		border: 1px solid #ccc;
		/* margin-bottom: 10px; */
		width: 100%;
		margin: 0 52px 20px;
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -122px; */
	}

	.category-box1 {
		cursor: pointer;
		padding: 10px;
		border: 1.4px solid #403a60;
		width: 100%;
		margin: 0 52px 20px;
		/* margin-bottom: 10px; */
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -122px; */
	}

	.imageNavi {
		height: 42px;
		/* width: 6%; */
		margin-top: 10px;
		margin-right: 76%;
		right: -50px;
	}

	.imageNaviNxt {
		height: 42px;
		/* width: 6%; */
		margin-top: 10px;
		margin-right: 77%;
		right: -50px;
	}

	p.b {
		margin-top: -38px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 312px;
		width: 100%;
		height: 48px;
		text-align: left;
	}

	p.c {
		margin-top: -38px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 312px;
		width: 100%;
		height: 48px;
		text-align: left;
	}

	p.d {
		margin-top: -37px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-size: 16px;
		line-height: 24px;
		margin-left: 312px;
		width: 100%;
		height: 48px;
		text-align: left;
	}

	p.e {
		margin-top: -36px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 312px;
		width: 100%;
		height: 48px;
		text-align: left;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.tophead {
		margin-bottom: 72px;
		font-size: 24px;
		width: 100%;
		height: 32px;
		margin-top: -106px;
	}

	.nds-form-element__control.nds-horizontal_radio {
		display: flex;
		border: 0px;
		flex-wrap: wrap;
		justify-content: space-around;
		border-left: 12px solid #8d89a5;
		/* border-radius: 6px; */
		min-height: 55px;
		/* border-radius: 2px; */
		border-bottom-left-radius: 10px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
	}

	input[type="radio"] {
		top: 0px;
	}

	.radio-container {
		/* margin: 20px; */
		display: flex;
		flex-direction: row;
		margin-left: 18px;
	}

	label.nds-radio__label {
		margin-top: 0px;
		margin-left: 0px;
		font-size: 16px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
		align-items: flex-start;
	}

	.texts {
		margin-left: 51px;
	}

	.botcontainer {
		height: 105px;
		width: 245%;
	}

	.containercolumn {
		flex-direction: column;
		margin-top: -50px;
	}

	.nds-form-element.nds-form-container {
		width: 90%;
		margin: 0 52px 20px;
		border-bottom: 0px;
	}

	.dropdowncolumn {
		width: 94%;
		margin: 0 27px 20px;
	}

	span.nds-m-right_x-small {
		margin-top: 10px;
	}

	.box {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}

	.box2 {
		width: 111%;
	}

	.bot1 {
		width: 39%;
		margin-top: 54px;
		margin-left: 11px;
	}

	.bot2 {
		width: 39%;
		margin-left: 11px;
	}

	.bot3 {
		width: 500px;
		margin-top: 20px;
	}

	.line {
		width: 330%;
		/* margin-left: -120px; */
	}

	.retbutton1 {
		width: 382px;
		height: 40px;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 12px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
	}

	.savebutton1 {
		width: 382px;
		height: 40px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 166px;
	}

	.button-container {
		margin-left: 30px;
	}

	.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
		width: 100%;
		padding: 20px;
		height: fit-content;
	}

	.column2 {
		width: 99%;
		margin-left: -55px;
	}

	.column1 {
		width: 105%;
		margin-left: -44px;
	}

	.statusRE {
		width: 66%;
		margin-left: 60px;
	}

	.category-box {
		cursor: pointer;
		padding: 10px;
		border: 1px solid #ccc;
		/* margin-bottom: 10px; */
		width: 90%;
		margin: 0 52px 20px;
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -122px; */
	}

	.category-box1 {
		cursor: pointer;
		padding: 10px;
		border: 1.4px solid #403a60;
		width: 90%;
		margin: 0 52px 20px;
		/* margin-bottom: 10px; */
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -122px; */
	}

	.imageNavi {
		height: 42px;
		/* width: 11%; */
		margin-top: 10px;
		margin-right: 76%;
		right: -50px;
	}

	.imageNaviNxt {
		height: 42px;
		/* width: 11%; */
		margin-top: 10px;
		margin-right: 77%;
		right: -50px;
	}

	p.b {
		margin-top: -38px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 217px; */
		width: 100%;
		height: 48px;
		margin-left: 173px;
	}

	p.c {
		margin-top: -38px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 215px; */
		width: 100%;
		height: 48px;
		margin-left: 174px;
	}

	p.d {
		margin-top: -37px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 215px; */
		width: 59%;
		height: 48px;

		margin-left: 172px;
	}

	p.e {
		margin-top: -36px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 219px; */
		width: 100%;
		height: 48px;
		margin-left: 168px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
	.tophead {
		/* margin-bottom: 110px;  */
		font-size: 24px;
		width: 93%;
		height: 64px;
		line-height: 32px;
		/* margin-top: -104px;*/
	}

	.nds-form-element__control.nds-horizontal_radio {
		display: flex;
		border: 0px;
		flex-wrap: wrap;
		justify-content: space-around;
		border-left: 12px solid #8d89a5;
		/* border-radius: 6px; */
		min-height: 55px;
		/* border-radius: 2px; */
		border-bottom-left-radius: 10px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
	}

	input[type="radio"] {
		top: 0px;
	}

	.radio-container {
		/* margin: 20px; */
		display: flex;
		flex-direction: row;
		margin-left: 18px;
	}

	label.nds-radio__label {
		margin-top: 0px;
		margin-left: 0px;
		font-size: 16px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
		align-items: flex-start;
	}

	.texts {
		width: 271%;
	}

	.botcontainer {
		height: 105px;
		width: 245%;
		margin-top: 39px;
	}

	.containercolumn {
		flex-direction: column;
		/* margin-top: -48px; */
		/* margin-left: -19PX; */
		width: 100%;
	}

	.nds-form-element.nds-form-container {
		width: 90%;
		margin: 0 25px 20px;
		border-bottom: 0px;
	}

	.dropdowncolumn {
		width: 94%;
		margin-left: 13px;
	}

	span.nds-m-right_x-small {
		margin-top: 10px;
	}

	.box {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}

	.box2 {
		width: 43%;
	}

	.bot1 {
		width: 39%;
		margin-top: 27px;
		margin-left: 10px;
	}

	.bot2 {
		width: 39%;
		margin-left: 10px;
	}

	.bot3 {
		width: 500px;
		margin-top: 20px;
	}

	.line {
		width: 361%;
	}

	.retbutton1 {
		width: 382px;
		height: 40px;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 12px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
	}

	.savebutton1 {
		width: 382px;
		height: 40px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 166px;
	}

	.button-container {
		margin-left: 30px;
	}

	.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
		width: 100%;
		padding: 20px;
		height: fit-content;
	}

	.column2 {
		width: 74%;
		/* margin-left: 26%; */
	}

	.column1 {
		width: 105%;
		margin-left: -17px;
	}

	.statusRE {
		text-align: left;
		/* width: 29%; */
	}

	.category-box {
		cursor: pointer;
		padding: 10px;
		border: 1px solid #ccc;
		margin-bottom: 10px;
		width: 364%;
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -122px; */
	}

	.category-box1 {
		cursor: pointer;
		padding: 10px;
		border: 1.4px solid #403a60;
		width: 364%;
		margin-bottom: 10px;
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: -122px; */
	}

	.imageNavi {
		height: 42px;
		/* width: 15%; */
		margin-top: 10px;
		margin-right: 76%;
		right: -50px;
	}

	.imageNaviNxt {
		height: 42px;
		/* width: 15%; */
		margin-top: 10px;
		margin-right: 77%;
		right: -50px;
	}

	p.b {
		margin-top: -50px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 104px;
		width: 61%;
		height: 48px;
		text-align: left;
	}

	p.c {
		margin-top: -46px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 106px;
		width: 67%;
		height: 48px;
		text-align: left;
	}

	p.d {
		margin-top: -58px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-size: 16px;
		line-height: 24px;
		margin-left: 106px;
		width: 59%;
		height: 48px;
		text-align: left;
	}

	p.e {
		margin-top: -47px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-left: 105px;
		width: 75%;
		height: 48px;
		text-align: left;
	}
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
	.tophead {
		/*margin-bottom: 110px; */
		font-size: 24px;
		width: 100%;
		height: 51px;
		/* margin-top: -105px;*/
	}

	.nds-form-element__control.nds-horizontal_radio {
		display: flex;
		border: 0px;
		flex-wrap: wrap;
		justify-content: space-around;
		border-left: 12px solid #8d89a5;
		/* border-radius: 6px; */
		min-height: 55px;
		/* border-radius: 2px; */
		border-bottom-left-radius: 10px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
	}

	input[type="radio"] {
		top: 0px;
	}

	.radio-container {
		/* margin: 20px; */
		display: flex;
		flex-direction: row;
		margin-left: 18px;
	}

	label.nds-radio__label {
		margin-top: 0px;
		margin-left: 0px;
		font-size: 16px;
	}

	span.nds-radio {
		border-bottom-right-radius: 10px;
		align-items: flex-start;
	}

	.texts {
		width: 62%;
	}

	.botcontainer {
		height: 36px;
		width: 245%;
	}

	.containercolumn {
		flex-direction: column;
		/* margin-top: -48px; */
		margin-left: -11px;
	}

	.nds-form-element.nds-form-container {
		width: 90%;
		margin: 0 40px 20px;
		border-bottom: 0px;
	}

	.dropdowncolumn {
		width: 94%;
		margin: -18px 21px 20px;
	}

	span.nds-m-right_x-small {
		margin-top: 10px;
	}

	.box {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}

	.box2 {
		width: 100%;
	}

	.bot1 {
		width: 39%;
		margin-top: 27px;
		margin-left: 10px;
	}

	.bot2 {
		width: 39%;
		margin-left: 10px;
	}

	.bot3 {
		width: 500px;
		margin-top: 20px;
	}

	.line {
		width: 96%;
		margin-left: 2%;
	}

	.retbutton1 {
		width: 382px;
		height: 40px;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 12px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
	}

	.savebutton1 {
		width: 382px;
		height: 40px;
		border-radius: 12px;
		border: 1.5px solid #403a60;
		padding: 12px, 24px, 12px, 24px;
		top: 266px;
		left: 166px;
	}

	.button-container {
		margin-left: 30px;
	}

	.nds-form-element__legend.nds-form-element__control-help.nds-radio-relative-tooltip.nds-show.nds-float_left {
		width: 100%;
		padding: 20px;
		height: fit-content;
	}

	.column2 {
		width: 100%;
		/* margin-left: 5%; */
	}

	.column1 {
		width: 101%;
		margin-left: -14px;
	}

	.statusRE {
		margin-left: 27px;
		width: 63%;
	}

	.category-box {
		cursor: pointer;
		padding: 10px;
		border: 1px solid #ccc;
		/* margin-bottom: 10px; */
		width: 96%;
		margin: 0 40px 10px 14px;
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: 14px; */
	}

	.category-box1 {
		cursor: pointer;
		padding: 10px;
		border: 1.4px solid #403a60;
		width: 96%;
		margin: 0 40px 10px 14px;
		/* margin-bottom: 10px; */
		height: 82px;
		border-radius: 12px;
		background-color: white;
		/* margin-left: 14px; */
	}

	.imageNavi {
		height: 42px;
		/* width: 15%; */
		margin-top: 10px;
		margin-right: 83%;
		right: -50px;
	}

	.imageNaviNxt {
		height: 42px;
		/* width: 15%; */
		margin-top: 10px;
		margin-right: 83%;
		right: -50px;
	}

	p.b {
		margin-top: -50px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 104px; */
		width: 61%;
		height: 48px;
		text-align: left;
	}

	p.c {
		margin-top: -46px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 106px; */
		width: 67%;
		height: 48px;
		text-align: left;
	}

	p.d {
		margin-top: -58px;
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 106px; */
		width: 59%;
		height: 48px;
		text-align: left;
	}

	p.e {
		font-family: "Eina-SemiBold";
		color: #403a60;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* margin-left: 105px; */
		width: 71%;
		height: 48px;
		text-align: left;
		margin-top: -47px;
	}
}