@font-face {
  font-family: "Eina-Regular";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Eina-Light";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Eina-SemiBold";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff")
    format("woff");
}

@font-face {
  font-family: "Eina-Bold";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff")
    format("woff");
}

.toastmsgforMbl {
  display: none;
}

.toastmsg {
  background: #dcf9d3;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -54px;
  padding: 32px 0px 32px 5%;
  border-radius: 4px 4px 0px 0px;
}

.imgsize {
  width: 27px;
  height: 30px;
}

.toastmsgclose {
  font-size: 20px;
  float: right;
  border-style: none;
  background: none;
  left: 93%;
  font-weight: 300;
  position: absolute;
  top: 125px;
  z-index: 1;
}

.flwtoastmsg {
  font-family: "Eina-Bold";
  font-size: 16px;
  width: 520px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #403a60;
}

.tickimage {
  position: relative;
  bottom: 12px;
  width: 25px;
  height: 27px;
}

.para {
  font-family: "Eina-Bold";
  font-size: 16px;
  line-height: 24px;
  color: #403a60;
  margin-left: 59px;
  margin-top: -15px;
  position: relative;
  bottom: 23px;
  right: 20px;
}

.toastmsgforMbl1 {
  display: none;
}

.toastmsg1 {
  display: block;
  background: #dcf9d3;
  height: 60px;
  margin-top: -60px;
  top: 140px;
  backface-visibility: hidden;
  padding: 32px 75px 32px 2%;
  border-radius: 4px 4px 0px 0px;
}

.para1 {
  font-family: "Eina-Bold";
  font-size: 16px;
  line-height: 24px;
  color: #403a60;
  margin-left: 59px;
  margin-top: -15px;
  position: relative;
  right: 20px;
}

.toastmsgclose1 {
  font-size: 20px;
  float: right;
  border-style: none;
  background: none;
  margin-top: -30px;
  margin-right: -20px;
  font-weight: 300;
  position: relative;
}

.total {
  width: 100%;
  display: flex;
  background-color: #fbfaf5;
  padding: 25px 5% 20px 5%;
  gap: 75px;
  padding-bottom: 80px;
  min-height: 66vh;
}

.avatar {
  margin-left: 100px;
  margin-top: 22px;
}

.avatarcontent {
  width: 286px;
  height: 120px;
  background-color: #ecdca8;
  margin-top: 20px;
  color: #403a60;
  border-radius: 8px;
  padding: 10px;
  margin-left: 17px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Eina-Regular";
}

.forMblresponse {
  display: none;
}

.avatarno {
  position: relative;
  left: 90px;
  margin-top: 20px;
}

.avatarcontentno {
  width: 286px;
  height: 120px;
  background-color: #ecdca8;
  margin-top: 20px;
  color: #403a60;
  border-radius: 8px;
  padding: 10px;
  margin-left: 17px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Eina-Regular";
}

.rightSide {
  width: 100%;
  position: relative;
  right: 13px;
  top: 17px;
}

.title {
  color: #403a60;
  font-size: 32px;
  font-family: "Eina-Bold";
  line-height: 44px;
  width: 100%;
}

.divclass {
  height: 80px;
  border-bottom: 2px solid #dfdde1;
  margin-top: 35px;
}

.avatarAndName {
  display: flex;
  gap: 30px;
  align-items: center;
}

.profileavatar {
  width: 50px;
  height: 50px;
  border-radius: 85%;
  cursor: pointer;
  background-color: white;
}

.name {
  border-radius: 43%;
  cursor: pointer;
  font-size: 14px;
  font-family: "Eina-SemiBold";
}

.Follow {
  width: 109px;
  height: 40px;
  border-radius: 12px;
  padding: 11px 24px 12px 24px;
  color: #403a60;
  line-height: 16px;
  font-size: 14px;
  position: relative;
  border: #403a60 solid 1.5px;
  background-color: white;
  font-family: "Eina-SemiBold";
  float: right;
  bottom: 45px;
}

.Following {
  width: 109px;
  height: 40px;
  margin-top: 10px;
  border-radius: 12px;
  padding: 11px 26px 12px 22px;
  color: white;
  line-height: 16px;
  position: relative;
  border: #403a60 solid 1.5px;
  background-color: #403a60;
  font-size: 14px;
  font-family: "Eina-SemiBold";
  float: right;
  bottom: 45px;
}

.postimage {
  margin-left: 36%;
  margin-top: 7%;
  width: 140px;
  height: 120px;
}

.text {
  font-size: 16px;
  position: relative;
  color: #403a60;
  line-height: 28px;
  text-align: center;
  left: 10%;
  margin-bottom: -50px;
  top: 25px;
  height: 210px;
  width: 70%;
  padding-right: 0px;
  font-family: "Eina-SemiBold";
}

.back {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  justify-content: center;
  align-items: center;
}

.popup-container {
  position: fixed;
  top: 244px;
  left: 50%;
  height: 324px;
  width: 672px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  background: #3f3f3d;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 32px 40px 32px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 2;
}

.profile {
  width: 180px;
  height: 44px;
  font-family: "Eina-Bold";
  font-size: 32px;
  line-height: 44px;
  position: relative;
  bottom: 10px;
}

.times {
  float: right;
  font-size: 20px;
  background: none;
  border: none;
  margin-top: -72px;
  margin-right: -35px;
  font-weight: 300;
}

.picname {
  text-align: center;
}

.popavatar {
  height: 100px;
  width: auto;
  border-radius: 40px;
}

.username {
  height: 24px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-family: "Eina-SemiBold";
  padding-top: 20px;
}

.popupbutton {
  width: 109px;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  border-radius: 12px;
  padding: 11px 24px 12px 24px;
  color: #403a60;
  float: right;
  border: #403a60 solid 1.5px;
  margin: 50px -10px 11px 100px;
  background-color: white;
  font-family: "Eina-SemiBold";
}

.popup1-container {
  position: fixed;
  top: 244px;
  left: 50%;
  height: 324px;
  width: 672px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  background: #3f3f3d;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 45px 40px 32px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 2;
}

.popup2-container {
  position: fixed;
  top: 244px;
  left: 50%;
  height: 324px;
  width: 672px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  background: #3f3f3d;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 45px 40px 32px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 2;
}

.popuptitle {
  color: #403a60;
  font-family: "Eina-Bold";
  font-size: 32px;
  line-height: 44px;
  margin-top: -20px;
}

.popupcontent {
  color: #2c333a;
  font-size: 20px;
  font-family: "Eina-Regular";
}

.xavatar {
  display: none;
}

.followno {
  width: 68px;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 12px;
  border: #403a60 solid 1.5px;
  background-color: white;
  color: #403a60;
  padding: 10px 24px 30px 22px;
  margin: 30px 34px 50px 420px;
  font-family: "Eina-SemiBold";
}

.followyes {
  width: 68px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #403a60;
  color: white;
  padding: 10px 24px 30px 22px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Eina-SemiBold";
}

.followno1 {
  width: 68px;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 12px;
  border: #403a60 solid 1.5px;
  background-color: white;
  color: #403a60;
  padding: 10px 24px 30px 22px;
  margin: 30px 34px 50px 420px;
  font-family: "Eina-SemiBold";
}

.followyes1 {
  width: 68px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #403a60;
  color: white;
  padding: 10px 24px 30px 22px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Eina-SemiBold";
}

.times3 {
  float: right;
  font-size: 20px;
  background: none;
  border: none;
  position: relative;
  bottom: 25px;
  left: 25px;
}

.contentonly {
  color: #2c333a;
  font-size: 20px;
  font-family: "Eina-Regular";
}

.times2 {
  float: right;
  font-size: 20px;
  background: none;
  border: none;

  position: relative;
  bottom: 15px;
  left: 20px;
}

.popupbuttonFollowing {
  width: 109px;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  position: relative;
  bottom: 5px;
  border-radius: 12px;
  padding: 11px 24px 12px 24px;
  background-color: #403a60;
  float: right;
  border: #403a60 solid 1.5px;
  margin: 55px 15px 11px 0px;
  color: white;
  font-family: "Eina-SemiBold";
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.toastmsgcloseformbl {
  display: none;
}

@media only screen and (max-width: 400px) {
  .background {
    background-color: #f6efd9;
  }

  .widthformbl {
    width: 90%;
  }

  .classflex {
    display: flex;

    gap: 24px;
    width: 110%;
    position: relative;
  }

  .tickimage {
    position: relative;
    top: 10px;
    left: -6%;
    width: 25px;
    height: 27px;
  }

  .toastmsg {
    display: none;
  }

  .toastmsgcloseformbl {
    display: block;
    z-index: 1;
    font-size: 20px;
    float: right;
    border-style: none;
    background: none;
    margin-top: -32px;
    position: relative;
    left: 48%;
    top: -6px;
  }

  .toastmsgforMbl {
    display: block;
    background: #dcf9d3;
    height: auto;
    backface-visibility: hidden;
    padding: 5px 83px 18px 54px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: 45px;
    width: 131%;
    right: 65px;
  }

  .para {
    font-family: "Eina-Bold";
    font-size: 14px;
    line-height: 24px;
    color: #403a60;
    margin-left: 20px;
    position: relative;
    left: 2px;
    bottom: 3px;
  }

  .toastmsgclose {
    display: none;
  }

  .toastmsg1 {
    display: none;
  }

  .toastmsgforMbl1 {
    display: block;
    background: #dcf9d3;
    height: auto;
    backface-visibility: hidden;
    padding: 5px 83px 18px 54px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: 75px;
    width: 131%;
    right: 65px;
  }

  .para1 {
    font-family: "Eina-Bold";
    font-size: 14px;
    line-height: 24px;
    color: #403a60;
    margin-left: 20px;
    position: relative;
    left: 2px;

    bottom: 3px;
  }

  .toastmsgclose1 {
    font-size: 17px;
    float: right;
    border-style: none;
    background: none;
    margin-top: -30px;
    margin-right: -59px;
    font-weight: 300;
  }

  .total {
    width: 100%;
    flex-direction: column;
    background-color: #fbfaf5;
    position: relative;
    gap: 0px;
    padding-left: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .backgroundtop {
    background-color: #f6efd9;
    height: 170px;
    position: relative;
    bottom: 45px;
    width: 124%;
    right: 46px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .avatar {
    width: 63.2px;
    height: 79.2px;
    position: relative;
    right: 35%;
    bottom: 81px;
    gap: 0px;
    display: flex;
  }

  .avatarcontent {
    width: 226px;
    height: auto;
    position: relative;
    left: 26%;
    bottom: 148px;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 5px;
    font-size: 12px;
    flex-direction: column;
    font-family: "Eina-Regular";
  }

  .forMblresponse {
    display: block;
    background: linear-gradient(
      90deg,
      #6f511d 0%,
      #926b45 17.19%,
      #ecdca8 58.85%,
      #6f511d 100%
    );
    width: 121%;
    height: 4px;
    position: relative;
    right: 38px;
    bottom: 123px;
  }

  .avatarno {
    width: 63.2px;
    position: relative;
    height: 97.2px;
    left: 22px;
    top: 7px;
  }

  .avatarcontentno {
    width: 68%;
    position: relative;
    left: 23%;
    display: flex;
    bottom: 101px;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 5px;
    font-size: 12px;

    font-family: "Eina-Regular";
  }

  .noavatar {
    opacity: 0;
    margin-bottom: 97px;
  }

  .xavatar {
    position: relative;
    left: 12%;
    display: block;
    bottom: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .avatarcontentdis {
    position: relative;
    width: 98%;
    bottom: 0px;
    display: flex;
  }

  .title {
    color: #403a60;
    font-size: 20px;
    font-family: "Eina-Bold";
    line-height: 44px;
    position: relative;
    right: 16px;
    bottom: 64px;
  }

  .divclass {
    position: relative;
    bottom: 60px;
    right: 18px;
    margin-top: 12px;
    height: 92px;
    width: 113%;
  }

  .avatarAndName {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
    right: -6px;
  }

  .profileavatar {
    width: 45px;
    height: 37px;

    background-color: white;
  }

  .name {
    font-size: 12px;
  }

  .Follow {
    width: 84px;
    height: 37px;
    padding: 0px;
    font-size: 12px;
    left: -1px;
    bottom: 4px;
  }

  .Following {
    width: 85px;
    height: 38px;
    font-size: 12px;
    bottom: 14px;
    padding: 0px;
    left: -1px;
  }

  .postimage {
    margin-left: 31%;
    position: relative;
    bottom: 45px;
    width: 140px;
    height: 120px;
  }

  .text {
    font-size: 14px;
    position: relative;
    color: #403a60;
    line-height: 28px;
    width: 95%;
    left: 9%;
    text-align: center;
    margin-bottom: 0px;
    top: -27px;
    font-family: "Eina-SemiBold";
  }

  .popup-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 285px;
    width: 300px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 32px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .picname {
    text-align: center;
    margin-top: 20px;
  }

  .popavatar {
    height: 60px;
    width: 50px;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 22px;
    border-radius: 27px;
  }

  .username {
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Eina-SemiBold";
    position: relative;
    bottom: 27px;
  }

  .popupbutton {
    width: 90px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 23px 60px 0px 71px;
    background-color: white;
    font-family: "Eina-SemiBold";
  }

  .times {
    float: right;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: -63px;
    margin-right: -35px;
  }

  .popup1-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 400px;
    width: 296px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 40px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popup2-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 362px;
    width: 296px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 36px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popuptitle {
    color: #403a60;
    font-family: "Eina-Bold";
    font-size: 20px;
    position: relative;
    line-height: 44px;
    margin-top: -14px;
    right: 14px;
    width: auto;
  }

  .profile {
    width: 180px;
    height: 44px;
    font-family: "Eina-Bold";
    font-size: 24px;
    line-height: 44px;
    position: relative;
    bottom: 19px;
    right: 11px;
  }

  .popupcontent {
    color: #2c333a;
    line-height: 22px;
    font-size: 15px;
    width: 105%;
    position: relative;
    font-family: "Eina-Regular";
    right: 10px;
    top: 10px;
  }

  .contentonly {
    font-size: 14px;
    font-family: "Eina-Regular";
    color: #2c333a;
    line-height: 22px;
    width: 116%;
    margin-bottom: 16px;
    position: relative;
    right: 10px;
  }

  .followno1 {
    width: 240px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: 34px;
    right: 433px;
    border-radius: 12px;
    border: #403a60 solid 1.7px;
    background-color: white;
    color: #403a60;
    font-family: "Eina-SemiBold";
  }

  .followno {
    width: 240px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: 50px;
    right: 433px;
    border-radius: 12px;
    border: #403a60 solid 1.7px;
    background-color: white;
    color: #403a60;
    font-family: "Eina-SemiBold";
  }

  .followyes1 {
    float: right;
    font-size: 15px;
    position: relative;
    bottom: 115px;
    width: 240px;
    right: 22px;
    border: none;
    margin-bottom: 0px;
    margin-right: -35px;
    font-weight: 300;
  }

  .followyes {
    width: 240px;
    height: 40px;
    position: relative;
    bottom: 98px;
    right: 13px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: "Eina-SemiBold";
  }

  .popupbuttonFollowing {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    position: relative;
    bottom: 5px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    background-color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 23px 51px 0px 0px;
    color: white;
    font-family: "Eina-SemiBold";
  }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
  .toastmsg {
    display: none;
  }

  .toastmsgforMbl {
    display: block;
    background: #dcf9d3;
    height: auto;
    backface-visibility: hidden;
    padding: 14px 79px 14px 30px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: 39px;
    width: 134%;
    right: 50px;
  }

  .toastmsgcloseformbl {
    display: block;
    z-index: 1;
    font-size: 20px;
    float: right;
    border-style: none;
    background: none;
    margin-top: -33px;
    font-weight: 300;
    margin-left: auto;
    position: relative;
    left: 26px;
    top: 10px;
  }

  .classflex {
    display: flex;
  }

  .para {
    font-family: "Eina-Bold";
    font-size: 13px;
    line-height: 24px;
    color: #403a60;
    position: relative;
    left: -20px;
    width: 540px;
    bottom: 6px;
  }

  .parausername {
    font-family: "Eina-Bold";
    font-size: 16px;
    line-height: 24px;
    color: #403a60;
    margin-left: 16px;
  }

  .toastmsgclose {
    display: none;
  }

  .toastmsg1 {
    display: none;
  }

  .toastmsgforMbl1 {
    display: block;
    background: #dcf9d3;
    height: auto;
    backface-visibility: hidden;
    padding: 14px 79px 14px 30px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: 39px;
    width: 128%;
    right: 50px;
  }

  .para1 {
    font-family: "Eina-Bold";
    font-size: 13px;
    line-height: 24px;
    color: #403a60;
    position: relative;
    left: -20px;
    width: 540px;
    bottom: 6px;
  }

  .parausername1 {
    font-family: "Eina-Bold";
    font-size: 16px;
    line-height: 24px;
    color: #403a60;
    margin-left: 16px;
  }

  .toastmsgclose1 {
    font-size: 20px;
    float: right;
    border-style: none;
    background: none;
    margin-top: -30px;
    font-weight: 300;
    margin-left: auto;
    position: relative;
    left: 35px;
    top: 2px;
  }

  .tickimage {
    top: 5px;
    width: 25px;
    right: 0%;
    position: relative;
    height: 27px;
  }

  .total {
    width: 100%;
    display: flex;
    background-color: #fbfaf5;
    padding: 42px;
    overflow: hidden;
    gap: 0px;
    flex-direction: column;
  }

  .backgroundtop {
    background-color: #f6efd9;
    width: 128%;
    right: 42px;
    bottom: 43px;
    height: 160px;
    position: relative;
  }

  .avatar {
    width: 70px;
    margin-left: -5%;
    margin-top: -25px;
  }

  .xavatar {
    position: relative;
    font-size: 18px;
    display: block;
    width: 12px;
    cursor: pointer;
  }

  .contentonly {
    color: #2c333a;
    width: 102%;
    font-size: 15px;
    font-family: "Eina-Regular";
  }

  .avatarcontent {
    width: auto;
    height: auto;
    background-color: #ecdca8;
    position: relative;
    bottom: 120px;
    color: #403a60;
    border-radius: 8px;
    padding: 10px;
    margin-left: 100px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .forMblresponse {
    display: block;
    background: linear-gradient(
      90deg,
      #6f511d 0%,
      #926b45 17.19%,
      #ecdca8 58.85%,
      #6f511d 100%
    );
    width: 124%;
    height: 4px;
    position: relative;
    right: 12%;
    bottom: 130px;
  }

  .avatarno {
    width: 70px;
    position: relative;
    left: 28px;
    top: 17px;
  }

  .avatarcontentno {
    width: 66%;
    display: flex;
    background-color: #ecdca8;
    margin-top: 33px;
    margin-bottom: 0px;
    color: #403a60;
    border-radius: 8px;
    padding: 10px;
    margin-left: 28%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
    position: relative;
    bottom: 105px;
  }

  .noavatar {
    opacity: 0;
    width: 246px;
    height: 130px;
    background-color: #ecdca8;
    margin-top: 0px;
    color: #403a60;
    border-radius: 8px;
    padding: 10px;
    margin-left: 30%;
    font-size: 14px;
    margin-bottom: 54px;
    line-height: 20px;
    font-family: "Eina-Regular";
    position: relative;
    bottom: 120px;
  }

  .popupbuttonFollowing {
    margin: 55px -12px 11px 0px;
  }

  .popavatar {
    border-radius: 40px;
  }

  .avatarcontentdis {
    position: relative;
    width: 97%;
  }

  .times {
    float: right;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: -72px;
    margin-right: -35px;
    font-weight: 300;
  }

  .title {
    color: #403a60;
    font-size: 24px;
    font-family: "Eina-Bold";
    line-height: 44px;
    width: 100%;
    margin-top: -40px;
    margin-left: -20px;
  }

  .divclass {
    width: 117%;
    right: 20px;
    position: relative;
    bottom: -10px;
    margin-top: 19px;
    border-bottom: 2px solid #dfdde1;
  }

  .avatarAndName {
    gap: 8px;
  }

  .postimage {
    margin-left: 43%;
    margin-top: 6%;
  }

  .text {
    font-size: 16px;
    position: relative;
    color: #403a60;
    line-height: 28px;
    text-align: center;
    left: 18%;
    top: 13px;
    height: 210px;
    width: 86%;
    padding-right: 0px;
    font-family: "Eina-SemiBold";
  }

  .name {
    border-radius: 43%;
    cursor: pointer;
    font-size: 13px;
    font-family: "Eina-SemiBold";
  }

  .popup-container {
    width: 380px;
  }

  .Follow {
    width: 99px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    border: #403a60 solid 1.5px;
    background-color: white;
    font-family: "Eina-SemiBold";
    float: right;
    bottom: 45px;
  }

  .Following {
    width: 99px;
    height: 40px;
    margin-top: 10px;
    border-radius: 12px;
    padding: 11px 26px 12px 20px;
    color: white;
    line-height: 16px;
    position: relative;
    border: #403a60 solid 1.5px;
    background-color: #403a60;
    font-size: 14px;
    font-family: "Eina-SemiBold";
    float: right;
    bottom: 45px;
  }

  .popupbutton {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 58px -10px 11px 100px;
    background-color: white;
    font-family: "Eina-SemiBold";
  }

  .popup1-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 368px;
    width: 360px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 30px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popup2-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 365px;
    width: 360px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 25px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popuptitle {
    color: #403a60;
    font-family: "Eina-Bold";
    font-size: 22px;
    margin-top: -6px;
    line-height: 44px;
  }

  .popupcontent {
    color: #2c333a;
    font-size: 16px;
    font-family: "Eina-Regular";
  }

  .followno {
    width: 278px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    font-family: "Eina-SemiBold";
    position: relative;
    top: 40px;
    right: 420px;
  }

  .followyes {
    width: 278px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    position: relative;
    line-height: 16px;
    font-family: "Eina-SemiBold";
    bottom: 100px;
    left: 0px;
  }

  .followno1 {
    width: 278px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    font-family: "Eina-SemiBold";
    position: relative;
    top: 65px;
    right: 420px;
  }

  .followyes1 {
    width: 278px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    position: relative;
    line-height: 16px;
    font-family: "Eina-SemiBold";
    bottom: 88px;
    left: 0px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .toastmsg {
    display: none;
  }

  .toastmsgforMbl {
    display: block;
    background: #dcf9d3;
    height: auto;
    backface-visibility: hidden;
    padding: 32px 83px 27px 87px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: 75px;
    width: 129%;
    right: 14%;
  }

  .classflex {
    display: flex;
    gap: 9%;
  }

  .toastmsgclose {
    display: none;
  }

  .tickimage {
    position: relative;
    bottom: 9px;
    left: 2%;
  }

  .para {
    font-family: "Eina-Bold";
    font-size: 14px;
    line-height: 24px;
    color: #403a60;
    margin-top: -35px;
    width: 250%;
    left: -11px;
    position: relative;
    top: 0px;
  }

  .toastmsgcloseformbl {
    font-size: 20px;
    float: right;
    display: block;
    border-style: none;
    background: none;
    position: relative;
    font-weight: 300;
    left: 46%;
    bottom: 26px;
    z-index: 1111;
  }

  .toastmsg1 {
    display: none;
  }

  .toastmsgforMbl1 {
    display: block;
    background: #dcf9d3;
    height: auto;
    backface-visibility: hidden;
    padding: 32px 83px 27px 87px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: 76px;
    width: 129%;
    right: 14%;
  }

  .para1 {
    font-family: "Eina-Bold";
    font-size: 14px;
    line-height: 24px;
    color: #403a60;
    margin-top: -35px;
    width: 250%;
    position: relative;
    top: 2px;
  }

  .toastmsgclose1 {
    font-size: 20px;
    float: right;
    border-style: none;
    background: none;
    margin-top: -51px;
    margin-left: auto;
    font-weight: 300;
    top: 3px;
  }

  .total {
    height: 100%;
    overflow: hidden;
    width: 104%;
    flex-direction: column;
    background-color: #fbfaf5;
    position: relative;
    right: 20px;
    gap: 0px;
  }

  .backgroundtop {
    width: 138%;
    position: relative;
    background-color: #f6efd9;
    height: 178px;
    bottom: 45px;
    right: 18px;
  }

  .avatar {
    width: 78px;
    height: 0%;
    position: relative;
    bottom: 56px;
    gap: 0px;
    display: flex;
    margin-left: 3%;
  }

  .avatarcontent {
    width: auto;
    position: relative;
    left: 29%;
    height: auto;
    bottom: 156px;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Eina-Regular";
    margin-right: 24%;
  }

  .forMblresponse {
    display: block;
    background: linear-gradient(
      90deg,
      #6f511d 0%,
      #926b45 17.19%,
      #ecdca8 58.85%,
      #6f511d 100%
    );
    width: 112%;
    height: 4px;
    position: relative;
    right: 4%;
    bottom: 159px;
  }

  .avatarno {
    width: 87px;
    top: 20px;
    margin-bottom: 38px;
    position: relative;
    left: 39px;
  }

  .avatarcontentno {
    position: relative;
    display: flex;
    left: 30%;
    bottom: 146px;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Eina-Regular";
    margin-right: 24%;
    height: auto;
  }

  .noavatar {
    width: auto;
    position: relative;
    left: 24%;
    height: 100px;
    bottom: 156px;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    font-family: "Eina-Regular";
    margin-right: 24%;
    margin-top: 40px;
  }

  .xavatar {
    position: relative;
    display: block;
    width: 12px;
    cursor: pointer;
  }

  .avatarcontentdis {
    position: relative;
    width: 96%;
  }

  .rightSide {
    right: 0px;
    padding: 25px;
  }

  .title {
    color: #403a60;
    font-size: 30px;
    font-family: "Eina-Bold";
    line-height: 44px;
    position: relative;
    bottom: 160px;
    margin-top: 84px;
    right: 10px;
  }

  .divclass {
    width: 100%;
    position: relative;
    bottom: 160px;
    margin-top: 25px;
    border-bottom: 2px solid #dfdde1;
  }

  .postimage {
    margin-left: 40%;
    position: relative;
    margin-top: -32%;
  }

  .text {
    font-size: 16px;
    position: relative;
    color: #403a60;
    line-height: 28px;
    text-align: center;
    left: 18%;
    top: 13px;
    height: 210px;
    width: 70%;
    padding-right: 0px;
    font-family: "Eina-SemiBold";
  }

  .popup-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 285px;
    width: 460px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 32px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .picname {
    text-align: center;
  }

  .popavatar {
    height: 75px;
    width: 65px;
  }

  .times {
    float: right;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: -72px;
    margin-right: -35px;
    font-weight: 300;
  }

  .username {
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    font-family: "Eina-SemiBold";
  }

  .popupbutton {
    width: 90px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 25px;
    color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    background-color: white;
    font-family: "Eina-SemiBold";
  }

  .popup1-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 377px;
    width: 360px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 45px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popup2-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 365px;
    width: 360px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 25px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popuptitle {
    color: #403a60;
    font-family: "Eina-Bold";
    font-size: 24px;
    line-height: 44px;
    margin-top: -26px;
  }

  .second {
    margin-top: -6px;
  }

  .popupcontent {
    color: #2c333a;
    font-size: 16px;
    font-family: "Eina-Regular";
  }

  .followno1 {
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: 45px;
    right: 423px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    font-family: "Eina-SemiBold";
  }

  .followyes1 {
    width: 95%;
    height: 40px;
    position: relative;
    bottom: 105px;
    right: 3px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: "Eina-SemiBold";
  }

  .followno {
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: 45px;
    right: 423px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    font-family: "Eina-SemiBold";
  }

  .followyes {
    width: 95%;
    height: 40px;
    position: relative;
    bottom: 98px;
    right: 3px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: "Eina-SemiBold";
  }

  .contentonly {
    width: 83%;
    font-size: 15px;
    margin-bottom: 45px;
  }

  .popupbuttonFollowing {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    position: relative;
    bottom: 5px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    background-color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 45px 0px 11px 97px;
    color: white;
    font-family: "Eina-SemiBold";
  }
}

@media only screen and (min-width: 601px) and (max-width: 680px) {
  .toastmsg {
    display: block;
    background: #dcf9d3;
    height: auto;
    margin-top: -59px;
    top: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
    backface-visibility: hidden;
    border-radius: 4px 4px 0px 0px;
  }

  .flwtoastmsg {
    font-family: "Eina-Bold";
    font-size: 16px;
    width: 520px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #403a60;
    position: relative;
    left: 40px;
    bottom: 26px;
  }

  .toastmsgclose {
    font-size: 20px;
    float: right;
    border-style: none;
    background: none;
    margin-top: 14px;
    top: 18px;
    left: -30px;
    font-weight: 300;
    position: relative;
    z-index: 1;
  }

  .widthformob {
    width: 40%;
  }

  .avatar {
    width: 40%;
    margin-left: 13%;
  }

  .backgroundtop {
    width: 54%;
  }

  .avatarcontent {
    width: 90%;
    height: auto;
    background-color: #ecdca8;
    margin-top: 20px;
    color: #403a60;
    border-radius: 8px;
    padding: 10px;
    margin-left: -15px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .avatarno {
    width: 100px;
    position: relative;
    left: 40px;
  }

  .avatarcontentno {
    width: 130%;
    height: auto;
    background-color: #ecdca8;
    margin-top: 20px;
    color: #403a60;
    border-radius: 8px;
    padding: 10px;
    margin-left: -15px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .divclass {
    height: 100px;
    border-bottom: 2px solid #dfdde1;
    margin-top: 35px;
  }

  .Follow {
    width: 109px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    border: #403a60 solid 1.5px;
    background-color: white;
    font-family: "Eina-SemiBold";
    float: right;
    bottom: 5px;
  }

  .Following {
    width: 109px;
    height: 40px;
    margin-top: 10px;
    border-radius: 12px;
    padding: 11px 26px 12px 22px;
    color: white;
    line-height: 16px;
    position: relative;
    border: #403a60 solid 1.5px;
    background-color: #403a60;
    font-size: 14px;
    font-family: "Eina-SemiBold";
    float: right;
    bottom: 15px;
  }

  .avatarAndName {
    gap: 3px;
  }

  .xavatar {
    display: none;
  }

  .postimage {
    margin-left: 20%;
    margin-top: 6%;
  }

  .popup-container {
    width: 90%;
  }

  .popavatar {
    height: 100px;
    width: auto;
  }

  .username {
    height: 24px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Eina-SemiBold";
  }

  .popup1-container {
    width: 97%;
    padding-left: 23px;
  }

  .followno {
    width: 68px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    margin: 30px 34px 50px 330px;
    font-family: "Eina-SemiBold";
  }

  .followno1 {
    width: 68px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    margin: 30px 34px 50px 282px;
    font-family: "Eina-SemiBold";
  }

  .followyes {
    width: 68px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 225px;
  }

  .followyes1 {
    width: 68px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: "Eina-SemiBold";
  }

  .times {
    float: right;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: -62px;
    margin-right: -28px;
    font-weight: 300;
  }

  .popupcontent {
    color: #2c333a;
    font-size: 18px;
    margin-top: 17px;
    font-family: "Eina-Regular";
  }

  .contentonly {
    font-size: 18px;
    color: #2c333a;
    width: 105%;
    font-family: "Eina-Regular";
  }

  .popup2-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 324px;
    width: 91%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 45px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popupbuttonFollowing {
    margin-top: 55px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 680px) and (max-width: 767px) {
  .total {
    gap: 5px;
  }

  .divclass {
    height: 100px;
    border-bottom: 2px solid #dfdde1;
    margin-top: 35px;
  }

  .Follow {
    width: 109px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    border: #403a60 solid 1.5px;
    background-color: white;
    font-family: "Eina-SemiBold";
    float: right;
    bottom: 5px;
  }

  .Following {
    width: 109px;
    height: 40px;
    margin-top: 10px;
    border-radius: 12px;
    padding: 11px 26px 12px 22px;
    color: white;
    line-height: 16px;
    position: relative;
    border: #403a60 solid 1.5px;
    background-color: #403a60;
    font-size: 14px;
    font-family: "Eina-SemiBold";
    float: right;
    bottom: 12px;
  }

  .backgroundtop {
    width: 480px;
  }

  .widthformob {
    width: 38%;
  }

  .avatar {
    height: auto;
    margin-left: 7%;
    margin-top: 22px;
  }

  .avatarcontent {
    width: 70%;
    height: auto;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 8px;
    position: relative;
    right: 10%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .forMblresponse {
    display: none;
  }

  .avatarno {
    position: relative;
    left: 35px;
  }

  .avatarcontentno {
    width: 85%;
    height: auto;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 8px;
    position: relative;
    right: 10%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .xavatar {
    display: none;
  }

  .postimage {
    margin-left: 23%;
    margin-top: 6%;
  }

  .back {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .popup-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 324px;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 32px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .profile {
    width: 180px;
    height: 44px;
    font-family: "Eina-Bold";
    font-size: 32px;
    line-height: 44px;
    position: relative;
    bottom: 10px;
  }

  .times {
    float: right;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: -72px;
    margin-right: -35px;
    font-weight: 300;
  }

  .popavatar {
    height: 100px;
    width: auto;
  }

  .username {
    height: 24px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Eina-SemiBold";
  }

  .popupbutton {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 50px -10px 11px 100px;
    background-color: white;
    font-family: "Eina-SemiBold";
  }

  .popup1-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 324px;
    width: 645px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 45px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popuptitle {
    color: #403a60;
    font-family: "Eina-Bold";
    font-size: 32px;
    line-height: 44px;
    margin-top: -20px;
  }

  .popupcontent {
    color: #2c333a;
    font-size: 20px;
    font-family: "Eina-Regular";
  }

  .followno {
    width: 68px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    margin: 30px 34px 50px 390px;
    font-family: "Eina-SemiBold";
  }

  .followyes {
    width: 68px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: "Eina-SemiBold";
  }

  .contentonly {
    color: #2c333a;
    width: 102%;
    font-size: 20px;
    font-family: "Eina-Regular";
  }

  .popupbuttonFollowing {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    position: relative;
    bottom: 5px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    background-color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 55px 0px 11px 100px;
    color: white;
    font-family: "Eina-SemiBold";
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .total {
    gap: 30px;
  }

  .xavatar {
    display: none;
  }

  .times2 {
    float: right;
    font-size: 25px;
    background: none;
    border: none;
    position: relative;
    bottom: 35px;
    left: 36px;
  }

  .widthformob {
    width: 45%;
  }

  .widthformobno {
    width: 100%;
  }

  .avatar {
    height: 130px;
    margin-left: 16%;
    margin-top: 1px;
  }

  .avatarcontent {
    height: auto;
    width: 70%;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 8px;
    position: relative;
    right: 8%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .forMblresponse {
    display: none;
  }

  .avatarno {
    height: 120px;
    margin-top: 1px;
    position: relative;
    left: 50px;
  }

  .avatarcontentno {
    height: auto;
    width: 190px;
    background-color: #ecdca8;
    color: #403a60;
    border-radius: 8px;
    position: relative;
    right: 8%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Eina-Regular";
  }

  .postimage {
    margin-left: 32%;
  }

  .back {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .popup-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 324px;
    width: 672px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 32px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .profile {
    width: 180px;
    height: 44px;
    font-family: "Eina-Bold";
    font-size: 32px;
    line-height: 44px;
    position: relative;
    bottom: 10px;
  }

  .times {
    float: right;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: -60px;
    margin-right: -35px;
    font-weight: 300;
  }

  .popavatar {
    height: 100px;
    width: auto;
    border-radius: 50px;
  }

  .username {
    height: 24px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Eina-SemiBold";
  }

  .popupbutton {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 55px -10px 11px 100px;
    background-color: white;
    font-family: "Eina-SemiBold";
  }

  .popup1-container {
    position: fixed;
    top: 244px;
    left: 50%;
    height: 324px;
    width: 672px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    background: #3f3f3d;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 45px 40px 32px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 2;
  }

  .popuptitle {
    color: #403a60;
    font-family: "Eina-Bold";
    font-size: 32px;
    line-height: 44px;
    margin-top: -20px;
  }

  .popupcontent {
    color: #2c333a;
    font-size: 20px;
    font-family: "Eina-Regular";
  }

  .followno {
    width: 68px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: #403a60 solid 1.5px;
    background-color: white;
    color: #403a60;
    margin: 30px 34px 50px 420px;
    font-family: "Eina-SemiBold";
  }

  .followyes {
    width: 68px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #403a60;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: "Eina-SemiBold";
  }

  .popupbuttonFollowing {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    position: relative;
    bottom: 5px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    background-color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 50px 10px 11px 100px;
    color: white;
    font-family: "Eina-SemiBold";
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .xavatar {
    display: none;
  }

  .popupbutton {
    width: 109px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    border-radius: 12px;
    padding: 11px 24px 12px 24px;
    color: #403a60;
    float: right;
    border: #403a60 solid 1.5px;
    margin: 55px -10px 11px 100px;
    background-color: white;
    font-family: "Eina-SemiBold";
  }
}

@media only screen and (min-width: 992px) {
  .toastmsgclose {
    top: 154px;
  }
}

@media only screen and (min-width: 1330px) and (max-width: 1920px) {
  .text {
    width: 600px;
    left: 90px;
  }

  .postimage {
    margin-left: 310px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  .widthformbl {
    margin-left: 15%;
  }
}