.custom-box2 {
  width: -webkit-fill-available;
  display: grid;
}
.displayHeader {
  display: flex;
  justify-content: end;
}
.footerLink {
  text-decoration: none;
  color: #403a60;
  font-size: 14px;
  font-weight: 400;
}
.grid-containerfooter {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 20px;
  padding: 10px;
  width: fit-content;
}
.layoutColor {
  background-color: #fbfaf5;
  min-height: 400px;
}
.grid-containerTabs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 20px;
  padding: 10px;
  width: fit-content;
}
.tabsDiv {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #dad7d7;
}

.anchorText {
  text-decoration: none;
  color: #403a60;
  font-size: 16px;
  font-weight: 400;
}
.anchorTextActive {
  text-decoration: none;
  color: #403a60;
  font-size: 16px;
  font-weight: 800;
}

/*--CSS Media Queries---*/
@media only screen and (max-width: 400px) {
  .pad {
    padding-left: 20px;
    padding-right: 20px;
  }
  .custom-box2 {
    width: 100%;
    position: relative;
    bottom: 35px;
    left: 0px;
  }
  .pdv {
    width: 100%;
  }
  .custom-box1 {
    margin-left: 20px;
    margin-top: -30px;
  }
  /* .custom-box2{
		width: 100%;
        position: relative;
        bottom: 110px;
		left: 0px;
	} */
  .layoutColor {
    background-color: #fbfaf5;
    height: auto;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .custom-box1 {
       position: relative;
    bottom: 35px;
    left: 4%;
    padding-right: 15px;
  }
  .custom-box2 {
    position: relative;
    bottom: 71px;
  }.lightningcard{
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .pad {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }

  .tabClass {
    display: none;
    width: 100%;
    background-color: white;
  }
  .showMobileBorder {
    display: flex;
    height: 5px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #744f0d 0%,
      #99693e 17.19%,
      #efdba1 58.85%,
      #744f0d 100%
    );
  }
}

@media only screen and (min-width: 601px) {
  .pad {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tabClass {
    display: none;
    width: 100%;
    background-color: white;
  }
  .showMobileBorder {
    display: flex;
    height: 5px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #744f0d 0%,
      #99693e 17.19%,
      #efdba1 58.85%,
      #744f0d 100%
    );
  }
}
@media only screen and (min-width: 768px) {
  .pad {
    padding-left: 40px;
    padding-right: 0px;
  }
  .tabClass {
    display: none;
    width: 100%;
    background-color: white;
  }
  .showMobileBorder {
    display: none;
  }
  .custom-box2 {
    margin-top: 0%;
    margin-left: 12%;
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .pad {
    padding-left: 5%;
    padding-right: 0%;
  }
  .tabClass {
    display: grid;
    width: 100%;
    background-color: white;
  }
  .showMobileBorder {
    display: none;
  }
  .custom-box2 {
    margin-top: 0%;
    margin-left: 15%;
    width: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .pad {
    padding-left: 5%;
    padding-right: 5%;
  }
  .tabClass {
    display: grid;
    width: 100%;
    background-color: white;
  }
  .showMobileBorder {
    display: none;
  }
  .custom-box2 {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 1%;
  }
}
@media only screen and (min-width: 1500px) {
  .pad {
    padding-left: 5%;
    padding-right: 5%;
  }
  .tabClass {
    display: grid;
    width: 100%;
    background-color: white;
  }
  .showMobileBorder {
    display: none;
  }
  .custom-box2 {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 1%;
  }
}