.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	right: 8%;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.displayHeader {
	display: flex;
	justify-content: end;
}

.footerLink {
	text-decoration: none;
	color: #403a60;
	font-size: 14px;
	font-weight: 400;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.layoutColor {
	background-color: #fbfaf5;
	min-height: 400px;
	position: relative;
	width: 106%;
	right: 6%;
}

.grid-containerTabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.tabsDiv {
	width: 100%;
	text-align: left;
}

.tabClass {
	width: 100%;
	background-color: white;
}

.anchorText {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 400;
}

.anchorTextActive {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 800;
}

/*--CSS Media Queries---*/

@media only screen and (min-width: 320px) and (max-width: 400px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		/* margin-top: -467px; */
		bottom: 131px;
		width: 127%;
		position: relative;
		right: 134px;
	}

	.custom-box1 {
		width: 111%;
		margin-left: -264px;
		position: relative;
		bottom: 26px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		/* margin-top: -467px; */
		bottom: 100px;
		width: 127%;
		position: relative;
		right: 130px;
	}

	.custom-box1 {
		width: 110%;
		margin-left: -265px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		/* margin-top: -402px; */
		bottom: 100px;
		width: 115%;
		position: relative;
		right: 130px;
	}

	.custom-box1 {
		width: 100%;
		margin-left: -247px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		/* margin-top: -402px; */
		margin-left: -98px;
		width: 122%;
		bottom: 100px;
	}

	.custom-box1 {
		width: 100%;
		margin-left: -247px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box1 {
		margin-left: -23%;
		width: 334%;
	}

	.custom-box2 {
		margin-left: 303px;
		/* margin-top: -79px; */
		width: 108%;
		bottom: 100px;
	}
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.pad {
		padding-left: 10%;
		padding-right: 10%;
		overflow-x: hidden;
	}

	.custom-box2 {
		position: relative;
		right: 23%;
		width: 182%;
		margin-left: 2%;
	}

	.custom-box1 {
		margin-left: -4%;
		width: 336%;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (max-width: 1200px) {
	.pad {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
	}

	.custom-box1 {
		position: relative;
		margin-left: 17%;
	}

	.custom-box2 {
		right: 4%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media screen and (min-width: 1366px) and (max-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
	}

	.custom-box1 {
		position: relative;
		margin-left: 17%;
	}

	.custom-box2 {
		right: 8%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
	}

	.custom-box1 {
		position: relative;
		margin-left: 17%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}