.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	position: relative;
}

.displayHeader {
	display: flex;
	justify-content: end;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.footerLink {
	text-decoration: none;
	color: #403a60;
	font-size: 14px;
	font-weight: 400;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.layoutColor {
	background-color: #fbfaf5;
	min-height: 400px;
	position: relative;
	width: 100%;
	
}

.grid-containerTabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.tabsDiv {
	width: 100%;
	text-align: left;
}

.tabClass {
	width: 100%;
	background-color: white;
}

.anchorText {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 400;
}

.anchorTextActive {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 800;
}

/*--CSS Media Queries---*/

@media only screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

	.custom-box2 {
		right: 11%;
	}
}

@media only screen and (min-width: 1366px) and (max-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		right: 11%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		right: 8%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.pad {
		display: flex;
		overflow-x: hidden;
		flex-direction: column;
	}

	.custom-box2 {
		margin-left: 2%;
		right: 0%;
		bottom: 100px;
	}

	.custom-box1 {
		margin-left: 31px;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
	.pad {
		
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box1 {
		margin-left: -102px;
	}

	.custom-box2 {
		margin-left: 0%;
		right: 0%;
		bottom: 100px;
	}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
	.pad {
		
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		
		bottom: 100px;
		right: 12%;
	}

	.custom-box1 {
		width: 100%;
		margin-left: -267px;
	}
}


@media only screen and (min-width: 400px) and (max-width: 577px) {
	.pad {
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		right: 25%;
		bottom: 100px;
	
	}

	.custom-box1 {
		width: 100%;
		margin-left: -267px;
	}

	.tabsDiv {
		display: none;
	}
}



@media only screen and (min-width: 320px) and (max-width: 400px) {
	.pad {
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		right: 23%;
		margin-left: 1%;
		bottom: 143px;
	}

	.custom-box1 {
		width: 99%;
		margin-left: -257px;
		position: relative;
		bottom: 25px;
	}

	.tabsDiv {
		display: none;
	}
}