.st-date-btn{
    height: 40px;
    width: 200px;
    border-radius: 12px;
    background-color: #403a60;
    margin-left: 25px;
    color: #FFFFFF;
    border: #403a60;
    font-family: 'Eina-SemiBold';
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
	cursor: pointer;
}
.Createnewentry{
		/* position: relative; */
	left: 7%;
		top: 30px;
}
.center {
	/* margin: 0 auto; */
	        display: flex;
        margin-left: 0px;
        margin-top: 8%;
}
.Symptom-head {
display: flex;
	align-content: space-around;
	justify-content: center;
	position: absolute;
	    top: 45%;
	/* right: 1rem; */
	    margin-left: 41%;
    margin-top: 0%;
}
/* img{
	position: relative;
	left: 10%;
	height: 275px;
	bottom: 36px;
} */
.Createnewentry p {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	right: 36px;
	padding: 20px 3px;
	font-family: 'Eina-Bold';
}
h1 {
	position: absolute;  
	font-size: 32px;
	color: #403A60;
}
@media only screen and (max-width:400px){
img{
	left: -3%;
	width: 97%;
	height: 276px;
	}
	.head{
	position: relative;
	bottom: 0px;
	left: 1rem;
	top: 2rem;
	font-size: 18px;
	font-family: 'Eina-Bold';
	}
	.Createnewentry p{
	position: relative;
	right: 100px;
	width: 262px;
	text-align: center;
	top: 20px;
	}
	.st-date-btn{
	position: relative;
	right: 35%;
	width: 200px;
	height: 40px;
	top: 25px;
	cursor: pointer;
	}
	.Createnewentry{
	position: relative;
	left: 30%;
	bottom: 50px;
	top: -50px;
	}
	/* h1{
		position: relative;
	bottom: 8rem;
	right: -3rem;
	font-size: 23px;
	width: 80%;
	} */
	.Symptom-head{
	        display: flex;
        align-content: space-around;
        justify-content: normal;
        position: relative;
        top: 10rem;
        margin-left: 20%;
	}.center{
	display: flex;
	justify-content: normal;
	margin-left: 15px;
	margin-top: -60px;
	}
}
@media only screen and (min-width:401px) and (max-width:600px){
	img{
	left: -3%;
	width: 97%;
	height: 276px;
	}
	.head{
		position: relative;
	bottom: 0px;
	left: 1rem;
	top: 2rem;
	font-size: 18px;
	font-family: 'Eina-Bold';
	}
	.Createnewentry p{
				position: relative;
	right: 100px;
	width: 262px;
	text-align: center;
	top: 20px;
	}
	.st-date-btn{
			position: relative;
	right: 35%;
	width: 200px;
	height: 40px;
	top: 25px;
	cursor: pointer;
	}
	.Createnewentry{
		position: relative;
	left: 30%;
	bottom: 50px;
	top: -50px;
	}
	/* h1{
		position: relative;
	bottom: 8rem;
	right: -3rem;
	font-size: 23px;
	width: 80%;
	} */
	.Symptom-head{
display: flex;
        align-content: space-around;
        justify-content: normal;
        position: absolute;
        top: 45%;
        margin-left: 28%;
	}.center{
		display: flex;
	justify-content: normal;
	margin-left: 15px;
	margin-top: 50px;
	}
}
@media only screen and (min-width:601px) and (max-width:768px){
	img{
		/* position: relative; */
	left: 1%;
	height: 300px;
	}
	h1{
top: 1rem;
	}
	.center{
		    display: flex;
    margin-left: 0px;
    margin-top: 100px;
	}
	.Createnewentry p{
		position: relative;
	right: 120px;
	}
	.st-date-btn{
		position: relative;
	right: 26%;
	width: 200px;
	cursor: pointer;
	}
	.Symptom-head{
		        display: flex;
        align-content: space-around;
        justify-content: center;
        position: absolute;
        top: 46%;
        left: 3%;
	}
}
@media only screen and (min-width:768px) and (max-width:992px){
	img{
	        left: 8%;
        height: 275px;
        bottom: 36px;
        width: 80%;
        margin-left: 80px;
        margin-top: 50px;
	}h1{
			position: absolute;
	font-size: 32px;
	color: #403A60;
	/* font-weight: bold; */
	left: 5rem;
	}.Symptom-head{
	        display: flex;
        align-content: space-around;
        justify-content: center;
        position: absolute;
        top: 45%;
        margin-left: 35%;


	}.center{
		    display: flex;
    margin-left: 0px;
    margin-top: 50px;	
	}
}
@media only screen and (min-width:992px) and (max-width:1200px){
	img{
	        height: 278px;
        margin-left: 71px;
        margin-top: 40px;
	}.Createnewentry{
			position: relative;
	left: 7%;
	top: 20px;
	}h1{
	position: absolute;
	font-size: 32px;
	color: #403A60;  
	left: 4rem;
	}.Symptom-head{
		        display: flex;
        align-content: space-around;
        justify-content: center;
        position: absolute;
        top: 40%;
	}
}
@media only screen and (min-width:1200px) and (max-width:1500px){
	img{
	        margin-left: 70px;
        height: 276px;
        margin-top: 40px;
	}
	.st-date-btn{
	margin-left: 46px;
		cursor: pointer;
	}.Createnewentry{
			position: relative;
	left: 7%;
	top: 20px;
	}h1{
			font-size: 32px;
	color: #403A60;
	/* font-weight: bold; */
	position: absolute;
	left: 4rem;
	}.Symptom-head{
		        display: flex;
        align-content: space-around;
        justify-content: center;
        position: absolute;
        top: 45%;
	}
}
@media only screen and (min-width:1500px){
.center{
	        display: flex;
        margin-left: 0px;
        margin-top: 8%;
}.st-date-btn{
	        margin-left: 38px;
			cursor: pointer;
       
	}
}
/* .Createnewentry {
	position: relative;
	right: 75px;
} */
/* Original Solution found on Stackoverflow here:
http://stackoverflow.com/questions/26573346/ios-safari-messes-up-input-type-date
*/
input[type="date"]
{
	display:block; 
	/* Solution 1 */
	 -webkit-appearance: textfield;
	-moz-appearance: textfield;
	min-height: 1.2em;  
	/* Solution 2 */
	/* min-width: 96%; */
}