@font-face {
	font-family: 'Eina-Regular';
	src: url('/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Eina-Light';
	src: url('/resource/WebEinaFonts/WebFonts/Eina04-Light.woff') format('woff');
}

@font-face {
	font-family: 'Eina-SemiBold';
	src: url('/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Eina04-Bold';

	src: url('/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Eina-Regular';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Regular.woff') format('woff');
}

.downbtn1 {
	position: relative;
	height: 40px;
	width: 117px;
	border-radius: 12px;
	background-color: #ffffff;
	font-weight: 400;
	border: 2px solid #403a60;
	color: #403a60;
	font-size: 14px;
	font-family: 'Eina-semibold';
	float: inline-end;
}
.Nosymptoms-errormsg{
	font-size: 24px;
    font-style: Eina04-Regular;
    color: #403A60;
    margin-top: -17px;
    width: 414px;
}
.downbtn {
	position: relative;
	height: 40px;
	width: 172px;
	border-radius: 12px;
	background-color: #403a60;
	font-weight: 400;
	color: white;
	border: #403a60;
	float: right;
	font-family: 'Eina-SemiBold';
	font-size: 14px;
}

.buttonLogoutCancel {
	background-color: white;
	border-radius: 15px;
	color: #403A60;
	font-weight: 800;
	border-style: solid;
	border-color: #403A60;
	padding: 5px 25px;
	font-size: 14px;
	font-family: 'Eina-SemiBold';
	height: 40px;
	width: 68px;
	order: 1;
	border: 1.5px solid #403a60;
}

.ButtonLogoutYes {
	background-color: #403A60;
	border-radius: 15px;
	color: white;
	font-weight: 800;
	border-style: none;
	padding: 5px 25px;
	height: 40px;
	width: 72px;
	order: 2;
}


.chart-container {
	display: flex;
	justify-content: center;
	/* position: relative;
	right: 14%; */
}

.bar.highlighted {
	background-color: lightblue;
	/* Add your desired highlighted color */
}

.chart {
	display: flex;
	font-size: 18px;

}

.selected-image-container {
	background-color: #ffcc00;
	/* Set your desired background color */
	/* Add any other styling for the selected image container */
}

.graphicon {

	/* width: 115%;
	margin-left: 30px; */
	position: relative;
	bottom: 60px;

}

.bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
}

.para2 {
	font-family: 'Eina-Regular';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	margin-left: 38px;
	width: 69%;


}

.container-bottom {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	height: 100%;
}

.image-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

}

.toast {
	background-color: rgb(194 240 194);
	width: 209%;
	height: 65px;
	position: relative;
	right: 73%;
	bottom: 48px;
	z-index: 1001;



}

.notify {
	background-color: none;
	position: absolute;
	top: -30px;
	right: 70px;
}

.para {
	font-size: 15px;
	font-weight: 400;
	padding-left: 40px;
	padding-top: 10px;
	width: 68%;
	display: flex;

}

.btncls {
	position: relative;
	top: 55px;
	left: 10px;
	background-color: rgb(194 240 194);
	border: 0px;
	font-size: 24px;

}

.chart-image {
   max-height: 60px;
    margin-bottom: 5px;
    position: relative;
    left: -0.7px;
    width: 24px;
}

.label {
	font-size: 12px;
	margin-top: 5px;
	width: 105%;

}

/* ends */

.grid-containers {
	display: grid;
	grid-template-columns: repeat(7, auto);
}

/*.custom-box{
	background-color : white;
	border: 1px solid black;
	border-radius: 10px;
}*/
.textAlignCenter {
	text-align: center;
}

.grid-containerGraph {
	display: grid;
	grid-template-columns: 400px 150px 150px 150px 150px 150px;
	gap: 10px;
}

.displayBlock {
	display: block;
	text-align: center;
	padding: 10px;
}

.FlexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grid-containerinline {
	display: flex;
	grid-template-columns: auto auto;
	padding: 20px;
	gap: 10px;
}

.FlexCircleCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.FlexCircleCenterText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5px;
}

.past {
	font-family: Eina-Bold;
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	color: #403A60;
	position: relative;
}

.backcLOLOR {
	background-color: #c6c5d3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.grid-containerColorNotification {
	/* display: grid;
	grid-template-columns: repeat(7, max-content);
	gap: 45px;
	position: relative;
	right: 7%; */
	margin-right: -122px;
}

.grid-containerColors {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 5px;
}

.height40 {
	height: 40px;
	width: 10px;
}

.vertical-line {
	border-left: 1px solid #000;
	height: 65px;
	padding-right: 7px;
}

.lineDesign {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.padLeft10 {
	padding-left: 10px;
	margin: 0px 15px;
}

.showEnd {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	bottom: 0px;

}

/*----Second Chart----*/
.grid-containerBubble {
	display: grid;
	grid-template-columns: repeat(9, 80px);
	gap: 10px;
}

.grid-containerChartBubbles {
	display: grid;
	grid-template-rows: repeat(9, auto);
	gap: 5px;
	margin: 30px 0px;
}

.FlexBubbleCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 20px;
}

.custom-Bubble-box {
	background-color: white;
	width: fit-content;
}

.highlightBack {
	background-color: #f2e174;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

a {
	text-decoration: none;
    color: #403A60;
    position: relative;
    height: 26px;
}

.disInline {
	display: inline-flex;
}

.grid-containerButtons {
	display: grid;
	grid-template-columns: auto;
	gap: 50px;
	position: relative;
	left: 45%;
	color: #2C333A;
}

.line {
	width: 20px;
	height: 10px;
	color: blue;
}

.lineimg {
	height: 320px;
}

.month {
	width: 20px;
}

.selectWidth {
	width: 200px;
	border-style: solid;
	border-color: #2C333A;
	border-width: 1.5px;
	border-radius: 4px;
	height: 40px;
	position: relative;
	cursor: pointer;
}

.bar .container-bottom>hr {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	height: 0px;
}

.pad10 {
	padding: 5px 35px;
	position: relative;
	top: 289px;
}

.highlighted {
	background-color: red;
}

.month {
	position: relative;
	bottom: 290px;
	color: #403A60;
}


.confirm-btn-file {
	position: relative;
	height: 45px;
	width: 213px;
	border-radius: 12px;
	background-color: #403a60;
	font-weight: 400;
	color: white;
	border: #403a60;
	margin-top: 20px;
	margin-bottom: 27px;
	left: 81px;
}


.updatebtn {
	display: flex;
	justify-content: end;
	position: relative;
	right: 58%;
	top: 13px;
}


.symptomtrackergrpah h1 {
	font-family: Eina-Bold;
	font-weight: 400;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	color: #403A60;
	position: relative;
	font-size: 32px;
}

.width100 {
	width: 100%;
	margin-top: 20px;
}

@media only screen and (max-width:400px) {
	.chart-image {
	max-width: 100%;
        max-height: 60px;
        margin-bottom: 5px;
        position: relative;
        left: 0.3px;
}
	.Nosymptoms-errormsg{
	        /* margin-left: 0%; */
        font-size: 20px;
        font-style: Eina04-Regular;
        color: #403A60;
        /* margin-bottom: 55px; */
        position: relative;
        top: 160px;
		width: 100%;
		margin-top: -56px;
}
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
	}

	.showEnd {
		display: flex;
		flex-direction: column;
		justify-content: end;
		position: relative;
		top: -14px;
		left: 14px;
		right: 20px;
		z-index: 1;


	}

	.para {
		margin-left: -4%;
		font-size: 16px;
		font-weight: bold;
		padding-left: 1px;
		padding-top: 10px;
		width: 57%;
		display: flex;
		/* gap: 27px; */
		position: relative;
		left: 5rem;
		font-family: Eina04-Bold;

	}

	.btncls {
		position: relative;
		top: 55px;
		left: 45px;
	}

	.img4 {
		position: relative;
		top: 35px;
		left: 6%;
	}

	.para2 {
		font-size: 14px;
		padding-left: 0px;
		padding-top: 7px;
		width: 80%;
		display: flex;
		gap: 27px;
		position: relative;
		left: 30px;
	}

	.past1 {
		position: relative;
		top: 40px;

	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 100%;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 45px;
		width: auto;
		order: 1;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		width: auto;
		height: 45px;
		order: 2;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto;
		gap: 15px;

	}

	.grid-containerDoubleSlide {
		display: grid;
		grid-template-columns: auto;
		gap: 15px;
	}

	.downbtn1 {
		width: 100%;
		background-color: #403a60;
		/* border-color: black; */
		border: 2px solid #403a60;
		color: white;
	}

	.chart-container {
		display: flex;
		width: 114%;
		/* align-items: center; */
		justify-content: center;
	}

	.graph {
		width: 468px;
	}

	.toast {
		background-color: rgb(194 240 194);
		width: 119%;
		height: 170px;
		position: absolute;
		right: 0%;
		left: -20px;
		top: -190px;
		z-index: 1001;
	}

	.grid-containerButtons {
		/* width: 115%; */
		position: relative;
		left: 0px;
		gap: 10px;
		bottom: 33px;
	}

	.chart {
		width: 69%;
		justify-content: center;
		margin-left: 18px;

	}

	a {
		text-decoration: none;
		color: black;
		position: relative;
		width: 60px;
	}

	.updatebtn {

		position: relative;
		right: -4%;
	}

	.bar {
		width: 15%;
		/* position: relative;
	top: 18px;
	right: 94px; */


	}

	.past {
		font-size: 18px;

		position: relative;

	}

	.confirm-btn-file {
		width: 352px;
		position: relative;
		margin: 0;
		right: 4px;
		top: 29px;
		height: 40px;
		margin-bottom: 1rem;

	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		margin-right: 10px;
		        padding-bottom: 78px;
		/* gap: 9px; */
		/* position: relative;
	left: -10%;
	top: 26px; */
	}

	.downbtn {
		position: relative;
		height: 40px;
		width: 101%;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		bottom: 60px;
	}

	.selectWidth {
		width: 100%;
		height: 35px;
		position: relative;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
	}

	.symptomtrackergrpah h1 {
		font-family: Eina-Bold;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		color: #403A60;
		position: relative;
		font-size: 18px;
	}

	.grid-containerinline {
		padding: 8px;
        gap: 8px;
        padding-bottom: 0px;
        padding-top: 0;
	}
}

@media only screen and (min-width:401px) and (max-width:600px) {
	/* max-width: 100%;
        max-height: 60px;
        margin-bottom: 5px;
        position: relative;
        left: 0.3px; */
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
	}

	.showEnd {
		display: flex;
		flex-direction: column;
		justify-content: end;
		position: relative;
		top: 12px;
		left: -20px;
		right: 20px;
		z-index: 1;


	}

	.past1 {
		position: relative;
		top: 40px;

	}

	.img4 {
		position: relative;
		top: 35px;
		left: 6%;
	}

	.para2 {
		font-size: 14px;
		padding-left: 0px;
		padding-top: 7px;
		width: 80%;
		display: flex;
		gap: 27px;
		position: relative;
		left: 35px;
	}

	.btncls {
		position: relative;
		left: 60px;
	}

	.para {
		margin-left: -2%;
		font-size: 16px;
		font-weight: bold;
		padding-left: 1px;
		padding-top: 10px;
		width: 57%;
		display: flex;
		/* gap: 27px; */
		position: relative;
		left: 5rem;
		font-family: Eina04-Bold;

	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 100%;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 45px;
		width: auto;
		order: 1;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		width: auto;
		height: 45px;
		order: 2;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto;
		gap: 15px;

	}

	.grid-containerDoubleSlide {
		display: grid;
		grid-template-columns: auto;
		gap: 15px;
	}

	.downbtn1 {
		width: 100%;
		background-color: #403a60;
		/* border-color: black; */
		border: 2px solid #403a60;
		color: white;
	}

	.chart-container {
		width: 116%;
	}

	.graph {
		width: 468px;
	}

	.toast {
		background-color: rgb(194 240 194);
		width: 100%;
		height: 165px;
		position: absolute;
		right: 0%;
		bottom: 100%;
		z-index: 1001;



	}

	.grid-containerButtons {
		width: 100%;
		position: relative;
		left: 0px;
		gap: 10px;
		bottom: 40px;
	}

	.chart {
		width: 100%;
		justify-content: center;

	}

	a {
		text-decoration: none;
		color: black;
		position: relative;
		width: 60px;
	}

	.updatebtn {

		position: relative;
		right: -4%;
	}

	.bar {
		width: 10%;
	}

	.past {
		font-size: 18px;

		position: relative;

	}

	.confirm-btn-file {
		width: 352px;
		position: relative;
		margin: 0;
		right: 4px;
		top: 29px;
		height: 40px;
		margin-bottom: 1rem;

	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		/* gap: 14px; */
		position: relative;
		/* left: -21%; */
		margin-right: 10px;
		top: 23px;
	}

	.downbtn {
		position: relative;
		height: 40px;
		width: 100%;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		bottom: 45px;
	}

	.selectWidth {
		width: 100%;
		height: 35px;
		position: relative;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
	}

	.symptomtrackergrpah h1 {
		font-family: Eina-Bold;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		color: #403A60;
		position: relative;
		font-size: 18px;
	}
	.Nosymptoms-errormsg{
	position: relative;
    top: 130px;
	font-size: 18px;
	margin-top: 0px;
	margin-top: -30px;
	}



}

@media only screen and (min-width:601px) and (max-width:767px) {
	
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
	}

	.showEnd {
		display: flex;
		flex-direction: column;
		justify-content: end;
		position: relative;
		bottom: -12px;
		right: 0px;
		left: 62px;
		z-index: 1;

	}

	.past1 {
		position: relative;
		top: 70px;

	}

	.btncls {
		position: relative;
		top: 65px;
		left: 30px;
	}

	.para2 {
		margin-left: 113px;
		width: 69%;
		position: relative;
		bottom: 15px;
	}

	.img4 {
		position: relative;
		top: 40px;
		left: 6%;
	}

	.para {
		margin-left: 10%;
		padding-bottom: 3%;
		font-weight: bold;
		font-family: Eina04-Bold;
	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 100%;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 45px;
		width: auto;
		order: 1;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		width: auto;
		height: 45px;
		order: 2;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto;
		gap: 15px;

	}

	.grid-containerDoubleSlide {
		display: grid;
		grid-template-columns: auto;
		gap: 10px;
	}

	.downbtn1 {
		width: 100%;
		background-color: #403a60;
		/* border-color: black; */
		border: 2px solid #403a60;
		color: white;
	}

	.graph {
		width: 468px;
	}

	.toast {
		background-color: rgb(194 240 194);
		width: 106%;
		height: auto;
		position: relative;
		/* right: 0px; */
		left: -3%;
		bottom: 470px;
	}

	.grid-containerButtons {
		width: 100%;
		position: relative;
		right: 17px;
		left: 0%;
	}

	.updatebtn {

		position: relative;
		right: -4%;
	}

	.bar {
		/* width: 29%; */
		position: relative;
		top: 18px;
		/* right: -60px; */



	}

	.past {
		font-size: 18px;

		position: relative;

	}

	.confirm-btn-file {
		width: 352px;
		position: relative;
		margin: 0;
		right: 4px;
		top: 29px;
		height: 40px;
		margin-bottom: 1rem;

	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(5, max-content);
		/* gap: 14px; */
		position: relative;
		/* left: -11%; */
		top: 15px;
		/* right: 24px; */
		margin-right: 10px;
	}

	.downbtn {
		position: absolute;
		height: 40px;
		width: 100%;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		bottom: 168px;
		float: left;
		right: 7px;
	}

	.selectWidth {
		width: 100%;
		height: 35px;
		position: relative;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
	}

	.symptomtrackergrpah h1 {
		font-family: Eina-Bold;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		color: #403A60;
		position: relative;
		font-size: 18px;
	}
	.Nosymptoms-errormsg{
		top: 179px;
		position: relative;
		font-size: 20px;
	}
}

@media only screen and (min-width:768px) and (max-width:992px) {
	.Nosymptoms-errormsg {
    /* margin-left: -168%; */
    font-size: 24px;
    font-style: Eina04-Regular;
    color: #403A60;
    margin-top: 73px;
	}
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 50px;
	}

	.grid-containerButtons {
		position: relative;
		right: 15%;
		left: 0%;

	}

	.lli {
		position: relative;
		right: 20%;
	}

	.img4 {
		position: relative;
		top: 18px;
		left: 6%;
	}

	.btncls {
		position: relative;
		top: 40px;
	}

	.para {
		margin-left: 10%;
		padding-bottom: 6%;
		position: relative;
		bottom: 30px;
		font-weight: bold;
		font-family: Eina04-Bold;
	}

	.para2 {
		position: relative;
		bottom: 75px;
		left: 10%;
	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 660px;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 40px;
		width: 72px;
		order: 2;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		height: 40px;
		width: 68px;
		order: 1;
		border: 1.5px solid #403a60;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto auto;
		gap: 24px;
		float: right;
	}

	.grid-containerDoubleSlide {
		display: flex;
		grid-template-columns: auto auto;
		gap: 10px;
		flex-direction: row;
	}


	.downbtn {
		position: relative;
		height: 40px;
		width: 172px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		float: right;
	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(4, max-content);
		gap: 20px;
		position: relative;
		right: 0%;
		top: 30px;
		margin-right: 10px;

	}

	.chart-container {
		position: relative;
		right: 23%;
	}

	.graph {
		width: 50%;
	}

	.selectWidth {
		width: 199px;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
		height: 45px;
		position: relative;
	}

	.chart-container {
		position: relative;
		right: 0%;
		top: 40px;
	}

	.confirm-btn-file {
		position: relative;
		right: 7%;
		top: 95px;

	}

	.past {
		font-size: 25px;
		position: relative;
	}

	.toast {
		background-color: rgb(194 240 194);
		width: 160%;
		height: 65px;
		position: relative;
		right: 28%;
		bottom: 460px;
		z-index: 1001;
	}


	.updatebtn {
		display: flex;
		justify-content: end;
		position: relative;
		right: 15% !important;
		top: 13px;
	}
}

@media only screen and (min-width:992px) and (max-width:1050px) {
	.Nosymptoms-errormsg {
    /* margin-left: -136%; */
    font-size: 24px;
    font-style: Eina04-Regular;
    color: #403A60;
    margin-top: 73px;
	}
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 50px;
		margin-left: 20%;
	}

	.grid-containerButtons {
		position: relative;
		right: 13%;
		left: 0%;
	}

	.graphicon {
		width: 100%;
		margin-left: 300px;
		position: relative;
		bottom: 70px;

	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 660px;
	}

	.toast {
		background-color: rgb(194 240 194);
		width: 175%;
		position: relative;
		right: 58%;
		bottom: 48px;
		z-index: 1001;



	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 40px;
		width: 72px;
		order: 2;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		height: 40px;
		width: 68px;
		order: 1;
		border: 1.5px solid #403a60;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto auto;
		gap: 24px;
		float: right;
	}

	.grid-containerDoubleSlide {
		display: flex;
		grid-template-columns: auto auto;
		gap: 10px;
		flex-direction: row;
	}


	.downbtn {
		position: relative;
		height: 40px;
		width: 172px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		float: right;
	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(5, max-content);
		gap: 6px;
		position: relative;
		right: 0%;
		top: 30px;

	}

	.bar {
		width: 12%;
	}

	.chart-container {
		position: relative;
		right: 23%;
	}

	.graph {
		width: 50%;
	}

	.selectWidth {
		width: 199px;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
		height: 45px;
		position: relative;
	}

	.chart-container {
		position: relative;
		left: 13%;
		top: 40px;
	}
	

	.confirm-btn-file {
		position: relative;
		right: 7%;
		top: 95px;

	}

	.past {
		font-size: 25px;
		position: relative;
		width: 400px;
	}

	.img4 {
		position: relative;
		left: 78px;
		top: 15px;
		width: 24px;
		height: 24px;
	}
	.timescss{
		font-size:40px;
		color:#403A60;
		font-family:none;
	}

	.para {
		position: relative;
		bottom: 22px;
		font-weight: bold;
		left: 88px;
		color: #403A60;
		font-family: 'Eina04-Bold';


	}

	.para2 {
		position: relative;
		bottom: 24px;
		left: 90px;
	}



	.updatebtn {
		display: flex;
		justify-content: end;
		position: relative;
		right: 15% !important;
		top: 13px;
	}
}

@media only screen and (min-width:1050px) and (max-width:1200px) {
	.Nosymptoms-errormsg {
    /* margin-left: -136%; */
    font-size: 24px;
    font-style: Eina04-Regular;
    color: #403A60;
    margin-top: 0px;
	width: 414PX;
	}
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 50px;
	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 660px;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 40px;
		width: 72px;
		order: 2;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		height: 40px;
		width: 68px;
		order: 1;
		border: 1.5px solid #403a60;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto auto;
		gap: 24px;
		float: right;
	}

	.grid-containerDoubleSlide {
		display: flex;
		grid-template-columns: auto auto;
		gap: 10px;
		flex-direction: row;
		justify-content: end;
	}

	.chart-container {
		position: relative;
		right: 12%;
		top: 40px;
	}
	.chart{
		display: flex;
		font-size: 18px;
		margin-left: 30%;
	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(7, max-content);
		gap: 0px;
		position: relative;
		right: 28%;
		top: 45px;

	}

	.selectWidth {
		width: 199px;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
		height: 40px;
		position: relative;
	}

	.grid-containerButtons {
		position: relative;
		right: 0%;
		left: 0%;
		width: 120%;
	}

	.past {
		font-family: Eina-Bold;
		font-size: 28px;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		color: #403A60;
		position: relative;
	}

	.downbtn {
		position: relative;
		height: 40px;
		width: 172px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		float: right;
	}

	.past {
		font-size: 25px;
		position: relative;

	}

	.confirm-btn-file {
		position: relative;
		right: 11%;
		top: 80px;

	}

	.img4 {
		position: relative;
		left: 50px;
		top: 10px;
	}

	.btncls {
		position: relative;
		top: 40px;
	}

	.para {
		position: relative;
		bottom: 25px;
		font-weight: bold;
		left: 90px;
		color: #403A60;
		font-family: 'Eina04-Bold';
	}

	.toast {
		width: 177%;
		height: 65px;
		position: relative;
		right: 59%;
		bottom: 48px;
	}

	.para2 {
		position: relative;
		bottom: 20px;
		left: 92px;
	}

	.confirm-btn-file {
		position: relative;
		right: 3%;
	}

	.graphicon {
		width: 89%;
		margin-left: 142px;
		position: relative;
		bottom: 100px;
	}

}

@media only screen and (min-width:1200px) {
	.img4 {
		position: relative;
		left: 75px;
		top: 32px;

	}

	.toast {
		background-color: rgb(194 240 194);
		width: 210%;
		height: 90px;
		position: relative;
		right: 0px;
		left: -73%;
		bottom: 48px;
	}

	.head {
		margin-left: 5%;
	}

	.para {
		position: relative;
		bottom: 18px;
		font-weight: bold;
		left: 88px;
		color: #403A60;
		font-family: 'Eina04-Bold';


	}

	.para2 {
		position: relative;
		bottom: 15px;
		left: 90px;
	}

}

@media only screen and (min-width:1500px) {
	.chart-container {
		position: relative;
		right: 0%;
		top: 0px;
		left: 9%;

	}

	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 50px;
	}

	.img4 {
		position: relative;
		left: 88px;
		top: 27px;
	}

	.para {
		position: relative;
		bottom: 9px;
		font-weight: bold;
		left: 88px;
		color: #403A60;
		font-family: 'Eina04-Bold';


	}

	.para2 {
		position: relative;
		bottom: 9px;
		left: 90px;
	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 660px;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 40px;
		width: 72px;
		order: 2;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		height: 40px;
		width: 68px;
		order: 1;
		border: 1.5px solid #403a60;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto auto;
		gap: 24px;
		float: right;
	}

	.grid-containerDoubleSlide {
		display: grid;
		grid-template-columns: auto auto;
		gap: 10px;
	}

	/* .grid-containerColorNotification{
		 display: grid;
	grid-template-rows: repeat(1, max-content);
	gap: 30px;
	position: relative;
	right: 0%;
	top: 45px;
	left: 10%;

	} */
	.selectWidth {
		width: 199px;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
		height: 40px;
		position: relative;
	}

	.past {
		font-family: Eina-Bold;
		font-size: 28px;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		color: #403A60;
	}

	.downbtn {
		height: 40px;
		width: 172px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		float: right;

	}

	.past {
		font-size: 32px;

	}

	.confirm-btn-file {
		position: relative;
		right: 11%;
		top: 80px;

	}

	.confirm-btn-file {
		position: relative;
		right: 3%;
	}

	.downbtn1 {
		margin-left: -50px;
	}
}

@media only screen and (min-width:1201px) and (max-width:1500px) {
	.Nosymptoms-errormsg{
    /* margin-left: -158%; */
        font-size: 24px;
        color: #403A60;
        margin-top: 0px;
		width: 414px;
}
	.grid-containerHeadingsSingle {
		display: grid;
		grid-template-columns: auto;
		gap: 50px;
	}

	.modal-visible {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 33px;
		border: 1px solid #ccc;
		z-index: 1000;
		border-radius: 12px;
		width: 660px;
	}

	.ButtonLogoutYes {
		background-color: #403A60;
		border-radius: 15px;
		color: white;
		font-weight: 800;
		border-style: none;
		padding: 5px 25px;
		height: 40px;
		width: 72px;
		order: 2;
	}

	.buttonLogoutCancel {
		background-color: white;
		border-radius: 15px;
		color: #403A60;
		font-weight: 800;
		border-style: solid;
		border-color: #403A60;
		padding: 5px 25px;
		font-size: 14px;
		font-family: 'Eina-SemiBold';
		height: 40px;
		width: 68px;
		order: 1;
		border: 1.5px solid #403a60;
	}

	.grid-containermodals {
		display: grid;
		grid-template-columns: auto auto;
		gap: 24px;
		float: right;
	}

	.grid-containerDoubleSlide {
		display: grid;
		grid-template-columns: auto auto;
		gap: 10px;
	}

	.chart-container {
		position: relative;
		right: 0%;
		top: 40px;
		left: -4%;
	}

	.grid-containerColorNotification {
		display: grid;
		grid-template-columns: repeat(7, max-content);
		gap: 0px;
		position: relative;
		right: 15%;
		top: 45px;
		/* left: 0%;*/

	}

	.selectWidth {
		width: 199px;
		border-style: solid;
		border-color: #2C333A;
		border-width: 1.5px;
		border-radius: 4px;
		height: 40px;
		position: relative;
	}

	.past {
		font-family: Eina-Bold;
		font-size: 28px;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		color: #403A60;
		position: relative;
	}

	.graphicon {
		width: 115%;
		margin-left: 75px;
		position: relative;
		bottom: 100px;
	}

	.downbtn {

		height: 40px;
		width: 172px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: 400;
		color: white;
		border: #403a60;
		float: right;
		position: relative;

	}

	.past {
		font-size: 31px;
		position: relative;

	}

	.confirm-btn-file {
		position: relative;
		right: 11%;
		top: 80px;

	}

	.confirm-btn-file {
		position: relative;
		right: 3%;
	}
}



/* Popup Screen */



.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal-content {
	text-align: left;
}

.modal-buttons {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.modalHead {
	font-family: 'Eina-Bold';
	font-weight: 400;
	font-size: 32px;
	line-height: 44px;
	color: #403A60;
}

.modalPara {
	margin-top: 20px;
	font-family: 'Eina-Regular';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #2C333A;
}

.modal-close {
position: absolute;
    top: -15px;
    right: 10px;
    cursor: pointer;
    font-size: 45px;
    color: #403A60;
    opacity: 0.8;
}

.modal-close:hover {
	color: #000;
}

.button-DivNoBack {
	margin-right: 20px;
	background-color: white;
	border-radius: 15px;
	color: #403A60;
	font-weight: 800;
	border-style: solid;
	border-color: #403A60;
	padding: 10px 25px;
	font-size: 14px;
	font-family: 'Eina-SemiBold';
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	/* background-color: #fff; */
	background-clip: padding-box;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	border-radius: 0.3rem;
	outline: 0;
	border: none;
}
@media only screen and (min-width:1920px) {
	.Nosymptoms-errormsg{
        font-size: 24px;
        font-style: Eina04-Regular;
        color: #403A60;
        margin-bottom: 63px;
        position: relative;
        bottom: 0px;
}
}
/* Popup Screen Ends */



/* Styling for the dropdown options */