.tophead {
	color: #403a60;
	font-size: 32px;
	font-weight: bold;
}

.MainCmp {
	display: flex;
}

.enroll {
	color: #403a60;
	font-size: 18px;
	font-family: "Bahnschrift Light";
}
.title{
	font-family: 'Eina-Regular';
    font-size: 14px;
    color: #000000;
	line-height: 24px;
}
.ptag {
	font-weight: 400;
	font-size: 16px;
}

.shead {
	color: #403a60;
	font-weight: 400;
	font-family: "Eina-Bold";
	font-size: 16px;
	margin-bottom: 10px;
}

.sidebar-container {
	width: 34.5%;
	background: #413a63;
}

.sidebar-container::after {
	content: "";
	background: linear-gradient(to bottom,
			#744f0d 0%,
			#8b5f2d 11.35%,
			#efdba1 42.29%,
			#744f0d 100%);
	position: absolute;
	top: 0;
	left: 33%;
	height: 100%;
	width: 6px;
}

.container {
	padding-top: 0%;
	padding-left: 3%;
	position: relative;
	bottom: 37px;
}

.marTB20 {
	display: none;
	width: 200px;
	position: absolute;
	bottom: 877px;
}

.img {
	width: 168px;
}

@media (width <=600px) {
	.slds-grid {
		flex-direction: column;
		gap: 18px;
	}
}

@media (width <=400px) {
	.container {
		padding-top: 0%;
		padding-left: 3%;
		position: relative;
		bottom: 0px;
		margin-top: 40px;
		margin-left: 10px;
	}

	.sidebar-container1 {
		content: "";
		background: linear-gradient(90deg,
				#744f0d 0%,
				#8b5f2d 11.35%,
				#efdba1 42.29%,
				#744f0d 100%);
		position: absolute;
		top: 177px !important;
		height: 5px;
		width: 100%;
	}
}

@media (width <=850px) {
	.container {
		padding-top: 0%;
		padding-left: 3%;
		position: relative;
		bottom: 0px;
		margin-top: 110px;
		margin-left: 10px;
	}

	.marTB20 {
		display: none;
		width: 200px;
		position: absolute;
		bottom: 775px;
		left: 36px;
	}

	.divclass {
		height: auto;
	}

	.sidebar-container::after {
		display: none;
	}

	.img {
		width: 168px;
		height: 183px;
	}

	.sidebar-container1 {
		content: "";
		background: linear-gradient(90deg,
				#744f0d 0%,
				#8b5f2d 11.35%,
				#efdba1 42.29%,
				#744f0d 100%);
		position: absolute;
		top: 210px !important;
		height: 5px;
		width: 100%;
	}
}

@media (width <=400px) {
	.marTB20 {
		width: 200px;
		position: absolute;
		bottom: 995px !important;
		left: 22px !important;
	}

	.sidebar-container1 {
		content: "";
		background: linear-gradient(90deg,
				#744f0d 0%,
				#8b5f2d 11.35%,
				#efdba1 42.29%,
				#744f0d 100%);
		position: absolute;
		top: 218px !important;
		height: 5px;
		width: 99.3%;
	}
}