.spinner-container{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffff; /* semi-transparent white background */
display: flex;
justify-content: center;
align-items: center;
z-index: 99999; /* Ensure it appears above other elements */
}
.custom-box2{
width: -webkit-fill-available;
display: grid;
bottom: 11px;
position: relative;
}
.displayHeader{
	display: flex;
	justify-content: end;
}
.footerLink{
	text-decoration: none;
	color:#403A60;
	font-size: 14px;
	font-weight: 400;
}
.grid-containerfooter{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.layoutColor{
	background-color: #FBFAF5;
	min-height: 400px;
	overflow: hidden;
}
.grid-containerTabs{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.tabsDiv{
	width: 100%;
	text-align: left;
}
.tabClass{
	width: 100%;
	background-color: white;
}
.anchorText{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 400;
}
.anchorTextActive{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 800;
}
/*--CSS Media Queries---*/
@media only screen and (max-width:400px){
	.custom-box2{
		margin-top: -50px;
		bottom: -32px;
	}
}
@media only screen and (min-width:401px) and (max-width:600px){
	.custom-box2{
		margin-top: -45px;
		bottom: -32px;
	}
}
@media only screen and (min-width: 600px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	}
}
@media only screen and (min-width: 768px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	min-height: 69vh;
	}
}
@media only screen and (min-width: 992px)
{
	.pad{
	padding-left: 5%;
	padding-right: 10%;
	min-height: 69vh;
	}
}
@media only screen and (min-width: 1200px)
{
	.pad{
	padding-left: 5%;
padding-right: 14%;
	min-height: 69vh;
	}
}
@media only screen and (min-width: 1500px)
{
	.pad{
	padding-left: 5%;
	padding-right: 8%;
	min-height: 68vh;
	}
}