.custom-box1 {
	background-color: #403a60;
}

.Layout {
	overflow: hidden;
}

.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	min-height: 100vh;
	font-size: 0.8125rem;
	position: relative;
	right: 1px;
	bottom: 1px;
	background-color: white;
}

.padR7 {
	padding-right: 7%;
}

/* CSS for Header ------------------------------------------------------------------------------- */

.displayHeader {
	display: flex;
	justify-content: space-between;
	top: 0px;
	margin-left: -1px;
	z-index: 1001;
}

.marTB20 {
	width: 210px;
	position: relative;
	bottom: 62px;
	left: 124%;
}

.marTB201 {
	display: none;
}

.home-icon-container {
	margin-right: 5.4%;
}

.header-logo-container {
	background-color: #413a63;
	width: 34.1%;
}

.header-logo-container>div {
	width: 57%;
	margin: 10px auto;
}

/* CSS for Footer --------------------------------------------------------------------------- */

.footerLink {
	text-decoration: none;
	color: #403a60;
	font-size: 14px;
	font-weight: 600;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
	margin-right: 5.4%;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	bottom: 0;
}

.footer-logo-container {
	background-color: #413a63;
	width: 34.2%;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: flex-end;
	margin-left: -2px;
}

.footer-containerMobile {
	display: none;
}

.footer-logo-container>div {
	width: 57%;
	margin: 10px auto;
}

/*--CSS Media Queries for Mobile View------------------------------------------------------------------*/

@media (width <=850px) {
	/* CSS for Header ------------------------------------------------------------------------------- */

	.displayHeader {
		overflow-x: hidden;
		position: relative;
		width: 100.6%;
	}

	.marTB201 {
		display: none;
		width: 210px;
		position: relative;
		bottom: 62px;
		left: 124%;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		height: auto;
		font-size: 0.8125rem;
		position: relative;
		right: 1px;
		bottom: 1px;
	}

	.header-logo-container {
		width: 100%;
	}

	.header-logo-container>div {
		width: 57%;
		margin: 10px;
	}

	.home-icon-container {
		margin-right: 0%;
		background-color: #413a63;
	}

	.marTB20 {
		display: none;
	}

	/* CSS for Footer ---------------------------------------------------------------------------------- */

	.footer-container {
		position: static;
		display: block;
	}

	.footer-containerMobile {
		display: block;
	}

	.footer-logo-container {
		width: 100%;
		display: none;
		height: auto;
	}

	.footer-logo-container>div {
		width: 100%;
		margin-left: 10px;
	}

	.footerLink {
		color: #fff;
		font-weight: 300;
		font-size: 12px;
	}

	.grid-containerfooter {
		display: none;
		width: 100%;
		background-color: #403a60;
	}

	.Foot {
		width: 80%;
	}
}