.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	
}

.displayHeader {
	display: flex;
	justify-content: end;
}

.footerLink {
	text-decoration: none;
	color: #403A60;
	font-size: 14px;
	font-weight: 400;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.layoutColor {
	background-color: #FBFAF5;
	min-height: 400px;
	position: relative;
	width: 100%;
	
}

.grid-containerTabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.tabsDiv {
	width: 100%;
	text-align: left;
}

.tabClass {
	width: 100%;
	background-color: white;
}

.anchorText {
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 400;
}

.anchorTextActive {
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 800;
}

/*--CSS Media Queries---*/


@media only screen and (min-width: 320px) and (max-width: 399px) {
	.pad {

		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box1 {
		width: 98%;
		margin-left: -255px;
		position: relative;
		bottom: 26px;
	}

	.custom-box2 {
		bottom: 150px;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (min-width: 399px)and (max-width: 576px) {
	.pad {
		
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		bottom: 115px;
		
	}

	.custom-box1 {
		width: 98%;
		margin-left: -255px;
	}

	.tabsDiv {
		display: none;
	}



}

@media only screen and (min-width: 576px) and (max-width: 769px) {
	.pad {
		
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		
		bottom: 110px;
	}

	.custom-box1 {
		width: 98%;
		margin-left: -255px;
	}

}

@media only screen and (min-width: 769px) and (max-width: 993px) {
	.pad {
		
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box1 {
		width: 112%;
		
	}

	.custom-box2 {
		
		bottom: 100px;
	}

}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.pad {
		
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box2 {
		
		bottom: 100px;
	}

	.custom-box1 {
		
		width: 112%;
		margin-left: 8%;
	}

	.tabsDiv {
		display: none;
	}

}



@media only screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	
	.custom-box2 {
		right: 6%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

}

@media only screen and (min-width: 1200px) and (max-width:1366px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		right: 6%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 1366px) and (max-width:1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		right: 10%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}