@font-face {
  font-family: "Eina-Regular";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Eina-Light";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Eina-SemiBold";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff")
    format("woff");
}

@font-face {
  font-family: "Eina-Bold";
  src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff")
    format("woff");
}

/* whole chatter navbar div */
.topNav {
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #8d89a580;
  left: 20px;
  padding-left: 4%;
}

/* Each Navbar content head */
.topNav p {
  float: left;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

/* set the color of navbar in normal mode */
.navColor,
.navColor1,
.navColor2,
.navColor3 {
  color: black;
  font-family: "Eina-Regular";
  font-size: 16px;
}

/* Apply the css if navbar is equal to UrlName */
.navColorHighlight {
  font-family: "Eina-Bold";
  font-size: 17px;
  color: #403a60;
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .topNav {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .topNav {
    display: none;
  }
}