.flexi {
	display: flex;
	flex-direction: column;
	height: fit-content;
	overflow: hidden;
	background: #fbfaf5;
}

.component {
	margin-left: 80px;
	margin-top: 70px;
}

.search-icon-container {
	display: flex;
	flex-direction: row;
}

.minvalu {
	width: 156px;
	height: 24px;
	margin-left: 10px;
	margin-top: 24px;
	font: Eina-SemiBold;
	font-size: 14px;
}

.artdisplay1 {
	width: 25%;
	height: fit-content;
}

.artdisplay {
	margin-top: -300px;
	padding-bottom: 17%;
}

.flexrowart {
	display: flex;
	flex-direction: row;
}

.Category {
	display: flex;
	flex-direction: row;
}

.descriptionsub {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Eina-SemiBold';
}

.loadmorebtn {
	background-color: #fbfaf5;
	color: #403a60;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	/* Add border-radius for curved edges */
	height: 35px;
	width: 120px;
	text-align: center;

	border: 15px;
	border-color: #403a60;
	outline: 1.5px solid #403a60;
	/* Add outline with the desired color on hover */
	font-size: 14px;
	margin-top: -4px;
	font-weight: 400;
	font-family: 'Eina-SemiBold';
}

.svgpathsty {
	stroke: #403a60;
	stroke-opacity: 1;
}

.pathsty {
	fill: white;
	fill-opacity: 1;
}

.svgfil {
	fill: #696969;
	fill-opacity: 1;
}

.svgstylefil {
	fill: #403a60;
	fill-opacity: 1;
}

.svgleft {
	margin-left: 10px;
}

.flex {
	display: flex;
	flex-direction: column;
	width: 350px;
	gap: 8px;
}

.article_image {
	width: 187px;
	height: 187px;
}

.left-section.img {
	height: 187px;
	width: 187px;
}

.options {
	height: auto;
	width: 310px;
	gap: 13px;
}

.heading {
	width: 260px;
	height: 45px;
	font-size: 24px;
	margin-left: 10px;
}

.loadmorediv {
	padding-top: 2px;
}

.heading_category {
	width: 800px;
	height: 45px;
	font-size: 44px;
	margin-left: 40px;
	color: #403a60;
	margin-bottom: 20px;
	font-family: 'Eina-Bold';
	font-weight: 400;
}

.headingcontainer {
	width: 370px;
	height: 580px;
	position: relative;
}

.headingcontainersecond {
	width: 370px;
	height: 580px;
	position: relative;
}

.search-bar {
	border: none;
	border-bottom: none;
	/* Remove border */
	width: 226px;
	height: 28px;
	outline: none;
	/* Remove focus outline */
	margin-left: 20px;
	background-color: #fbfaf5;
}

hr.search-bar-border-bottom {
	color: rgba(105, 105, 105, 1);
	width: 286px;
	margin-top: 8px;
	border-color: rgb(105, 105, 105);
	border-width: 2px;
	transition: all 0.1s ease 0s;
}

.container-tag {
	display: flex;
}

.searchhead {
	display: flex;
	gap: 16px;
	flex-direction: row;
}

.headingcategory {
	margin-left: -7px;
}

.search-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid blueviolet;
	/* Underline effect */
	margin-bottom: 10px;
	/* Add margin for spacing */
	flex-direction: row;
}

.end-btn {
	background-color: #fbfaf5;
	color: #403a60;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	margin: 4px 2px;
	cursor: pointer;
	padding: 8px;
	border-radius: 12px;
	/* Add border-radius for curved edges */
	height: 40px;
	width: fit-content;

	border: 15px;
	border-color: #403a60;
	outline: 1px solid #403a60;
	/* Add outline with the desired color on hover */
}

.end-btn-selected {
	background-color: #8d89a540;
	color: #403a60;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	margin: 4px 2px;
	cursor: pointer;
	padding: 10px;
	border-radius: 15px;
	/* Add border-radius for curved edges */
	height: 40px;
	width: fit-content;

	border: 15px;
	border-color: #403a60;
	outline: 1px solid #403a60;
	/* Add outline with the desired color on hover */
}

.end-btn:hover {
	background-color: #8d89a540;
}

.article-container {
	height: fit-content;
	width: 100%;
}

.article-containerbranded {
	height: fit-content;
	width: 100%;
}

.line {
	background-color: #403a60;
	width: 950px;
	margin-left: 45px;
	margin-bottom: 20px;
}

.svgcls {
	margin-left: 54px;
}

.left-section,
.right-section {
	flex: 1;
}

.article {
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	height: 50%;
	display: flex;
}

.article.first {
	width: 799px;
	height: 340px;
	background-color: #8d89a580;
	margin-top: 0%;
}

.article.second {
	width: 799px;
	height: 340px;
	background-color: rgba(236, 220, 168, 1);
	overflow: hidden;
}

.secondimg {
	margin-left: 41px;
}

.top-heading {
	font-size: 24px;
	font-weight: bold;
	color: #378dba;
	padding: 0px 50px;
}

article h2 {
	padding: 10px 2px 2px 17px;
	font-weight: 800;
	font-size: 24px;
	color: rgba(64, 58, 96, 1) !important;
}

.article p {
	margin: 10px 0;
	text-align: justify;
	padding: 0px 0px 0px 19px;
	color: rgba(64, 58, 96, 1) !important;
	width: 91%;
}

/* You can add your styles here */
.QuickLinks {
	margin-top: 70px;
	width: 250px;
	margin-right: 30px;
	display: none;
}

.quick-links-list {
	list-style-type: none;
	padding: 0;
	border: 1px solid lightgrey;
	width: 160px;
}


.quick-links-list a {
	color: black;
	text-decoration: none;
	display: inline-block;
	margin-left: 0px;
	border-bottom: 1px solid lightgrey;
	border-left: -26px;
	width: 159px;
}

.size {
	width: 20px;
}

.display {
	display: flex;
	width: 290px;
	justify-content: space-around;
	margin-left: 35px;
}

.subheading {
	color: #403a60;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'Eina-Bold';
	margin-left: -85px;
}

.leftlink {
	text-decoration: none;
    font-weight: bold;
    margin-left: 17px;
    font-size: 15px;
    color: rgba(64, 58, 96, 1) !important;
    top: 48%;
    height: auto;
    width: 32px;
    display: block;
    position: absolute;
    bottom: 27px;
}

.rightlink {
    text-decoration: none;
    font-weight: bold;
    margin-left: 17px;
    font-size: 15px;
    color: rgba(64, 58, 96, 1) !important;
    position: absolute;
    top: 48%;
    height: auto;
    width: 32px;
    display: block;
    bottom: 0;
}

.left-section {
	margin: 0px 31px;
}

.first {
	background: rgba(141, 137, 165, 0.5) !important;
}

.second {
	background: rgba(236, 220, 168, 1) !important;
}

.third {
	background: rgba(141, 137, 165, 0.5) !important;
}

.fourth {
	background: rgba(236, 220, 168, 1) !important;
}

article img {
	width: 386px;
	height: 340px;
	object-fit: cover;
	border-radius: 0px 0px 0px 0px;
}

.p {
	font-family: Eina04-RegularItalic;
	font-weight: 400;
	font-size: 14px;
}

.flexinew {
	display: flex;
	flex-direction: column;
}

.customNavTab {
	background-color: #ffffff;
}

.pad {
	padding-left: 5%;
	border-bottom: 1px solid #8d89a580;
}

.grid-containerNavTab {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 40px;
	padding: 10px;
	padding-left: 2px;
}

.menuListActive {
	color: #403a60;
	font-size: 16px;
	font-weight: 800;
	text-decoration: none;
	border: none;
    background: none;
}

.menuList {
	color: black;
	font-size: 16px;
	text-decoration: none;
	border: none;
    background: none;
}

.minstagnew {
	width: 156px;
	height: 24px;
	margin-left: 8px;
	margin-top: 24px;
	font-family: Eina-SemiBold;
	font-size: 14px;
}

.mbbreak {
	display: none;
}

/* Spinner for loading  */
.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(1.5px);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
  }
  
  .loader:not(:required) {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
  }
  
  .loader:not(:required):after {
	content: "";
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	box-shadow:
	  #403a60 1.5em 0 0 0,
	  #403a60 1.1em 1.1em 0 0,
	  #403a60 0 1.5em 0 0,
	  #403a60 -1.1em 1.1em 0 0,
	  #403a60 -1.5em 0 0 0,
	  #403a60 -1.1em -1.1em 0 0,
	  #403a60 0 -1.5em 0 0,
	  #403a60 1.1em -1.1em 0 0;
  }
  
  /* Animation for loading spinner*/
  @-webkit-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @-moz-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @-o-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }  

/*Font Declaration*/

@font-face {
	font-family: 'Eina-Regular';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Eina-Light';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff') format('woff');
}

@font-face {
	font-family: 'Eina-SemiBold';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Eina-Bold';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff') format('woff');
}

@media only screen and (max-width: 420px) {
	.Category {
		
		margin-left: -43px;
		
		width: fit-content;
		display: flex;
		flex-direction: column;
	}

	.headingcontainer {
		width: auto;
		height: auto;
	}

	.leftlink {
		position: relative;
	}

	.rightlink {
		position: relative;
	}

	.mbbreak {
		display: block;
	}

	.descriptionsub {
		font-size: 14px;
	}

	article h2 {
		font-size: 24px;
		width: 350px;
	}

	.headingcontainersecond {
		width: auto;
		height: auto;
		margin-top: 46px;
	}

	.article img {
		width: 399px;
		height: auto;
		object-fit: cover;
		border-radius: 0px 0px 0px 0px;
	}

	.article-container {
	
		margin-top: 0%;
	}

	.article-containerbranded {
		
		margin-top: 0%;
	}

	.article.first {
		width: 399px;
		height: fit-content;
		background-color: #8d89a580;
		margin-top: 0%;
		display: grid;
		padding-bottom: 10px;
	}

	.article.second {
		width: 399px;
		height: auto;
		background-color: #8d89a580;
		margin-top: 0%;
		display: grid;
		padding-bottom: 10px;
	}

	.QuickLinks {
		display: block;
		margin-top: 30px;
	}

	.Heading2 {
		display: none;
	}

	.search-icon-container {
		border-bottom: 2px solid;
		width: 82%;
		height: 10%;
	}

	.article a {
		top: 0%;
	}

	.heading_category {
		width: 290px;
		height: auto;
		font-size: 18px;
		margin-left: 33px;
		display: none;
	}

	.secondimg {
		
		margin-left: 1px;
		width: 296px;
		position: absolute;
	}

	.articleheadwithdesc {
		margin-top: 200px;
	}

	.container-large {
		margin-left: 10px;
	}

	.end-btn {
		outline: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-color: #f4f4f4;
		outline-color: #f4f4f4;
		height: fit-content;
		margin-left: -7px;
	}

	.end-btn-selected {
		outline: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-color: #f4f4f4;
		outline-color: #f4f4f4;
		height: fit-content;
		margin-left: -7px;
	}

	.container-item {
		width: auto;
		height: auto;
	}

	.container-tag {
		width: auto;
	}

	.loadmorebtn {
		width: 79%;
		margin-left: 6%;
		height: 40px;
	}

	.search-bar {
		border: none;
		border-bottom: none;
		width: 82%;
		height: 28px;
		outline: none;
		margin-left: 20px;
		background-color: #fbfaf5;
		font-size: 16px;
		font-family: Eina-Regular;
	}

	.component {
		
		width: auto;
		height: fit-content;
		margin-left: 47px;
		margin-top: 0px;
	}

	.artdisplay {
		margin-top: 0;
		padding-bottom: 8%;
	}

	.display {
		display: flex;
		width: 169%;
		justify-content: space-around;
		margin-left: -4px;
	}

	hr.search-bar-border-bottom {
		width: 82%;
		margin-top: 8px;
		border-color: #000000;
		border-width: 1px;
		transition: all 0.1s ease 0s;
	}

	.mblinecat {
		width: 82%;
		margin-top: 8px;
		border-color: #000000;
		border-width: 1px;
		transition: all 0.1s ease 0s;
	}

	.desktopextspace {
		display: none;
	}

	.article p {
		width: 87%;
	}
}

@media only screen and (min-width: 421px) and (max-width: 500px) {
	.Category {
		
		margin-left: -43px;
		
		width: fit-content;
		display: flex;
		flex-direction: column;
	}

	.headingcontainer {
		width: auto;
		height: auto;
	}

	.leftlink {
		position: relative;
	}

	.rightlink {
		position: relative;
	}

	.mbbreak {
		display: block;
	}

	.descriptionsub {
		font-size: 14px;
	}

	article h2 {
		font-size: 24px;
		width: 350px;
	}

	.headingcontainersecond {
		width: auto;
		height: auto;
		margin-top: 46px;
	}

	.article img {
		width: 399px;
		height: auto;
		object-fit: cover;
		border-radius: 0px 0px 0px 0px;
	}

	.article-container {
		
		margin-top: 0%;
	}

	.article-containerbranded {
		
		margin-top: 0%;
	}

	.article.first {
		width: 399px;
		height: fit-content;
		background-color: #8d89a580;
		margin-top: 0%;
		display: grid;
	}

	.article.second {
		width: 399px;
		height: auto;
		background-color: #8d89a580;
		margin-top: 0%;
		display: grid;
	}

	.QuickLinks {
		display: block;
		margin-top: 30px;
	}

	.Heading2 {
		display: none;
	}

	.search-icon-container {
		border-bottom: 2px solid;
		width: 82%;
		height: 10%;
	}

	.article a {
		top: 0%;
	}

	.heading_category {
		width: 290px;
		height: auto;
		font-size: 18px;
		margin-left: 33px;
		display: none;
	}

	.secondimg {
		
		margin-left: 1px;
		width: 296px;
		position: absolute;
	}

	.articleheadwithdesc {
		margin-top: 200px;
	}

	.container-large {
		margin-left: 10px;
	}

	.end-btn {
		outline: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-color: #f4f4f4;
		outline-color: #f4f4f4;
		height: fit-content;
		margin-left: -7px;
	}

	.end-btn-selected {
		outline: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-color: #f4f4f4;
		outline-color: #f4f4f4;
		height: fit-content;
		margin-left: -7px;
	}

	.container-item {
		width: auto;
		height: auto;
	}

	.container-tag {
		width: auto;
	}

	.loadmorebtn {
		width: 79%;
		margin-left: 6%;
		height: 40px;
	}

	.search-bar {
		border: none;
		border-bottom: none;
		width: 82%;
		height: 28px;
		outline: none;
		margin-left: 20px;
		background-color: #fbfaf5;
		font-size: 16px;
		font-family: Eina-Regular;
	}

	.component {
		
		width: auto;
		height: fit-content;
		margin-left: 47px;
		margin-top: 0px;
	}

	.artdisplay {
		margin-top: 0;
		padding-bottom: 8%;
	}

	.display {
		display: flex;
		width: 169%;
		justify-content: space-around;
		margin-left: -4px;
	}

	hr.search-bar-border-bottom {
		width: 82%;
		margin-top: 8px;
		border-color: #000000;
		border-width: 1px;
		transition: all 0.1s ease 0s;
	}

	.mblinecat {
		width: 82%;
		margin-top: 8px;
		border-color: #000000;
		border-width: 1px;
		transition: all 0.1s ease 0s;
	}

	.desktopextspace {
		display: none;
	}

	.article p {
		width: 87%;
	}

	.flexrowart {
		margin-left: 8%;
	}
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
	.Category {
		
		margin-left: -43px;
		
		width: fit-content;
		display: flex;
		flex-direction: column;
	}

	.headingcontainer {
		width: auto;
		height: auto;
	}

	.leftlink {
		position: relative;
	}

	.rightlink {
		position: relative;
	}

	.mbbreak {
		display: block;
	}

	.descriptionsub {
		font-size: 14px;
	}

	article h2 {
		font-size: 24px;
		width: 350px;
	}

	.headingcontainersecond {
		width: auto;
		height: auto;
		margin-top: 46px;
	}

	.article img {
		width: 399px;
		height: auto;
		object-fit: cover;
		border-radius: 0px 0px 0px 0px;
	}

	.article-container {
		
		margin-top: 0%;
	}

	.article-containerbranded {
		
		margin-top: 0%;
	}

	.article.first {
		width: 399px;
		height: fit-content;
		background-color: #8d89a580;
		margin-top: 0%;
		display: grid;
	}

	.article.second {
		width: 399px;
		height: auto;
		background-color: #8d89a580;
		margin-top: 0%;
		display: grid;
	}

	.QuickLinks {
		display: block;
		margin-top: 30px;
	}

	.Heading2 {
		display: none;
	}

	.search-icon-container {
		border-bottom: 2px solid;
		width: 82%;
		height: 10%;
	}

	.article a {
		top: 0%;
	}

	.heading_category {
		width: 290px;
		height: auto;
		font-size: 18px;
		margin-left: 33px;
		display: none;
	}

	.secondimg {
		
		margin-left: 1px;
		width: 296px;
		position: absolute;
	}

	.articleheadwithdesc {
		margin-top: 200px;
	}

	.container-large {
		margin-left: 10px;
	}

	.end-btn {
		outline: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-color: #f4f4f4;
		outline-color: #f4f4f4;
		height: fit-content;
		margin-left: -7px;
	}

	.end-btn-selected {
		outline: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-color: #f4f4f4;
		outline-color: #f4f4f4;
		height: fit-content;
		margin-left: -7px;
	}

	.container-item {
		width: auto;
		height: auto;
	}

	.container-tag {
		width: auto;
	}

	.loadmorebtn {
		width: 79%;
		margin-left: 6%;
		height: 40px;
	}

	.search-bar {
		border: none;
		border-bottom: none;
		width: 82%;
		height: 28px;
		outline: none;
		margin-left: 20px;
		background-color: #fbfaf5;
		font-size: 16px;
		font-family: Eina-Regular;
	}

	.component {
		
		width: auto;
		height: fit-content;
		margin-left: 47px;
		margin-top: 0px;
	}

	.artdisplay {
		margin-top: 0;
		padding-bottom: 8%;
	}

	.display {
		display: flex;
		width: 169%;
		justify-content: space-around;
		margin-left: -4px;
	}

	hr.search-bar-border-bottom {
		width: 82%;
		margin-top: 8px;
		border-color: #000000;
		border-width: 1px;
		transition: all 0.1s ease 0s;
	}

	.mblinecat {
		width: 82%;
		margin-top: 8px;
		border-color: #000000;
		border-width: 1px;
		transition: all 0.1s ease 0s;
	}

	.desktopextspace {
		display: none;
	}

	.article p {
		width: 87%;
	}

	.flexrowart {
		margin-left: 8%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1130px) {
	.artdisplay1 {
		width: 100%;
	}

	.Category {
		width: 100%;
	}

	.flexrowart {
		width: 100%;
	}

	.artdisplay {
		margin-top: -300px;
		padding-bottom: 4%;
		width: 68%;
	}

	.article-container {
		width: 72%;
		height: fit-content;
	}

	.article-containerbranded {
		width: 72%;
		height: fit-content;
	}

	.article.first {
		width: 100%;
	
		height: 360px;
	}

	.article.second {
		width: 100%;
		
		height: 360px;
	}

	article img {
		width: 49%;
		height: auto;
	}

	.headingcontainer {
		width: 51%;
		height: auto;
	}

	.headingcontainersecond {
		width: 49%;
		height: auto;
	}

	.secondimg {
		width: 52% !important;
	}

	.leftlink {
		text-decoration: none;
		font-weight: bold;
		margin-left: 17px;
		padding: 4px;
		color: rgba(64, 58, 96, 1) !important;
		
		height: 32px;
		width: 32px;
		display: block;
		position: absolute;
		bottom: 7px;
		margin-top: 112px;
	}

	.article p {
		font-size: 15px;
	}

	.rightlink {
		top: auto;
		bottom: 33px;
	}

	.headingcontainer {
		font-size: 34px;
	}

	article h2 {
		font-size: 21px !important;
	}

	.heading_category {
		font-size: 29px;
	}
}

@media only screen and (min-width: 1130px) and (max-width: 1250px) {
	.artdisplay1 {
		width: 100%;
	}

	.Category {
		width: 100%;
	}

	.flexrowart {
		width: 100%;
	}

	.artdisplay {
		margin-top: -300px;
		padding-bottom: 4%;
		width: 68%;
	}

	.article-container {
		width: 81%;
		height: fit-content;
	}

	.article-containerbranded {
		width: 81%;
		height: fit-content;
	}

	.article.first {
		width: 100%;
		
		height: 340px;
	}

	.article.second {
		width: 100%;
		
		height: 340px;
	}

	article img {
		width: 49%;
		height: auto;
	}

	.headingcontainer {
		width: 51%;
		height: auto;
	}

	.headingcontainersecond {
		width: 49%;
		height: auto;
	}

	.secondimg {
		width: 52% !important;
	}

	.leftlink {
		text-decoration: none;
		font-weight: bold;
		margin-left: 17px;
		padding: 4px;
		color: rgba(64, 58, 96, 1) !important;
		
		height: 32px;
		width: 32px;
		display: block;
		position: absolute;
		bottom: 7px;
		margin-top: 112px;
	}

	.article p {
		font-size: 15px;
	}

	.rightlink {
		top: auto;
		bottom: 33px;
	}

	.heading_category {
		font-size: 34px;
	}

	article h2 {
		font-size: 21px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.article-container {
		margin-left: -8%;
		margin-top: 5%;
	}

	.article-containerbranded {
		margin-top: 5%;
	}

	.article.first {
		width: 90%;
	}

	.article.second {
		width: 90%;
	}

	.loadmorebtn {
		width: 100%;
	}

	.Category {
		flex-direction: column;
	}

	.artdisplay {
		margin-top: auto;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1650px) {
	.artdisplay1 {
		width: 100%;
	}

	.Category {
		width: 100%;
	}

	.flexrowart {
		width: 100%;
	}

	.artdisplay {
		margin-top: -300px;
		padding-bottom: 4%;
		width: 68%;
	}

	.article-container {
		width: 100%;
	}

	.article-containerbranded {
		width: 100%;
	}

	.article.first {
		width: 100%;
	}

	.article.second {
		width: 100%;
	}

	article img {
		width: 49%;
	}

	.headingcontainer {
		width: 51%;
	}

	.headingcontainersecond {
		width: 49%;
	}

	.secondimg {
		width: 52% !important;
	}

	.leftlink {
		margin-top: 0px;
	}
}

@media only screen and (min-width: 1651px) and (max-width: 1800px) {
	.artdisplay1 {
		width: 100%;
	}

	.Category {
		width: 100%;
	}

	.flexrowart {
		width: 100%;
	}

	.artdisplay {
		margin-top: -300px;
		padding-bottom: 4%;
		width: 71%;
	}

	.article-container {
		width: 100%;
	}

	.article-containerbranded {
		width: 100%;
	}

	.article.first {
		width: 100%;
	}

	.article.second {
		width: 100%;
	}

	article img {
		width: 49%;
	}

	.headingcontainer {
		width: 51%;
	}

	.headingcontainersecond {
		width: 49%;
	}

	.secondimg {
		width: 52% !important;
	}

	.leftlink {
		margin-top: 0px;
	}
}

@media only screen and (min-width: 1801px) and (max-width: 1950px) {
	.artdisplay1 {
		width: 100%;
	}

	.Category {
		width: 100%;
	}

	.flexrowart {
		width: 100%;
	}

	.artdisplay {
		margin-top: -300px;
		padding-bottom: 4%;
		width: 73%;
	}

	.article-container {
		width: 100%;
	}

	.article-containerbranded {
		width: 100%;
	}

	.article.first {
		width: 100%;
	}

	.article.second {
		width: 100%;
	}

	article img {
		width: 49%;
	}

	.headingcontainer {
		width: 51%;
	}

	.headingcontainersecond {
		width: 49%;
	}

	.secondimg {
		width: 52% !important;
	}

	.leftlink {
		margin-top: 0px;
	}
}