.custom-box2{
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	right: 8%;
}
.displayHeader{
	display: flex;
	justify-content: end;
}
.footerLink{
	text-decoration: none;
	color:#403A60;
	font-size: 14px;
	font-weight: 400;
}
.grid-containerfooter{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.layoutColor{
	background-color: #FBFAF5;
	min-height: 400px;
	position: relative;
	width: 100%;
	
}
.grid-containerTabs{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.tabsDiv{
	width: 100%;
	text-align: left;
}
.tabClass{
	width: 100%;
	background-color: white;
}
.anchorText{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 400;
}
.anchorTextActive{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 800;
}
.pad{
		overflow-x: hidden;
}
.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
/*--CSS Media Queries---*/


@media only screen and (max-width: 400px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
	}
	.custom-box2{
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	right: 15%;
}
.tabsDiv{
	display: none;
}
.custom-box1
{
	margin-left: 28px;
}
.custom-box2{
	margin-top: -108px;
}

}

@media only screen and (min-width: 601px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	}

}
@media only screen and (min-width: 768px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	}

}
@media only screen and (min-width: 992px)
{
	.pad{
	padding-left: 10%;
	padding-right: 10%;
	}

}
@media only screen and (min-width: 1200px) and (max-width:1366px)
{
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	}
	.tabClass{
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

}
@media only screen and (min-width: 1366px) and (max-width:1500px)
{
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	}
	.tabClass{
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
	.custom-box2{
		right: 12%;
	}

}
@media only screen and (min-width: 1500px)
{
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	overflow-x: hidden;
	}
	.tabClass{
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

}
@media screen and (min-width: 768px) and (max-width: 992px){
	.pad{
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	flex-direction: column;
}
.custom-box1{
		width: 346%;
		margin-left: -94px;
}
.custom-box2 {
	margin-left: 26%;
	width: 137%;
	
bottom: 100px;
}
.grid-containerTabs {
	/* display: grid; */
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
	display: none;
}
.containercolumn {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	/* margin-left: 61px; */
}
.tabsDiv{
	display: none;
}

}
@media screen and (min-width: 600px) and (max-width: 768px){

	.pad{
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	flex-direction: column;
}
.custom-box1{
	 width: 98%;
	margin-left: -255px;
}
.custom-box2{
width: 170%;
	margin-left: -37px;
	bottom: 100px;
}
.grid-containerTabs {
	display: none;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.tabsDiv{
	display: none;
}
}


@media screen and (min-width: 500px) and (max-width: 600px){
.custom-box2{
width: 170%;
	margin-left: -2%;
	margin-top: -20%;
}
.custom-box1{
  width: 98%;
	margin-left: -255px;
}
.grid-containerTabs {
	display: none;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: column;
}
.custom-box1{
		width: 340%;
}
.custom-box2{
width: 170%;
	margin-left: -37px;
}
.tabsDiv{
	display: none;
}


}
@media screen and (min-width: 401px) and (max-width: 500px){
.custom-box2{
	width: 170%;
	margin-left: -4%;
	bottom: 84px;
}
.custom-box1{
   width: 98%;
	margin-left: -255px;
}
.grid-containerTabs {
	display: none;
}
}
@media screen and (min-width: 320px) and (max-width: 401px){
.custom-box2{
width: 170%;
	margin-left: -3%;
		bottom: 34px;
	/* margin-top: -20%; */
}
.custom-box1{
	  width: 108%;
	margin-left: -271px;
	position: relative;
	bottom: 26px;
}
.grid-containerTabs {
	display: none;
}
}