.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	right: 0%;
}

.displayHeader {
	display: flex;
	justify-content: end;
}

.footerLink {
	text-decoration: none;
	color: #403a60;
	font-size: 14px;
	font-weight: 400;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.layoutColor {
	background-color: #fbfaf5;
	min-height: 400px;
	position: relative;
	width: 106%;
	right: 6%;
}

.grid-containerTabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.tabsDiv {
	width: 100%;
	text-align: left;
}

.tabClass {
	width: 100%;
	background-color: white;
}

.anchorText {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 400;
}

.anchorTextActive {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 800;
}

/*--CSS Media Queries---*/

@media only screen and (max-width: 400px) {
	.layoutColor {
		right: 0%;
		width: 100%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
	.pad {
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box1 {
		width: 98%;
		margin-left: -255px;
		position: relative;
		bottom: 26px;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		bottom: 141px;
		margin-left: -3%;
	}
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box1 {
		width: 98%;
		margin-left: -242px;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box2 {
		bottom: 111px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box1 {
		width: 98%;
		margin-left: -199px;
	}

	.custom-box2 {
		margin-left: 7%;
		bottom: 116px;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box1 {
		width: 112%;
	}

	.custom-box2 {
		margin-left: 10%;
		bottom: 104px;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.pad {
		padding-left: 10%;
		padding-right: 10%;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box1 {
		width: 112%;
		margin-left: 5%;
	}

	.custom-box2 {
		bottom: 100px;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	

	.custom-box1 {
		margin-left: 67px;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 1366px) and (max-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		
		right: 4%;
	}

	.custom-box1 {
		margin-left: 67px;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
	}

	.custom-box1 {
		margin-left: 96px;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

	.custom-box2 {
		
		right: 3%;
	}
}