.component {
	margin-top: 25px;
}

.flex {
	display: flex;
	flex-direction: column;
	width: 350px;
	gap: 8px;
}

.rowcls {
	display: flex;
	flex-direction: row;
}

.svgpathcls {
	stroke: #403a60;
	stroke-opacity: 1;
}

.article_image {
	width: 187px;
	height: 187px;
}

.left-section.img {
	height: 187px;
	width: 187px;
}

.options {
	display: flex;
	flex-direction: column;
	margin-left: 71px;
}

.heading {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 16px;
	
}

.search-bar {
	border: none;
	border-bottom: none;
	/* Remove border */
	width: 286px;
	height: 48px;
	outline: none;
	/* Remove focus outline */
	margin-left: 20px;
	background-color: #fbfaf5;
}

.container-tag {
	width: 750px;
	display: flex;
}

.searchhead {
	display: flex;
	gap: 16px;
	flex-direction: row;
}

.search-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid blueviolet;
	/* Underline effect */
	margin-bottom: 10px;
	/* Add margin for spacing */
	flex-direction: row;
}

.end-btn {
	background-color: #fbfaf5;
	color: #403a60;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	margin: 4px 2px;
	cursor: pointer;
	padding: 8px;
	border-radius: 12px;
	/* Add border-radius for curved edges */
	height: 40px;
	width: fit-content;

	border: 15px;
	border-color: #403a60;
	outline: 1px solid #403a60;
	/* Add outline with the desired color on hover */
}

.end-btn:hover {
	background-color: #8d89a540;
}

.container-itembox {
	height: 800px;
	
}

.container-item {
	width: 800px;
	height: 187px;
}

.article-container {
	/* display: flex; */
	justify-content: space-between;
	margin: 20px;
}

.line {
	background-color: #403a60;
	width: 950px;
	margin-left: 45px;
	margin-bottom: 20px;
}

.svgcls {
	margin-left: 54px;
}

.left-section,
.right-section {
	flex: 1;
}

.article {
	border: 1px solid #ccc;
	
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	height: 50%;
	display: flex;
}

.article.first {
	width: 800px;
	height: 187px;
	background-color: #8d89a580;
}

.top-heading {
	font-size: 24px;
	font-weight: bold;
	color: #378dba;
	padding: 0px 50px;
}

article h2 {
	padding: 10px 2px 2px 17px;
	font-weight: 800;
	font-size: 1.563rem;
	color: rgba(64, 58, 96, 1) !important;
}

.article p {
	margin: 10px 0;
	text-align: justify;
	padding: 0px 0px 0px 19px;
	color: rgba(64, 58, 96, 1) !important;
}

.article a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	border-radius: 50%;
	border: 1px solid black;
	margin-left: 17px;
	padding: 3px;
	font-size: 15px;
	color: rgba(64, 58, 96, 1) !important;
}

.left-section {
	margin: 0px 31px;
}

.arrow-svg {
	margin-left: 20px;
}

/*--Font Declaration---*/

@font-face {
	font-family: "Eina-Regular";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff") format("woff");
}

@font-face {
	font-family: "Eina-Light";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff") format("woff");
}

@font-face {
	font-family: "Eina-SemiBold";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Eina-Bold";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff") format("woff");
}

@media only screen and (max-width: 400px) {
	.component {
		margin-top: 25px;
		margin-left: -10%;
	}
}