.Symptomdata-date img {
	width: 40px;
	height: 40px;
	position: relative;
	left: 38px;
	top: 25px;
}
@media print {
	.button{
		    background-color: #ECDCA8 !important ;
    border-radius: 24px;
    width: fit-content;
    height: auto;
    border: 1px solid white;
    font-size: 16px;
    font-family: 'Eina-SemiBold';
    padding: 10px 19px;
	/* -webkit-print-color-adjust: exact; /* For WebKit browsers */
  /*  print-color-adjust: exact; For other browsers */
	}
	 .white {
    background-color: #FFFFFF !important;
    border-radius: 15px !important;
    border-color: #C4C1CD !important;
    width: 100% !important;
    height: fit-content !important;
    -webkit-print-color-adjust: exact !important; /* For WebKit browsers */
    print-color-adjust: exact !important; /* For other browsers */
	margin-left: 0px !important;
  }
  .Symptomdata-date{
	      background-color: white !important;
		  width: 100% !important;
  }
  .Symptomdata-GPp{
	  background-color: white !important;
	    width: 100% !important;
  }.Symptomdata-rows{
	  margin-left: 0px !important;
  }
}
.span {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Eina-regular';
	font-weight: 300;
	position: relative;
	bottom: 9px;
	right: 1px;
}

.edit {
	font-family: 'Eina-Regular';
	font-weight: 400;
	font-size: 16px;
}

.modal-background {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.image-file-set {
	border: 1px solid #C4C1CD;
	width: 191px;
	padding: 14px;
	margin: 24px 6px;
	border-radius: 10px;
}

.image-container {
	display: flex;
}

.modal-content {
	background-color: #fefefe;
	margin: 100px auto;
	padding: 20px;
	border: 1px solid #8d89a5;
	border-radius: 8px;
	width: 514px;
}

.close {
	color: #403a60;
	float: right;
	text-align: right;
	font-size: 40px;
	cursor: pointer;
	position: relative;
	bottom: 30px;
	font-family: none;
}

p {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
	color: #403A60;
}
.final{
	font-weight: bold;
}
.ulstyle{
	list-style: none; 
	padding: 0; 
	display: flex; 
	flex-wrap: wrap;
}
.key{
	margin-right: 10px;
}
.list{
	width: 24px; 
	height:24px;
}
h3.lastedit {
	color: #403A60;
	font-size: 32px;
	font-family: 'Eina-Bold';
}

.modal-header {
	color: #403a60;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	width: 33%;
	border: none;
	font-family: 'Eina-Bold';
}

.modal-header-text {
	color: #000000;
	font-size: 16px;
	margin: 60px 0px;
	font-family: 'Eina-Regular';
}

.modal-btn-row {
	display: flex;
	justify-content: center;
}

.modal-confirm-btn {
	height: 40px;
	width: 24px;
	border-radius: 12px;
	background-color: #403a60;
	font-weight: bold;
	color: white;
	border: #403a60;
	margin: 20px 0px;
}

.modal-confirm-btn {
	height: 40px;
	width: 24px;
	border-radius: 12px;
	background-color: #403a60;
	font-weight: bold;
	color: white;
	border: #403a60;
	margin: 20px 0px;
}

.confirm-btn-head {
	display: flex;
	justify-content: right;
	flex-direction: row-reverse;
}

.confirm-btn-understand {
	height: 40px;
	width: 68px;
	border-radius: 12px;
	background-color: #ffffff;
	font-weight: bold;
	color: #403a60;
	font-family: 'Eina-SemiBold';
	margin-top: 30px;
	border-color: #403a60;
	margin-bottom: 0px;
	border: 1.5px solid;
}

.confirm-btn-understand-1 {
	height: 40px;
	width: 68px;
	border-radius: 12px;
	background-color: #403a60;
	font-weight: bold;
	color: white;
	border: #403a60;
	font-family: 'Eina-SemiBold';
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 0px;
}

.Symptomdata-GPp img {
	width: 44px;
	height: 44px;
	position: relative;
	left: 38px;
	top: 14px;
}

.Symptomdata-date {
	height: 90px;
	width: 100%;
	border-radius: 12px;
	font-weight: bold;
	border: #403a60;
	margin: 48px 8px 16px 0px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	display: flex;
}

.Symptomdata-GPp {
	height: 90px;
	width: 100%;
	border-radius: 12px;
	font-weight: bold;
	border: #403a60;
	margin: 48px 0px 16px 8px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	display: flex;
}

.Symptomdata-rows {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin-left: 5%;
}

p.Symptomdata-value {
	position: relative;
	left: 72px;
	display: inline-block;
	top: 23px;
}

.p1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 560;
	color: #403A60;
	width: 100%;
}

.btn {
	border-radius: 12px;
	width: 75px;
	height: 40px;
	border: 1.5px solid #403A60;
	font-size: 14px;
	font-family: 'Eina-SemiBold';
	line-height: 21px;
	font-weight: 400;
	background: #FBFAF5;
}

.btns {
	display: flex;
	gap: 20px;
}

.itchiness-page-primary {
	border: 2px solid #C5CCD3;
	width: 130px;
	height: 130px;
	border-radius: 12px;
	margin: 8px 2px;
}

.itchiness-page-primary img {
	width: 33px !important;
	position: relative;
	left: 45px;
	top: 19px;
	height: auto !important;
}

.boximg {
	display: flex;
	position: relative;
	width: -webkit-fill-available;
	overflow: scroll;
	/* left: 20px; */
	/* width: 34%; */
}

.head {
	/* position: relative;
	left: 22px; 
	padding-bottom: 10px; */
	font-size: 18px;
	line-height: 24px;
	font-family: sans-serif;
	font-weight: 600;
}

.white {
	background-color: #FFFFFF;
	border-radius: 15px;
	border-color: #C4C1CD;
	width: 100%;
	height: fit-content;
}

.align {
	position: relative;
	left: 3%;
	width: 96%;
}

.Symptomdata-date {
	background-color: white;
}

.Symptomdata-GPp {
	background-color: white;
}

.itchiness-page-primary-center {
	position: relative;
	left: 0px;
	top: 29px;
	text-align: center;
}

.div {
	padding: 20px;
	background-color: white;
}

.primary-symptoms {
	display: flex;
	justify-content: space-evenly;
}

.itchiness-page-primary-center p {
	color: #8D89A5;
	font-size: 16px;
}

.hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

.img {
	gap: 10px;
	display: flex;
}

.hr1 {
	margin-top: 40px;
	margin-bottom: 10px;
}

.button {
	background-color: #ECDCA8;
	border-radius: 24px;
	width: fit-content;
	height: auto;
	border: 1px solid #926B45;
	font-size: 16px;
	font-family: 'Eina-SemiBold';
	padding: 10px 19px;

}

.careName {
	font-size: 16px;
	font-family: system-ui;
	line-height: 21px;
	font-weight: 400;
	color: #8D89A5;
}

.ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

}

h1 {
	padding-bottom: 10px;
}

.Name {
	POSITION: RELATIVE;
	left: 0px;
	top: 32px;
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	font-size: 16px;
	font-family: 'Eina-semibold';
}

.Imageclass {
	width: 120px;
	height: 73px;
}

/* button.reson-btn {
	margin: 16px 16px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	padding: 12px 16px;
	border: 1px solid #926b45;
	border-radius: 24px;
	background-color: #ECDCA8;
} */
::-webkit-scrollbar {
	width: 0px;
}

.btnclass {
	padding-left: 57px;
	padding-bottom: 50px;
}

@media only screen and (max-width:400px) {
	h3.lastedit {
		color: #403A60;
		font-size: 32px;
		font-family: 'Eina-Bold';
	}

	.confirm-btn-head {
		flex-direction: column;
	}

	.main {
		width: 100%;
		margin-left: 18px;
		margin-top: -41%;
	}

	.Symptomdata-rows {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		right: 8%;
	}

	.Symptomdata-date {
		width: 99%;
		margin-left: -10px;

	}

	.Symptomdata-GPp {
		width: 100%;
		margin: 10px -10px
	}

	.ul {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.button {
		width: 100%;
		height: auto;
		position: relative;
		top: 36%;
		padding: 5px 5px;
	}

	.boximg {
		overflow-x: scroll;
		width: -webkit-fill-available;
	}

	.btns {
		width: 100%;
		flex-direction: column;
		position: relative;
		left: 0px;
	}

	.btn {
		width: 97%;
	}

	.align {
		position: relative;
		left: 3%;
		width: 96%;
		margin-top: 10px;
	}

	.hr {
		width: 100%;
	}

	.btnclass {
		width: 85%;
		margin-left: -72px;
		padding-bottom: 120px;
	}

	.modal-content {
		width: 92% !important;
	}

	.confirm-btn-understand {
		width: 100% !important;
		margin-top: 0px !important;
		background-color: #ffffff !important;
		font-weight: bold;
		color: #403a60 !important;
		font-family: 'Eina-SemiBold';
		border-color: #403a60 !important;
	}

	.confirm-btn-understand-1 {
		width: 100% !important;
		margin-bottom: 20px !important;
		margin-left: 0px;
	}

	.hr1 {
		@font-face {
			font-family: 'Eina-Regular';
			src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Regular.woff') format('woff');
		}

		@font-face {
			font-family: 'Eina-Light';
			src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff') format('woff');
		}

		@font-face {
			font-family: 'Eina-SemiBold';
			src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff') format('woff');
		}

		@font-face {
			font-family: 'Eina04-Bold';

			src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff') format('woff');
		}

		.Symptomdata-date img {
			width: 40px;
			height: 40px;
			position: relative;
			left: 38px;
			top: 25px;
		}

		.span {
			font-size: 16px;
			line-height: 24px;
			font-family: 'Eina-regular';
			font-weight: 300;
			position: relative;
			bottom: 15px;
			color: #403A60;
		}

		.Symptomdata-GPp img {
			width: 44px;
			height: 44px;
			position: relative;
			left: 38px;
			top: 14px;
		}

		.Symptomdata-date {
			height: 90px;
			width: 393px;
			border-radius: 12px;
			font-weight: bold;
			border: #403a60;
			margin: 20px 25px;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
			display: flex;
		}

		.Symptomdata-GPp {
			height: 90px;
			width: 393px;
			border-radius: 12px;
			font-weight: bold;
			border: #403a60;
			margin: 20px 39px;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
			display: flex;
		}

		.Symptomdata-rows {
			display: flex;
			justify-content: flex-start;
			width: 100%;
		}

		p.Symptomdata-value {
			position: relative;
			left: 99px;
			display: inline-block;
			top: 31px;
			color: #403A60;
		}

		.p1 {
			margin-top: 20px;
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 21px;
			font-weight: 560;
			color: #403A60;
			width: 800px;
		}

		.btn {
			border-radius: 12px;
			width: 75px;
			height: 40px;
			border: 1.5px solid #403A60;
			font-size: 14px;
			font-family: 'Eina-SemiBold';
			line-height: 21px;
			font-weight: 400;
		}

		.btns {
			display: flex;
			gap: 20px;
		}

		.itchiness-page-primary {
			border: 2px solid #C5CCD3;
			width: 130px;
			height: 130px;
			border-radius: 12px;
		}

		.itchiness-page-primary img {
			position: relative;
			left: 45px;
			top: 20px;
			width: 37px !important;
			height: auto !important;
		}

		.boximg {
			display: flex;
			position: relative;
			/* left: 20px; */
			/* width: 34%; */
		}

		.head {
			/* position: relative;
		left: 22px; 
		padding-bottom: 10px; */
			font-size: 18px;
			line-height: 24px;
			font-family: sans-serif;
			font-weight: 600;
		}

		.white {
			background-color: #FFFFFF;
			border-radius: 15px;
			border-color: #C4C1CD;
			width: 888px;
			height: fit-content;
		}

		.align {
			position: relative;
			left: 3%;
			width: 96%;
		}

		.Symptomdata-date {
			background-color: white;
		}

		.Symptomdata-GPp {
			background-color: white;
		}

		.itchiness-page-primary-center {
			position: relative;
			left: 0px;
			top: 29px;
			text-align: center;
		}

		.div {
			padding: 20px;
			background-color: white;
		}

		.primary-symptoms {
			display: flex;
			justify-content: space-evenly;
		}

		.itchiness-page-primary-center p {
			color: #8D89A5;
			font-size: 16px;
		}

		.hr {
			margin-top: 0px;
			margin-bottom: 10px;
		}

		.img {
			gap: 10px;
			display: flex;
		}

		.hr1 {
			margin-top: 40px;
			margin-bottom: 10px;
		}

		.button {
			background-color: #ECDCA8;
			border-radius: 24px;
			width: fit-content;
			height: 48px;
			border: 1px solid #926B45;
			font-size: 16px;
			font-family: 'Eina-SemiBold';

		}

		.careName {
			font-size: 16px;
			font-family: system-ui;
			line-height: 21px;
			font-weight: 400;
			color: #8D89A5;
		}

		.ul {
			list-style: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

		}

		h1 {
			padding-bottom: 10px;
		}

		.Name {
			POSITION: RELATIVE;
			left: 0px;
			top: 32px;
			text-align: center;
			display: flex;
			flex-direction: column-reverse;
			font-size: 16px;
			font-family: 'Eina-semibold';
		}

		.Imageclass {
			width: 120px;
			height: 73px;
		}

		/* button.reson-btn {
		margin: 16px 16px;
		font-size: 16px;
		font-weight: bold;
		color: #000000;
		padding: 12px 16px;
		border: 1px solid #926b45;
		border-radius: 24px;
		background-color: #ECDCA8;
	} */
		::-webkit-scrollbar {
			width: 0px;
		}

		.btnclass {
			padding-left: 10px;
		}
	}

	@media only screen and (min-width:401px) and (max-width:600px) {
		.Symptomdata-rows {
			flex-direction: column;
			position: relative;
			right: 0%;
		}

		.boximg {
			overflow-x: scroll;
			width: 90%;
			position: relative;
			left: 7%;
		}

		.Symptomdata-date {
			width: 90%;
			margin-left: 0px;
		}

		.Symptomdata-GPp {
			width: 90%;
			margin-left: 0px;
		}

		.p1 {
			width: 370px;
		}

		.head {
			margin-left: 3%;
		}

		.btns {
			flex-direction: column;
			position: relative;
			left: 0px;
		}

		.btnclass {
			width: 380px;
			padding-left: 20px;
			padding-bottom: 40px;
		}

		.hr {
			width: 100%;
		}

		.hr1 {
			width: 100%;
		}

		.ul {
			width: 370px;
			margin-left: 2%;
		}

		.btn {
			width: 300px;
		}

		.white {
			width: 100%;
			height: fit-content;
			margin-left: 13px;
		}

		.modal-content {
			width: 100%;
		}

		.confirm-btn-understand {
			width: 100%;
			margin-top: 0px;
			/* margin: 29px 0px; */
			margin-left: 0px;
		}

		.confirm-btn-understand-1 {
			width: 100%;
			margin-bottom: 20px;
			/* margin: 29px 0px; */
			margin-left: 0px;

		}

		.confirm-btn-head {
			flex-direction: column;
		}
	}

	@media only screen and (min-width:601px) and (max-width:768px) {

		.Symptomdata-rows {
			flex-direction: column;
		}

		.boximg {
			overflow-x: scroll;
		}

		.Symptomdata-GPp {
			position: relative;
			right: 5%;
		}

		.Symptomdata-date {
			position: relative;
			right: 3%;
		}

		.btnclass {
			width: 85%;
		}

		.p1 {
			width: 550px;
		}

		.hr {
			width: 100%;
		}

		.hr1 {
			width: 100%;
		}

		.white {
			width: 100%;
			height: fit-content;
		}
	}

	@media only screen and (min-width:768px) and (max-width:992px) {
		.boximg {
			overflow-x: scroll;
			width: -webkit-fill-available;
		}

		.Symptomdata-GPp {
			position: relative;
			right: 2%;
		}

		.hr {
			width: 100%;
		}

		.p1 {
			width: 600px;
		}

		.hr1 {
			width: 100%;
		}

		.main {
			position: relative;
			right: 20%;
		}

		.Symptomdata-rows {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			position: relative;
			right: 3%;
			flex-direction: column;
		}

		.white {
			width: 100%;
			height: fit-content;
		}
	}

	@media only screen and (min-width:992px) and (max-width:1200px) {
		.boximg {
			overflow-x: scroll;
			width: -webkit-fill-available;
		}

		.hr {
			width: 100%;
		}

		.hr1 {
			width: 100%;
		}

		.white {
			width: 100%;
			height: fit-content;
		}

		.Symptomdata-GPp {
			position: relative;
			right: 2%;
		}

		.p1 {
			width: 700px;
		}

		.Symptomdata-rows {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			position: relative;
			right: 3%;
			flex-direction: column;
		}

		.main {
			position: relative;
			right: 15%;
		}
	}

	@media only screen and (min-width:1200px) {
		.main {
			position: relative;
			right: 1%;
			width: 96%;
		}

		.Symptomdata-rows {
			position: relative;
			right: 2%;
		}
	}

	/* .image-file-set img {
		width: 114px;
		margin: 0px 22px;
	}
	.image-file-set {
	  
		display: contents;
	} */
	/* Popup Modal */
	.modal-background {
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.modal-content {
		background-color: #fefefe;
		margin: 100px auto;
		padding: 20px;
		border: 1px solid #8d89a5;
		border-radius: 8px;
		width: 514px;
	}

	.close {
		color: #403a60;
		float: right;
		text-align: right;
		font-size: 40px;
		cursor: pointer;
		position: relative;
		bottom: 25px;
		font-family: none;
	}

	.modal-header {
		color: #403a60;
		font-size: 32px;
		font-weight: bold;
		position: absolute;
		width: 33%;
		border: none;
		font-family: 'Eina-Bold';
	}

	.modal-header-text {
		color: #000000;
		font-size: 16px;
		margin: 60px 0px;
		font-family: 'Eina-Regular';
	}

	.modal-btn-row {
		display: flex;
		justify-content: center;
	}

	.modal-confirm-btn {
		height: 40px;
		width: 24px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: bold;
		color: white;
		border: #403a60;
		margin: 20px 0px;
	}

	.modal-confirm-btn {
		height: 40px;
		width: 24px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: bold;
		color: white;
		border: #403a60;
		margin: 20px 0px;
	}

	.confirm-btn-head {
		display: flex;
		justify-content: right;
		flex-direction: column;
	}

	.confirm-btn-understand {
		height: 40px;
		width: 68px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: bold;
		color: white;
		font-family: 'Eina-SemiBold';
		margin-top: 30px;
		margin-right: 10px;
		margin-bottom: 0px;
		border: 1.5px solid;
	}

	.confirm-btn-understand-1 {
		height: 40px;
		width: 68px;
		border-radius: 12px;
		background-color: #403a60;
		font-weight: bold;
		color: white;
		border: #403a60;
		font-family: 'Eina-SemiBold';
		margin-top: 29px;
		margin-bottom: 0px;
	}

	p {
		font-size: 16px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 10px;
	}

	h3.lastedit {
		color: #403A60;
		font-size: 32px;
		font-family: 'Eina-Bold';
	}

	.p1 {
		width: 288px;
	}

	.white {
		width: 100%;
		height: fit-content;
		margin-left: -17px;
	}
}

@media only screen and (min-width:401px) and (max-width:600px) {
	.Symptomdata-rows {
		width: 100%;
		flex-direction: column;
		position: relative;
		right: 0%;
	}

	.boximg {
		overflow-x: scroll;
		width: 90%;
		position: relative;
		left: 7%;
	}

	.Symptomdata-date {
		width: 90%;
		margin-left: 0px;
		margin-top: -37px;
	}

	.Symptomdata-GPp {
		width: 90%;
		margin-left: 0px;
		margin-top: 10px;
	}

	.button {
		width: 96%;
	}

	.main {
		width: 100%;
	}

	.p1 {
		width: 94%;
		line-height: 1.3;
	}

	.head {
		margin-left: 3%;
	}

	.btns {
		width: 96%;
		flex-direction: column;
		position: relative;
		left: 0px;
	}

	.btnclass {
		width: 100%;
		padding-left: 20px;
		padding-bottom: 40px;
	}

	.hr {
		width: 100%;
	}

	.hr1 {
		width: 100%;
	}

	.ul {
		width: 100%;
		margin-left: 2%;
	}

	.btn {
		width: 100%;
	}

	.white {
		width: 94%;
		height: fit-content;
		margin-left: 13px;
	}

	.modal-content {
		width: 94%;
		margin-left: 16px;
	}

	.confirm-btn-understand {
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}

	.confirm-btn-understand-1 {
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0px;
	}

	.confirm-btn-head {
		flex-direction: column;
	}
}

@media only screen and (min-width:601px) and (max-width:768px) {
	.Symptomdata-rows {
		flex-direction: column;
		width: 100%;
	}

	.boximg {
		overflow-x: scroll;
	}

	.Symptomdata-GPp {
		position: relative;
		right: 6%;
		width: 100%;
		margin-top: 10px;
	}

	.Symptomdata-date {
		position: relative;
		right: 5%;
		width: 100%;
		margin-top: -51px;
	}

	.btnclass {
		width: 85%;
		margin-left: 10px;
		padding-bottom: 40px;
	}

	.p1 {
		width: 100%;
	}

	.hr {
		width: 100%;
	}

	.hr1 {
		width: 100%;
	}

	.white {
		width: 100%;
		height: fit-content;
	}
}

@media only screen and (min-width:768px) and (max-width:992px) {
	.boximg {
		overflow-x: scroll;
		width: -webkit-fill-available;
	}

	.Symptomdata-GPp {
		position: relative;
		right: -3%;
		width: 134%;
	}

	.Symptomdata-date {
		width: 133%;
		margin-left: 28px;
	}

	.hr {
		width: 100%;
	}

	.p1 {
		width: 100%;
	}

	.hr1 {
		width: 100%;
	}

	.main {
		position: relative;
		right: 20%;
		width: 100%;
	}

	.Symptomdata-rows {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		position: relative;
		right: 3%;
		flex-direction: column;
	}

	.white {
		width: 134%;
		height: fit-content;
		margin-left: 35px;
	}
}

@media only screen and (min-width:992px) and (max-width:1200px) {
	.boximg {
		overflow-x: scroll;
		width: -webkit-fill-available;
	}

	.hr {
		width: 96%;
	}

	.hr1 {
		width: 96%;
	}

	.white {
		width: 100%;
		height: fit-content;
	}

	.Symptomdata-GPp {
		position: relative;
		right: 2%;
		width: 100%;
	}

	.p1 {
		width: 100%;
	}

	.Symptomdata-rows {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		position: relative;
		right: 3%;
		flex-direction: column;
	}

	.Symptomdata-date {
		width: 100%;
	}
}

@media only screen and (min-width:1200px) and (max-width:1500px) {
	.main {
		position: relative;
        right: 50px;
        width: 96%;
	}

	.Symptomdata-rows {
		position: relative;
		right: 2%;
	}

	.white {
		width: 111%;
        margin-left: 44px;
        padding-top: 14px;
	}

	.Symptomdata-rows {
		width: 114%;
		/* margin-left: 11%; */
		padding-left: 23px;
	}

	.btnclass {
		width: 100%;
		padding-bottom: 55px;
	}

	/* .image-file-set img {
	width: 114px;
	margin: 0px 22px;
} */
	/* .image-file-set {
	
	display: contents;
} */
}

@media only screen and (min-width:1500px) {
	.white {
		width: 100%;
		margin-left: 56px;
	}

	.Symptomdata-rows {
		margin-top: -35px;
		margin-left: 53px;
	}
}