.custom-box2 {
width: -webkit-fill-available;
display: grid;
}
.displayHeader {
display: flex;
justify-content: end;
}
.footerLink {
text-decoration: none;
color: #403a60;
font-size: 14px;
font-weight: 400;
}
.grid-containerfooter {
display: grid;
grid-template-columns: auto auto auto;
gap: 10px 20px;
padding: 10px;
width: fit-content;
}
.layoutColor {
background-color: #fbfaf5;
min-height: 400px;
}
.grid-containerTabs {
display: grid;
grid-template-columns: auto auto auto auto;
gap: 10px 20px;
padding: 10px;
width: fit-content;
}
.tabsDiv {
width: 100%;
text-align: left;
}
.tabClass {
width: 100%;
background-color: white;
}
.anchorText {
text-decoration: none;
color: #403a60;
font-size: 16px;
font-weight: 400;
}
.anchorTextActive {
text-decoration: none;
color: #403a60;
font-size: 16px;
font-weight: 800;
}
/*--CSS Media Queries---*/
@media only screen and (max-width: 400px) {
.pad {
padding-left: 20px;
padding-right: 20px;
}
.custom-box2 {
margin-top: 15%;
}
}

@media only screen and (min-width: 600px) {
.pad {
padding-left: 20px;
padding-right: 20px;
}
}
@media only screen and (min-width: 768px) {
.pad {
padding-left: 20px;
padding-right: 20px;
}
.custom-box2 {
margin-left: 15%;
}
}
@media only screen and (min-width: 992px) {
.pad {
padding-left: 5%;
padding-right: 5%;
}
.custom-box2 {
margin-left: 15%;
}
}
@media only screen and (min-width: 1200px) {
.pad {
padding-left: 5%;
padding-right: 5%;
}
}
@media only screen and (min-width: 1500px) {
.pad {
padding-left: 5%;
padding-right: 5%;
}
}