@font-face {
	font-family: 'Eina-Regular';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Eina-Light';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff') format('woff');
}

@font-face {
	font-family: 'Eina-SemiBold';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Eina04-Bold';
	src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff') format('woff');
}

::-webkit-scrollbar {
	width: 0px;
}
.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.slidervalue-intersity {
	display: flex !important;
	justify-content: center !important;
	position: relative !important;
	top: 41px !important;
	margin-left: 50px !important;
}

.slidervalue-intersity-text {
	text-align: center;
	margin-top: 50px;
}

span.defalut-value {
	position: relative;
	bottom: 40px;
	left: 7px;
	font-size: 24px;
	font-family: 'Eina-Regular';
	color: #403A60;
}

/* input{
	width: 233px;
	height: 10vh;
	position: relative;
	left: 27px;
} */
button.slds-button.slds-button_neutral {
	margin: 1px 13px;
}

span.value {
	position: relative;
	left: 25px;
}

span.sliderval {
	position: relative;
	bottom: 40px;
	right: 15px;
	font-size: 24px;
	font-family: 'Eina-Regular';
	color: #403A60;
}

button.slds-button.slds-button_neutral {
	margin: 3px 13px;
}

.symptom-btn {
	display: flex;
	justify-content: center;
	/* position: relative; */
	margin-left: 77px;
}

.intersity-btn {
	margin: 0px 14px;
}

button {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

path:hover {
	fill: #00000059;
}

.slider {
	width: 100%;
	height: 20px;
	margin-top: 50px;
	background: linear-gradient(to right, #C4C1CD 0% 9.9%, #8D89A5 9.9% 10.1%, #C4C1CD 10% 19.9%, #8D89A5 19.9% 20.1%, #C4C1CD 20% 29.8%, #8D89A5 29.8% 30%, #C4C1CD 30% 39.8%, #8D89A5 39.8% 40%, #C4C1CD 40% 49.8%, #8D89A5 49.8% 50%, #C4C1CD 50% 59.8%, #8D89A5 59.8% 60%, #C4C1CD 60% 69.8%, #8D89A5 69.8% 70%, #C4C1CD 70% 79.8%, #8D89A5 79.8% 80%, #C4C1CD 80% 89.8%, #8D89A5 89.8% 90%, #C4C1CD 90% 99.8%, #8D89A5 100% 100%);
	/* border: 1px solid #8D89A5; */
	position: relative;
	top: 5px;
	-webkit-appearance: none;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Override default styles for WebKit browsers */
	appearance: none;
	/* Override default styles for non-WebKit browsers */
	width: 40px;
	/* Set your desired thumb width */
	height: 40px;
	/* Set your desired thumb height */
	background-color: #403A60;
	/* Set your desired thumb color */
	border-radius: 50%;
	/* Make the thumb circular */
	/* position: relative;
	right: 7%; */

}

.slider::before {
	content: attr(data-name);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000000;
	/* Set your desired text color */
	font-size: 14px;
	/* Set your desired font size */
}

.slider-container {
	position: relative;
	bottom: 1px;
	/* left: -3px; */
	width: 99%;
	/* border-bottom-left-radius: 32px; */
	/* border-bottom-right-radius: 32px; */
	/* background: linear-gradient(to left, black 94.2%, white 0.01% 99.91%, black 0.9%); */
	background: linear-gradient(to lef, black 0.5%, white 0.01% 99.91%, black 0.9%);
	border-left: 1px solid #A8A8A8;
	border-right: 1px solid #A8A8A8;
}

.checkbox {
	width: 25px;
	/* Set your desired width */
	height: 25px;
	cursor: pointer;
	/* Set your desired height */
}

.selectedlabel {
	font-size: 25px;
	opacity: 50%;
	padding-left: 20px;
}

.selectcount {
	font-size: 25px;
	padding-left: 15px;
	color: #403A60;
}

.checkboxparent {
	text-align: center;
	margin-top: 20px;
}

.confirm-btn {
	height: 40px !important;
	width: 170px !important;
	border-radius: 12px !important;
	background-color: #403a60 !important;
	font-weight: bold !important;
	color: #ffffff !important;
	border: #403a60 !important;
	position: relative;
	left: 110px;
	bottom: 39px;
	align-items: center !important;
	font-family: 'Eina-SemiBold';
	font-size: 14px;
}

.slider-value {
	text-align: center;
	margin-top: 16%;
	display: flex;
}

.itchenesline {
	padding-bottom: 4%;
}

.slider-value-box {
	width: 50px;
	height: 40px;
	border-radius: 8px;
	border: 1px solid #8D89A580;
	margin-left: 22%;
	text-align: center;
font-size: 20px;
	margin-top: 6px;
	color: #403a60;
    font-family: 'Eina-SemiBold';
	padding-top: 3px;
}

.itchiness-error {
	text-align: center;
	color: #FF0000;
	margin-top: 50px;
	font-size: 16px;
}

p.Intensity {
	position: relative;
	top: 11px;
	left: 15px;
	font-size: 14px;
	color: #000000;
	font-family: 'Eina-SemiBold';
}

.itchiness-bottom-error[c-biPspItchiness_biPspItchiness] {
	position: relative;
	bottom: 71px;
	float: right;
	right: 12rem;
}

.body-map-group[data-v-50f7a9b6] {
	position: relative !important;
}

.body-map-group .interactive-body-svg[data-v-50f7a9b6] {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}

.body-svg.interactive[data-v-c881715a] {
	pointer-events: fill !important;
}

.body-svg.interactive g[data-v-c881715a] {
	cursor: pointer !important;
}

.body-part {
	opacity: .6 !important;
	color: transparent !important;
	transition: all 75ms ease !important;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 60px;
	height: 60px;
	border: 0;
	background-color: #403A60;
	border-radius: 50%;
	position: relative;
	z-index: 2;
	box-shadow: 2px 4px 4px 0px #0000003B;
}

.thumb-label {
	position: absolute;
	top: -30px;
	color: white;
	/* color: red; */
	display: inline-flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
	pointer-events: none;
	/* This prevents the label from blocking mouse events on the slider */
	font-family: 'Eina-Bold';
	font-size: 14px;
	font-weight: 400;
}

.thumb-label[data-name='0'] {
	/* Adjust the color for value 1 */
	/* Add any other specific styles for value 1 */
	position: absolute;
	top: 30%;
	left: 0% !important;
	transform: translate(-50%, -50%);
	color: white;
	/* color:red; */
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 30px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	/* margin-left: -100px; */
}

.thumb-label[data-name='1'] {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	/* color: red; */
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 46px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
}

/* Additional media query for adjusting positioning on smaller screens */
@media screen and (max-width:768px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.thumb-label[data-name='1'] {
		left: 10%;
		/* Adjust the left position for smaller screens */
	}
}

.thumb-label[data-name='2'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: -4.5% !important;
	transform: translate(-50%, -50%);
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 125px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
}

.thumb-label[data-name='3'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: -6% !important;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	margin-top: 40px;
	margin-left: 170px;
}

.thumb-label[data-name='4'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: -9.5% !important;
	transform: translate(-50%, -50%);
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 220px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
}

.thumb-label[data-name='5'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: -10.5% !important;
	transform: translate(-50%, -50%);
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	/* margin-right: 120px; */
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	margin-top: 40px;
	margin-left: 265px;
}

.thumb-label[data-name='6'] {
	color: white;
	/* color: red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	top: 30%;
	left: -3% !important;
	transform: translate(-50%, -50%);
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	/* margin-right: 100px; */
	margin-left: 265px;
}

.thumb-label[data-name='7'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: 7% !important;
	transform: translate(-50%, -50%);
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 260px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	/* margin-left: -1px; */
}

.thumb-label[data-name='8'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: 17% !important;
	transform: translate(-50%, -50%);
	width: 14.07px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 255px;
	/* margin-right: 75px; */
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
}

.thumb-label[data-name='9'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: 27.6% !important;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 14.07px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 250px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	/* margin-right:50px; */
}

.thumb-label[data-name='10'] {
	color: white;
	/* color:red; */
	/* Add any other specific styles for value 2 */
	position: absolute;
	top: 30%;
	left: 36.5% !important;
	transform: translate(-50%, -50%);
	width: 34px;
	height: 34px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 245px;
	font-family: 'Eina-Bold';
	font-size: 24px;
	font-weight: 400;
	/* margin-right: 50px; */
	/* margin-left: -45px; */
}

.slidecontainer::before,
.slidecontainer::after {
	content: '';
	position: absolute;
	height: 84px;
	width: 1px;
	/* Adjust the thickness of the lines */
	background-color: rgba(141, 137, 165, 0.5);
	z-index: 5;
}

.slidecontainer::before {
	left: 0;
	/* top: -47px; */
	bottom: 10px;
	margin-top: 80px;
}

.slidecontainer::after {
	right: 0;
	/* top: -47px; */
	bottom: 10px;
	margin-top: 78px;
}

.start-label,
.end-label {
	position: absolute;
	/* top: -75px;  */
	bottom: 95px;
	font-size: 24px;
	color: #403A60;
	font-weight: 400;
	padding-left: 1px;
	margin-top: 76px;
	font-family: 'Eina-Regular';
	line-height: 32px;

}

.start-label {
	left: 0;
}

.end-label {
	right: 0;
}

@media only screen and (max-width:400px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.body2 {
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	.itchiness-error {
		left: 0rem;
		top: 1cm;
	}

	.slidervalue-intersity {
		margin-left: -30px !important;
		width: 131%;
	}

	.slider-value {
		margin-top: 41%;
		margin-left: 3%;
		margin-bottom: 10%;
	}

	.confirm-btn {
		left: 0px;
		top: 10px;
		width: 100% !important;
	}

	.selectedlabel {
		font-size: 20px;
		opacity: 50%;
		padding-left: 10px;
	}

	.checkbox {
		width: 15px;
		height: 15px;
	}

	.selectcount {
		font-size: 17px;
		padding-left: 0px;
	}

	.body-map-group[data-v-50f7a9b6] {
		position: relative !important;
		right: 87px;
	}

	.thumb-label[data-name='1'] {
		margin-left: 10%;
	}

	.thumb-label[data-name='2'] {
		left: 0px;
		margin-left: 32%;
	}

	.thumb-label[data-name='3'] {
		left: 0px;
		margin-left: 40%;
	}

	.thumb-label[data-name='4'] {
		left: 0px;
		margin-left: 51%;
	}

	.thumb-label[data-name='5'] {
		left: 0px;
		margin-left: 60%;
	}

	.thumb-label[data-name='6'] {
		left: 0px;
		margin-left: 60%;
	}

	.thumb-label[data-name='7'] {
		left: 0px;
		margin-left: 58%;
	}

	.thumb-label[data-name='8'] {
		left: 0px;
		margin-left: 54%;
	}

	.thumb-label[data-name='9'] {
		left: 0px;
		margin-left: 52%;
	}

	.thumb-label[data-name='10'] {
		left: 0px;
		margin-left: 50%;
	}
}

@media only screen and (min-width:401px) and (max-width:600px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.body2 {
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	.itchiness-error {
		left: 0rem;
		top: 1cm;
	}

	.slidervalue-intersity {
		position: relative;
		right: 41%;
		width: 143%;
	}

	.slider-value {
		margin-top: 41%;
		margin-left: 3%;
		margin-bottom: 10%;
	}

	.confirm-btn {
		left: 0px;
		top: 10px;
		width: 100% !important;
	}

	.selectedlabel {
		font-size: 20px;
		opacity: 50%;
		padding-left: 10px;
	}

	.checkbox {
		width: 15px;
		height: 15px;
	}

	.selectcount {
		font-size: 17px;
		padding-left: 0px;
	}

	.body-map-group[data-v-50f7a9b6] {
		position: relative !important;
		right: 82px;
	}

	.thumb-label[data-name='1'] {
		margin-left: 18%;
	}

	.thumb-label[data-name='2'] {
		left: 0px;
		margin-left: 31%;
	}

	.thumb-label[data-name='3'] {
		left: 0px;
		margin-left: 40%;
	}

	.thumb-label[data-name='4'] {
		left: 0px;
		margin-left: 51%;
	}

	.thumb-label[data-name='5'] {
		left: 0px;
		margin-left: 60%;
	}

	.thumb-label[data-name='6'] {
		left: 0px;
		margin-left: 60%;
	}

	.thumb-label[data-name='7'] {
		left: 0px;
		margin-left: 59%;
	}

	.thumb-label[data-name='8'] {
		left: 0px;
		margin-left: 56%;
	}

	.thumb-label[data-name='9'] {
		left: 0px;
		margin-left: 54%;
	}

	.thumb-label[data-name='10'] {
		left: 0px;
		margin-left: 52%;
	}
}

@media only screen and (min-width:601px) and (max-width:768px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.body2 {
		display: flex;
		flex-wrap: wrap;
		gap: 30%;
	}

	.itchiness-error {
		left: 1rem;
		top: 50px;
	}

	.thumb-label[data-name='1'] {
		left: 0px;
		margin-left: 12%;
	}

	.thumb-label[data-name='2'] {
		left: 0px;
		margin-left: 27.5%;
	}

	.thumb-label[data-name='3'] {
		left: 0px;
		margin-left: 38%;
	}

	.thumb-label[data-name='4'] {
		left: 0px;
		margin-left: 50.5%;
	}

	.thumb-label[data-name='5'] {
		left: 0px;
		margin-left: 60%;
	}

	.thumb-label[data-name='6'] {
		left: 0px;
		margin-left: 61.5%;
	}

	.thumb-label[data-name='7'] {
		left: 0px;
		margin-left: 61%;
	}

	.thumb-label[data-name='8'] {
		left: 0px;
		margin-left: 60%;
	}

	.thumb-label[data-name='9'] {
		left: 0px;
		margin-left: 377px;
	}

	.thumb-label[data-name='10'] {
		left: 0px;
		margin-left: 58%;
	}
}

@media only screen and (min-width:769px) and (max-width:992px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.body2 {
		display: flex;
		flex-wrap: wrap;
		gap: 30%;
	}

	.itchiness-error {
		left: 1rem;
		top: 50px;
	}

	.thumb-label[data-name='1'] {
		margin-left: 12%;
	}

	.thumb-label[data-name='2'] {
		margin-left: 27%;
	}

	.thumb-label[data-name='3'] {
		margin-left: 37.5%;
	}

	.thumb-label[data-name='4'] {
		margin-left: 50.5%;
	}

	.thumb-label[data-name='5'] {
		margin-left: 60.5%;
	}

	.thumb-label[data-name='6'] {
		margin-left: 61.5%;
	}

	.thumb-label[data-name='7'] {
		margin-left: 60.5%;
	}

	.thumb-label[data-name='8'] {
		margin-left: 60%;
	}

	.thumb-label[data-name='9'] {
		margin-left: 58.5%;
	}

	.thumb-label[data-name='10'] {
		margin-left: 58.5%;
	}

	.modal-content {
		background-color: #fefefe;
		margin: 10% auto;
		padding: 20px;
		border: 1px solid #8d89a5;
		border-radius: 8px;
		width: 80% !important;
	}
}

@media only screen and (min-width:769px) and (max-width:992px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

	.slider-value {
		margin-left: 10%;
	}
}

@media only screen and (min-width:992px) and (max-width:1200px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.confirm-btn {
		position: relative;
		left: 35px;
		top: 39px;
	}

	.slider-value {
		margin-left: 30%;
	}

	.thumb-label[data-name='1'] {
		left: 0px;
		margin-left: 13%;
	}

	.thumb-label[data-name='2'] {
		left: 0px;
		margin-left: 29%;
	}

	.thumb-label[data-name='3'] {
		left: 0px;
		margin-left: 38%;
	}

	.thumb-label[data-name='4'] {
		left: 0px;
		margin-left: 50%;
	}

	.thumb-label[data-name='5'] {
		left: 0px;
		margin-left: 61%;
	}

	.thumb-label[data-name='6'] {
		left: 0px;
		margin-left: 61%;
	}

	.thumb-label[data-name='7'] {
		left: 0px;
		margin-left: 59%;
	}

	.thumb-label[data-name='8'] {
		left: 0px;
		margin-left: 58%;
	}

	.thumb-label[data-name='9'] {
		left: 0px;
		margin-left: 55%;
	}

	.thumb-label[data-name='10'] {
		left: 0px;
		margin-left: 55%;
	}
}

@media only screen and (min-width: 1200px) {
	.slider::-moz-range-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #403a60;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
	.thumb-label[data-name='1'] {
		left: 0px;
		margin-left: 15%;
	}

	.slidervalue-intersity {
		width: 500px;
	}

	.thumb-label[data-name='2'] {
		left: 0px;
		margin-left: 28.5%;
	}

	.thumb-label[data-name='3'] {
		left: 0px;
		margin-left: 38.5%;
	}

	.thumb-label[data-name='4'] {
		left: 0px;
		margin-left: 51%;
	}

	.thumb-label[data-name='5'] {
		left: 0px;
		margin-left: 60.5%;
	}

	.thumb-label[data-name='6'] {
		left: 0px;
		margin-left: 61%;
	}

	.thumb-label[data-name='7'] {
		left: 0px;
		margin-left: 60.5%;
	}

	.thumb-label[data-name='8'] {
		left: 0px;
		margin-left: 59%;
	}

	.thumb-label[data-name='9'] {
		left: 0px;
		margin-left: 57%;
	}

	.thumb-label[data-name='10'] {
		left: 0px;
		margin-left: 56%;
	}

	.itchiness-error {
		text-align: center;
		position: relative;
		left: 20rem;
		bottom: 100px;
		margin-top: 0px;
		width: 65%;
	}

	.itchiness-bottom-error {
		position: relative;
		bottom: 71px;
		float: right;
		right: 12rem;
	}

	.thumb-label[data-name='6'] {
		left: 0px;
		margin-left: 61%;
	}
}