.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	right: 100px;
	bottom: 80px;
}
.main {
	overflow:hidden;
}
.displayHeader {
	display: flex;
	justify-content: end;
}

.footerLink {
	text-decoration: none;
	color: #403A60;
	font-size: 14px;
	font-weight: 400;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.layoutColor {
	background-color: #FBFAF5;
	min-height: 400px;
}

.grid-containerTabs {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	padding-left: 0px;
	width: fit-content;
}

.tabsDiv {
	width: 100%;
	text-align: left;
}

.lightning-Card {
	height: 18cm;
}

.anchorText {
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 400;
}

.anchorTextActive {
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 800;
}

.pad {
	border-bottom: 1px solid #8D89A580;
}

/*--CSS Media Queries---*/

@media only screen and (max-width: 600px) {
	.pad {
		padding-left: 20px;
		padding-right: 10px;
		height: auto;
		padding-bottom: 21px;
	}

	.tabClass {
		display: none;
		width: 100%;
		background-color: white;
	}

	.showMobileBorder {
		display: flex;
		height: 5px;
		width: 100%;
		background: linear-gradient(90deg, #744F0D 0%, #99693E 17.19%, #EFDBA1 58.85%, #744F0D 100%);
	}

	.custom-box1 {
		position: relative;
		bottom: 0px;
	}

	.custom-box2 {
		bottom: 10px;
		right: 4px;
	}

	.lightning-Card {
		height: auto;
		padding: 0px;
	}

	.lightning-Card1 {
		height: auto;
		padding-bottom: 30px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
	.custom-box2 {
		right: 0px;
	}
}

@media only screen and (min-width: 601px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
	}

	.tabClass {
		display: none;
		width: 100%;
		background-color: white;
	}

	.showMobileBorder {
		display: flex;
		height: 5px;
		width: 100%;
		background: linear-gradient(90deg, #744F0D 0%, #99693E 17.19%, #EFDBA1 58.85%, #744F0D 100%);
	}
}

@media only screen and (min-width: 767px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
	}

	.tabClass {
		display: none;
		width: 100%;
		background-color: white;
	}

	.showMobileBorder {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	.pad {
		padding-left: 5%;
		padding-right: 10%;
	}

	.tabClass {
		display: grid;
		width: 100%;
		background-color: white;
	}

	.showMobileBorder {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.pad {
		padding-left: 5%;
		padding-right: 7%;
	}

	.tabClass {
		display: grid;
		width: 100%;
		background-color: white;
	}

	.showMobileBorder {
		display: none;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		right: 130px;
		bottom: 100px;
	}
}

@media only screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 10%;
	}

	.tabClass {
		display: grid;
		width: 100%;
		background-color: white;
	}

	.showMobileBorder {
		display: none;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		right: 200px;
		bottom: 100px;
	}
}