/* font import in this Css */
@font-face {
	font-family: "Eina-Regular";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff") format("woff");
}

@font-face {
	font-family: "Eina-Light";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff") format("woff");
}

@font-face {
	font-family: "Eina-SemiBold";
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Eina04-Bold";

	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff") format("woff");
}

.error {
	font-family: "Eina-Regular", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	margin-bottom: 22px;
}

.filefulldiv {
	margin-top: 19px;
}

.slds-m-top_medium {
	display: flex;
	align-items: center;
	gap: 10px;
}

.close {
	font-size: 24px;
}

.senttodiv {
	margin-top: 19px;
}

.epresdiv {
	margin-top: 19px;
}

.toast {
	background-color: rgb(194 240 194);
	width: 102%;
	height: 90px;
	position: absolute;
	left: 0%;
	top: 129px;
	z-index: 1;
}

.btncls {
	float: right;
	padding-bottom: 10%;
	background-color: rgb(194 240 194);
	color: #000000;
	border: 0px solid;
	position: relative;
	top: 50px;
}

.para {
	font-size: 16px;
	padding-left: 66px;
	padding-top: 25px;
	width: 70%;
	text-align: left;
	font-family: "Eina-Bold",sans-serif;
	font-weight: 400;
	color: #403a60;
}

.notify {
	background-color: none;
	position: absolute;
	top: -30px;
	right: 70px;
}

.input-labelone {
	font-family: "Eina-Regular",sans-serif !important;
	color: #403a60;
	font-weight: 400;
	line-height: 28px;
	font-style: normal;
	font-size: 18px;

	--slds-c-radio-color-background-checked: #ffffff;
	--slds-c-radio-mark-color-foreground: #403a60;
	box-shadow: none;
}

.filenamecss {
	position: relative;
	left: 24px;
	top: 8px;
	width: 100%;
	bottom: 0px;
	font-family: "Eina-Regular",sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #2c333a;
}

label {
	width: 405px;
}

.titlecolor {
	font-family: "Eina-SemiBold",sans-serif;
	color: #403a60;
	margin-bottom: 22px;

	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
}

.img4 {
	background-color: rgb(37 156 37);
	margin-left: -46px;
	border-radius: 50px;
	margin-right: 20px;
	width: 25px;
	height: 25px;
}

.hidden-file-upload {
	opacity: 0;
	width: 414px;
	height: 40px;

	margin-top: -58px;
}

.file-upload {
	border: 1px solid #403a60;
	width: 390px;
	height: 40px;
}

.file {
	border: 1.2px solid #403a60;
	width: 390px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	border-radius: 4px;
	background-color: #ffffff;
}

.uploadlabel {
	width: 156px;
}

.file1 {
	border: 1px solid red;
	width: 390px;
	height: 40px;
	margin-top: 10px;
	border-radius: 4px;
	background-color: #ffffff;
}

.imgclass {
	position: relative;
	top: 5px;
	right: 10px;
	width: 16px;
}

.imgclassone {
	position: relative;
	bottom: 26px;
	left: 94%;
	width: 16px;
}

.img1 {
	position: relative;
	top: 5px;
	width: 16px;
	margin-left: auto;
	right: 31px;
}

.imgone {
	position: relative;
	top: 5px;
	width: 16px;
	margin-left: auto;
	right: 5px;
}

.input-label1 {
	opacity: 0px;
}

.maxLimit {
	color: #403a60;
	font-family: Eina-SemiBold,sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
	left: 397px;
	bottom: 11px;
	width: 145px;
}

.classformax {
	color: #403a60;

	font-family: "Eina-Regular",sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.submitmargin {
	margin-top: 26px;
}

.file-selector-image .slds-file-selector__dropzone slot {
	width: 100%;
}

.textInput {
	--webkit-text-fill-color: #403a60;
	--slds-c-input-color-border: #403a60;
	--slds-c-textarea-color-border: #403a60;
	margin: 8px 0px 0px 0px;
	--lwc-heightInput: 40px;

	width: 390px;
}

.starclass {
	color: #403a60;
}

.starclass2 {
	color: red;
}

.uploadfile {
	color: #403a60;
	font-family: "Eina-SemiBold",sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.uploadfile2 {
	color: red;
	font-family: "Eina-SemiBold",sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
}

.textInput-err {
	-webkit-text-fill-color: #403a60;
	--slds-c-input-color-border: red;
	--slds-c-textarea-color-border: red;
	margin: 8px 0px 0px 0px;
	--lwc-heightInput: 40px;
	width: 390px;
}

.input-div {
	margin: 8px 0px;
}

.input-label {
	font-family: "Eina-SemiBold",sans-serif;
	color: #403a60;
	font-weight: 400;
	line-height: 28px;
	font-style: normal;
	font-size: 18px;

	--slds-c-radio-color-background-checked: #ffffff;
	--slds-c-radio-mark-color-foreground: #403a60;
	box-shadow: none;
}

.slds-form-element__help {
	display: flex;
	gap: 10px;
	align-items: center;
	position: relative;
	bottom: 8px;
	color: red;
	font-size: 0.75rem;
	margin-top: 10px;
}

.input-error-label {
	color: red;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
	font-size: 18px;
	font-family: "Eina-SemiBold",sans-serif;
}

.input3 {
	width: 390px;
	margin-top: 10px;

	--slds-c-textarea-color-border: #403a60;
	--sds-c-textarea-sizing-min-height: 88px;
}

h5 {
	color: #403a60;
	font-family: Avenir Next, sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

.uploadName {
	color: #403a60;
	font-family: Avenir Next,sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

.submitPad {
	width: 95px;
	height: 40px;
	top: 907px;
	left: 600px;
	padding: 12px, 24px, 12px, 24px;
	border-radius: 12px;
	font-family: "Eina-SemiBold",sans-serif;

	background-color: #403a60;
	color: #ffffff;
	border: none;
	margin-left: 24px;
	margin-top: 12px;
}

.cancelpadding {
	width: 92px;
	height: 40px;
	top: 907px;
	left: 488px;
	padding: 12px, 24px, 12px, 24px;
	border-radius: 12px;

	background-color: #ffffff;
	color: #403a60;
	margin-top: 12px;
	border: 1.5px solid #403a60;

	font-family: "Eina-SemiBold",sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
}

.Browselabelone {
	font-family: "Eina-Regular",sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #8d89a5;
	position: relative;
	top: -1px;
	left: 1px;
}

.Browselabeltwo {
	font-family: "Eina-Regular",sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: red;
	position: relative;
	top: -1px;
	left: 1px;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	.maxLimit {
		color: #403a60;
		font-family: Eina-SemiBold,sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		left: 398px;
		bottom: 11px;
		width: 145px;
	}

	.textInput-err {
		-webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: red;
		--slds-c-textarea-color-border: red;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		width: 390px;
	}
}

@media (width <=600px) {
	.toast {
		background-color: rgb(194 240 194);
		width: 115% !important;
		height: 88px;
		position: absolute;
		left: -8% !important;
		top: -6px !important;
		z-index: 1;
	}
	.para {
		padding-top: 13px;
	}
	.btncls{
		padding-left: 100%;
		margin-right: auto;
	}

	.notify{
		right: 30px;
	}

	.slds-m-top--medium {
		margin-top: 32px;
	}

	.slds-m-top_medium {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 30px;
	}

	.hidden-file-upload {
		opacity: 0;
		width: 100%;
		height: 40px;
		margin-top: -58px;
	}

	.file1[c-biPspbupdateRX_biPspbupdateRX] {
		border: 1px solid red;
		width: 100%;
		height: 40px;
		border-radius: 4px;
		background-color: #ffffff;
		margin-top: 10px;
	}

	.file {
		border: 1.2px solid #403a60;
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		border-radius: 4px;
		margin-top: 10px;
		background-color: #ffffff;
	}

	.input3 {
		width: 100%;
		margin-top: 10px;
		--slds-c-input-color-border: #403a60;
		--lwc-heightInput: 88px;
	}

	.textInput {
		--webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: #403a60;
		--slds-c-textarea-color-border: #403a60;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		width: 100%;
	}

	.maxLimit {
		color: #403a60;
		font-family: Eina04-SemiBold,sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		left: 2%;
		width: 145px;
		top: 26px;
	}

	.textInput-err {
		-webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: red;
		--slds-c-textarea-color-border: red;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		width: 100%;
	}

	.submitmargin {
		display: flex;
		flex-direction: column-reverse;
		margin-left: -7px;
	}

	.cancelpadding {
		width: 100%;
		height: 40px;
		top: 907px;
		left: 488px;
		padding: 12px, 24px, 12px, 24px;
		border-radius: 12px;
		background-color: #ffffff;
		color: #403a60;
		margin-top: 12px;
		border: 1.5px solid #403a60;
		font-family: "Eina-SemiBold",sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
		letter-spacing: 0em;
		margin-left: 1%;
	}

	.submitPad {
		width: 100%;
		height: 40px;
		top: 907px;
		left: 600px;
		padding: 12px, 24px, 12px, 24px;
		border-radius: 12px;
		font-family: "Eina-SemiBold",sans-serif;
		background-color: #403a60;
		color: #ffffff;
		border: none;
		margin-top: 12px;
		margin-left: 5px;
	}
}

@media (width <=992px) {
	.toast {
		background-color: rgb(194 240 194);
		width: 102%;
		height: 90px;
		position: absolute;
		left: 0%;
		top: 99px;
		z-index: 1;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	.slds-m-top_medium {
		margin-top: 5%;
	}

	.hidden-file-upload {
		opacity: 0;
		width: 100%;
		height: 40px;
		margin-top: -58px;
	}

	.file {
		border: 1.2px solid #403a60;
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		border-radius: 4px;
		margin-top: 10px;
		background-color: #ffffff;
	}

	.input3 {
		width: 100%;
		margin-top: 10px;
		--slds-c-input-color-border: #403a60;
		--lwc-heightInput: 88px;
	}

	.textInput {
		--webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: #403a60;
		--slds-c-textarea-color-border: #403a60;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		width: 100%;
	}

	.maxLimit {
		color: #403a60;
		font-family: Eina-SemiBold,sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		left: 2%;
		width: 145px;
		top: 26px;
	}

	.textInput-err {
		-webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: red;
		--slds-c-textarea-color-border: red;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		width: 100%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.slds-m-top_medium {
		margin-top: 5%;
	}

	.maxLimit {
		color: #403a60;
		font-family: Eina-SemiBold,sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		left: 2%;
		width: 145px;
		top: 26px;
	}

	.textInput-err {
		-webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: red;
		--slds-c-textarea-color-border: red;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		width: 390px;
	}
}