.custom-box1 {
	background-color: #403A60;
}

.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	min-height: 100vh;
	position: relative;
	right: 1px;
	background-color: white;
}

.main {
	position: relative;
	bottom: 1px;
	height: 99vh;

	overflow-x: hidden;
}

.maincmp {
	display: flex;
}

.imageavatar {
	background-color: #403a60;
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Avatrimg {
	width: 201px;
	height: 197px;
}

.text-content {

	padding: 10px;

}

.child {
	margin-left: 6%;
	margin-right: 0%;
	margin-top: 5%;
	width: 60%;
}

.Xmark {
	color: white;
	width: 8px;
	height: 8px;
}

.markclass {
	display: none;
}

.flexi {
	display: flex;
	background-color: rgba(141, 137, 165, 0.5);
	color: white;
	border-radius: 8px;
	width: inherit;
	margin-top: 15px;
}

.marTB201 {
	display: block;
	width: 210px;
	position: relative;
	bottom: 62px;

	left: 116%;
}

.imageiiii {
	position: relative;
	bottom: 94px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.pad {
	padding-left: 5%;
	padding-right: 10%;
}

.footerLink {
	text-decoration: none;
	color: #403A60;
	font-size: 14px;
	font-weight: 600;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
	margin-right: 5.4%;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	bottom: 0;
}

.footer-logo-container {
	background-color: #403A60;
	width: 33%;
	display: flex;
	justify-content: center;
	height: 115%;
	align-items: flex-end;
}

.footer-logo-container>div {
	width: 57%;
	margin: 10px auto;
}

.displayHeader {
	display: flex;
	justify-content: space-between;

	top: 0px;
	z-index: 1001;

}

.imgclass {
	width: 63%;
}

.imgdiv {
	margin-left: 4%;
	margin-top: 13px;
}

.home-icon-container {
	margin-left: auto;
	margin-right: 7%;

}

.header-logo-container {
	background-color: #403A60;
	width: 33%;
	padding-left: 122px;
	padding-top: 20px;
}


.padR7 {
	padding-right: 11%;
	margin-left: auto;
}

.footer-containerMobile {
	display: none;
}

.marTB20 {
	display: none;
}

@media (width <=850px) {

	.header-logo-container {
		background-color: #413A63;
		width: 100%;
	}

	.home-icon-container {
		margin-left: auto;
		margin-right: 0%;
		background-color: #403a60;
	}

	.imageavatar {
		background-color: #403a60;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.child {
		margin-left: 0%;
		margin-right: 0%;
		width: 101%;
		margin-bottom: 5%;
	}

	.maincmp {
		display: flex;
		flex-direction: column;
	}

	.marTB201 {
		display: none;
	}

	.footer-logo-container {
		display: none;
	}

	.footer-containerMobile {
		display: block;
	}

	.footer-container {
		display: block;
	}

	.imageavatar {
		background-color: #403a60;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;

		padding-left: 25px;

		padding-bottom: 30px;
	}

	.header-logo-container {
		width: 91%;
		padding-left: 25px;
		padding-top: 13px;
	}

	.Avatrimg {
		width: 100px;
		height: 100px;
	}

	.marTB20 {
		display: block;
		width: 198px;
		height: 38px;
		margin-left: 31px;
	}

	

	.flexi {
		width: 65%;
		margin-left: 23px;
	}

	.markclass {
		display: block;
		margin-left: auto;
		margin-right: 13px;
	}

	.imageiiii {
		bottom: 0px;
		flex-direction: row;
	}
}

/*--CSS Media Queries---*/
@media only screen and (max-width: 400px) {
	.pad {
		padding-left: 10px;
		padding-right: 20px;
	}

	.Avatrimg {
		width: 67px;
		height: 68px;
	}

	.footer-containerMobile {
		display: block;
	}

	.footer-logo-container {
		display: none;
	}

	.footer-container {
		position: static;
		display: block;
	}

	.displayHeader {
		background-color: #403A60;
	}

	.grid-containerfooter {
		display: none;
	}

	.displayHeader {
		background-color: #403A60;
	}

	.imgdiv {
		display: none;
	}

	.marTB201 {
		display: none;
	}

	.home-icon-container {
		margin-left: auto;
		margin-right: 0px;

	}
}

@media only screen and (min-width: 401px) and (max-width: 768px) {
	.pad {
		padding-left: 10px;
		padding-right: 20px;
	}

	.footer-containerMobile {
		display: block;
	}

	.footer-logo-container {
		display: none;
	}

	.footer-container {
		position: static;
		display: block;
	}

	.grid-containerfooter {
		display: none;
	}

	.displayHeader {
		background-color: #403A60;
	}

	.imgdiv {
		display: none;
	}

	.marTB201 {
		display: none;
	}
}

@media only screen and (min-width: 600px) {
	.pad {
		padding-left: 10px;
		padding-right: 20px;
	}


}

@media only screen and (min-width: 768px) {
	.pad {
		padding-left: 10px;
		padding-right: 20px;
	}


}

@media only screen and (min-width: 401px) and (max-width: 768px) {
	.pad {
		padding-left: 5%;
		padding-right: 10%;
	}


	.displayHeader {
		background-color: #403A60;
	}

	.home-icon-container {
		margin-left: auto;
		margin-right: 0px;

	}
}

@media only screen and (min-width: 992px) {
	.pad {
		padding-left: 5%;
		padding-right: 10%;
	}


}

@media only screen and (min-width: 1200px) {
	.pad {
		padding-left: 5%;
		padding-right: 10%;
	}


}

@media only screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 10%;
	}


}
@media only screen and (min-width: 850px) and (max-width:1300px){
	.imageiiii{
		position: relative;
		bottom:71px;
	}
	.text-content{
		width: 280px;
	}
}