{
    "extends": ["@salesforce/eslint-config-lwc/recommended", "@salesforce/eslint-config-lwc/ssr","@salesforce/eslint-config-lwc/i18n","eslint:recommended"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "parserOpts": {
                "plugins": ["classProperties", ["decorators", { "decoratorsBeforeExport": false }],"typescript"]
            }
        }
    },

    "plugins": ["@lwc/eslint-plugin-lwc"],

    "rules": {
        "@lwc/lwc/no-deprecated": "error",
        "@lwc/lwc/valid-api": "error",
        "@lwc/lwc/no-document-query": "error",
        "@lwc/lwc/consistent-component-name": "error",
        "@lwc/lwc/no-api-reassignments": "error",
        "@lwc/lwc/no-async-await": "error",
        "@lwc/lwc/no-async-operation": "error",
        "@lwc/lwc/no-for-of": "error",
        "@lwc/lwc/no-inner-html": "error",
        "@lwc/lwc/no-leaky-event-listeners": "error",
        "@lwc/lwc/no-restricted-browser-globals-during-ssr": "error",
        "@lwc/lwc/no-unsupported-ssr-properties": "error",
        "@lwc/lwc/valid-graphql-wire-adapter-callback-parameters": "error",
        "array-callback-return": "error",
        "arrow-body-style": "error",
        "complexity": "error",
        "consistent-return": "error",
        "default-case": "error",
        "eqeqeq": "error",
        "grouped-accessor-pairs": "error",
        "handle-callback-err": "error",
        "max-params": "error",
        "no-console": "error",
        "no-dupe-class-members": "error",
        "no-else-return": "error",
        "no-empty": "error",
        "no-eq-null": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-new": "error",
        "no-param-reassign": "error",
        "no-restricted-globals": "error",
        "no-shadow": "error",
        "no-undef": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": "error",
        "no-useless-return": "error",
        "radix": "error",
        "require-unicode-regexp": "error"
      }
}