.toastmsg {
	background: #DCF9D3;
    height: 72px;
    padding: 19px 75px 32px 75px;
    position: relative;
    bottom: 50px;
    right: 62%;
    font-weight: lighter;
    width: 178%;
    border: 0px 0px 4px 0px;
    display: flex;
}
.div{
	display: flex;
    justify-content: space-between;
    width: 100%;
}

.toastmsg1 {
	background: #DCF9D3;
    height: 72px;
    padding: 19px 75px 32px 75px;
    position: relative;
    bottom: 50px;
    right: 62%;
    font-weight: lighter;
    width: 178%;
    border: 0px 0px 4px 0px;
    display: flex;

}
.tstmsg{
	font-size: 18px;
	color:#403A60;
	font-weight:700;
}

.tstmsg2 {
	position: relative;
	top: -16px;
	font-size: 16px;
	color:#403A60;
	font-weight:400;
}

.getstart {
	background-color: #403a60;
	color: white;
	border-radius: 8px;
	height: 30px;
    border: none;
}

.deletetoastimg {
	width: 55px;
    height: 32px;

}

.toastmsgclose {
	/* margin-left: 275px; */
    font-size: 42px;
    border-style: none;
    background: none;
    position: relative;
    bottom: 25px;
    /* left: 48%; */
}

.toastmsgclose1 {
	width: 24px;
	height: 24px;
	font-size: 42px;
	border-style: none;
	background: none;
	position: relative;
	bottom: 25px;
	left: 30%;
	opacity: 0.7;
}




ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid #403a60;
}

.div1 {
	margin-top: 3cm;
	width: 607px;
	height: 368px;
	margin-left: 32%;
	background-color: white;
}

.heading {
	color: black;
	font-size: 32px;
	width: 527px;
	margin-left: 49px;
}

.pclass {
	margin-left: 53px;
	font-size: 20px;
	color: #2C333A;
}

.inputdate {
	width: 394px;
	height: 48px;
	border: 1px solid;
	border-color: #403A60;
	border-radius: 4px;
	margin-left: 53px;
	line-height: normal;
}

.datehead {
	margin-left: 53px;
	font-size: 16px;
	color: #403A60;
	font-weight: 700;
	margin-top: 14px;
}

.cancel {

	background-color: white;
	color: #403A60;
	border: 1px solid;
	border-color: #403A60;
	width: 96px;
	height: 40px;
	border-radius: 12px;
	margin-left: 2pc;
}

.submit {
	background-color: #403A60;
	color: white;
	border-radius: 12px;
	width: 96px;
	height: 40px;
	margin-left: 53px;
	margin-top: 20px;
}
.actionbtn button{
	padding-left: 9px;
    padding-right: 7px;
}
.li {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}

li:after {
	content: '';
	display: block;
	height: 2px;
	width: 0%;
	background-color: transparent;
	transition: all 0.5s ease;
}

li:hover:after {
	width: 100%;
	background-color: black;
	color: black;
	font-weight: bold;
}

.notify {
	width: 39cm;
	display: none;
	background-color: white;
}

.notify p {
	padding-left: 80px;
	padding-top: 20px;
	font-weight: bold;
	font-size: larger;
}

.notify ul {
	padding-left: 70px;
	padding-top: 10px;
	background-color: white;
}

.notify li {
	background-color: white;
}

.combobox1 {
	width: 200px;
}

.combobox2 {
	width: 200px;
	-webkit-text-fill-color: #403a60;
	--slds-c-input-color-border: #423a66;
	--slds-c-textarea-color-border: #423a66;
	--lwc-heightInput: 33px;

}

.notifyImage {
	width: 11cm;
	height: 20cm;
	background-color: #FBFAF5;
}

.notifyImage figure {
	padding-left: 100px;
	padding-top: 150px;
}

.main {
	width: 100%;
	height: auto;
}

.symptom {
	background-color: #D8D8D8;
	margin-top: 30px;
	margin-left: 70px;
	margin-right: 50px;
	height: 100px;
}

.symptom p {
	padding-left: 10px;
}

.voilet {
	border-left: 2px solid #403A60;
	/* Adjust the color and thickness as needed */
	height: 132px;
	/* Adjust the height as needed */
	margin: 0 auto;
}

.green {
	border-left: 2px solid green;
	/* Adjust the color and thickness as needed */
	height: 135px;
	/* Adjust the height as needed */
	margin: 0 auto;
}

.amber {
	border-left: 2px solid #F09540;
	/* Adjust the color and thickness as needed */
	height: 135px;
	/* Adjust the height as needed */
	margin: 0 auto;
}

.red {
	border-left: 2px solid red;
	/* Adjust the color and thickness as needed */
	height: 135px;
	/* Adjust the height as needed */
	margin: 0 auto;
}

.generalnotify {
	display: flex;
	flex-direction: column;

	margin-top: 30px;
	width: 108%;
	height: 135px;
	font-size: small;
	background-color: white;
}

.imgclass {
	width: 35px;
	height: 29px;
}

div.Not {
	display: flex;
	gap: 1cm;
	margin-top: 30px;
	margin-left: 40px;
	border-left: 2px solid red;
	height: 1.5cm;
	width: 803px;
	background-color: white;
}

.figure {
	margin-top: 17px;
	padding-left: 20px;
	background-color: #ECDCA8;
	border-radius: 8px;
	width: 203px;
}

div.Read {
	display: flex;
	gap: 1cm;
	margin-top: 30px;
	margin-left: 40px;
	border-left: 2px solid rgb(241, 193, 106);
	height: 1.5cm;
	width: 803px;
	background-color: white;
}

div.Read p {
	padding-top: 3px;
	padding-left: 10px;
	font-size: small;
}

div.Not p {
	padding-top: 3px;
	padding-left: 10px;
	font-size: small;
}

.actionclass {
	display: flex;
	position: absolute;
	gap: 1cm;
}

div.Completed {
	display: flex;
	gap: 1cm;
	margin-top: 30px;
	width: 803px;
	margin-left: 40px;
	border-left: 2px solid green;
	height: 1.5cm;
	background-color: white;
}

div.Completed p {
	padding-top: 4px;
	padding-left: 10px;
	font-size: small;
}

.secondMain {
	display: flex;
	flex-direction: row;
	row-gap: 2cm;
	width: 100%;
	margin-top: -50px;
}

p.recordclass {
	margin-top: 9%;
	margin-left: 10%;
	font-size: 26px;
	color: #403A60;
}

.notification {
	padding-left: 50px;
	padding-top: 50px;
	width: 100%;
	background-color: #FBFAF5;
}

.notification h3 {
	color: #403a60;
	font-weight: bold;

}

.ActionCombo {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.pclass p {
	margin-top: 50px;
	color: #403a60;
	font-weight: bolder;
	font-size: medium;
	margin-right: 2px;
}

.pclass hr {
	margin-top: -15px;
	margin-left: 100px;
	color: #403a60;
	border: 1px solid #403a60;

}

.dotclass {
	font-weight: bolder;
	font-size: x-large;
}

.classimg {
	padding-left: 16px;
	padding-top: 14px;
	width: 45px;
}

.classSubject {
	padding-top: 14px;
	width: 60%;
	font-size: 15px;
}

.actionbtn {

	margin-left: 9%;
	margin-top: 0px;
	position: relative;
	bottom: 95px;
	right: 3px;
}

.buttonclass {
	width: 150px;
	height: 35px;
	margin-top: 20px;
	margin-left: 74%;
	border-radius: 12px;
	border: 2px solid #403A60;
	background-color: white;
	font-family: 'eina-bold';
}

.buttonclass2 {
	margin-top: 20px;
	margin-left: 87%;
	border-radius: 12px;
	border: none;
	font-size: 20px;
	width: 49px;
	background-color: white;
}

.actionbtn {
	margin: 20px 84px;
	border-radius: 8px;
	width: 200px;
	height: 30px;
}

.actionbtn .Yesbtn {
	width: 44px;
	height: 26px;
	border-radius: 8px;
	background-color: #403A60;
	border: 1px solid #403A60;
	color: white;
}

.actionbtn .Nobtn {
	width: 44px;
	height: 26px;
	border-radius: 8px;
	margin-left: 20px;
	background-color: white;
	border: 1px solid #403A60;
	color: #403A60;
}

.actionbtn .btnclass {
	background-color: #403a60;
	color: white;
	border-radius: 8px;
	height: 30px;
	border: none;
}

.classdate {
	margin-left: 87%;
	margin-top: 11px;
	position: relative;
	bottom: 130px;
	font-size: 14px;
	font-family: 'eina-regular';
}

@media only screen and (max-width:400px) {
	.red{
		height: 185px;
	}
	.cat {
		margin-top: 0px;
		width: 100%;

	}
	.notification{
		padding-left: 0px;
	}
.amber{
	height: 185px;
}
.green{
	height: 185px;
}
	.getstart {
		background-color: #403a60;
		color: white;
		border-radius: 8px;
		height: 30px;
		width: 100%;
	}

	.actionbtn .Yesbtn {
		position: relative;
        top: 45px;
        left: 0px;
	}

	.actionbtn .Nobtn {
		position: relative;
        top: 45px;
        left: 0px;
	}

	.notification h3 {
		font-size: 18px;
	}

	.voilet {
		height: 165px;
	}

	.notification h3 {
		margin-top: -30px;
		width: 100%;
	}

	.notification {
		margin-top: 30px;
		margin-left: -6px;
		width: 100%;
	}

	.classSubject {
		width: 50%;
		font-size: 13px;
		position: relative;
        right: 15px;
        bottom: 5px;
	}

	.voilet {
		height: 180px;
	}

	.actionbtn .btnclass {
		width: 100%;
		margin-top: 5px;
	}

	.combobox2 {
		width: 100%;
		-webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: #423a66;
		--slds-c-textarea-color-border: #423a66;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		align-items: center;
	}

	.slds-combobox_container {
		border-color: #403A60;
	}

	.actionbtn {
		width: 50%;
		margin-left: 70px;
		position: relative;
		bottom: 148px;
	}

	.ActionCombo {
		display: flex;
		flex-direction: column;
		gap: 0px;
		margin-top: -10px;
	}

	.generalnotify {
		width: 100%;
		height: 185px;
	}

	.actionbtn button {
		position: relative;
        top: 50px;
        right: 3px;
	}

	.classdate {
		font-family: Eina-regular;
		margin-top: 11px;
		position: relative;
		bottom: 180px;
		right: 26px;
		width: 21%;
		font-size: 12px;
	}

	.buttonclass {
		width: 38%;
		height: 4%;
		margin-left: 88%;
	}
	.toastmsg{
		background: #DCF9D3;
        height: 99px;
        padding: 19px 95px 32px 145px;
        position: absolute;
        bottom: 242px;
        right: -7%;
        font-weight: lighter;
        width: 147%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
        z-index: 1;
	}
	.toastmsgclose{
		left: 73px;
	}
	.toastmsg1{
		background: #DCF9D3;
		height: auto;
		padding: 19px 75px 32px 75px;
		position: relative;
		bottom: 26px;
		right: 28%;
		font-weight: lighter;
		width: 135%;
		border: 0px 0px 4px 0px;
		display: flex;
		padding-bottom: 0px;
	}
	.tstmsg{
		font-size: 16px;
	}
}

@media only screen and (min-width:401px) and (max-width:600px) {
	.red{
		height: 185px;
	}
	.cat {
		margin-top: 0px;
		width: 100%;
	}
.amber{
	height: 185px;
}
.green{
	height: 185px;
}
.notification{
	padding-left: 0px;
}
	.voilet {
		height: 180px;
	}

	.classSubject {
		font-size: 13px;
	}

	.notification h3 {
		margin-top: -30px;
		font-size: 20px;
	}

	.notification {
		margin-top: 30px;
		position: relative;
		right: 6px;
	}

	.combobox2 {
		width: 100%;
		-webkit-text-fill-color: #403a60;
		--slds-c-input-color-border: #423a66;
		--slds-c-textarea-color-border: #423a66;
		margin: 8px 0px 0px 0px;
		--lwc-heightInput: 40px;
		align-items: center;
	}

	/* Target the placeholder text in the Lightning Combobox */
	.slds-combobox_container .slds-combobox .slds-combobox__input[aria-haspopup="listbox"]::placeholder {
		/* Your alignment properties */
		text-align: center;
		/* Adjust this value as needed */
	}

	.ActionCombo {
		display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        margin-top: -5px;
	}

	.generalnotify {
		width: 100%;
		height: 180px;
	}

	.actionbtn button {
		position: relative;
        left: 21px;
        top: 10px;
        width: 56%;
	}

	.buttonclass {
		margin-top: 20px;
		margin-left: 85%;
		border-radius: 12px;
		border: 2px solid #403A60;
		background-color: white;
		width: 100px;
		height: 35px;
	}

	.classdate {
		font-family: Eina-regular;
		width: 20%;
		position: relative;
		bottom: 182px;
        right: 28px;
	}

	.actionbtn {
		width: 100%;
        margin-left: 63px;
        margin-top: 0px;
	}
	.toastmsg{
		background: #DCF9D3;
        height: 72px;
        padding: 19px 95px 32px 145px;
        position: absolute;
        bottom: 265px;
        right: -20%;
        font-weight: lighter;
        width: 150%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
        z-index: 1;
	}
	.toastmsgclose{
		/* margin-left: 25%; */
		font-size: 42px;
		border-style: none;
		background: none;
		position: relative;
		bottom: 25px;
	}
	.toastmsg1 {
		background: #DCF9D3;
        height: auto;
        padding: 19px 75px 32px 75px;
        position: relative;
        bottom: 20px;
        right: 17%;
        font-weight: lighter;
        width: 132%;
        border: 0px 0px 4px 0px;
        display: flex;
		padding-bottom: 0px;
	
	}
}

@media only screen and (min-width:601px) and (max-width:767px) {
	.red{
		height: 155px;
	}
	.generalnotify {
		width: 106%;
		height: 155px;
	}

	.actionbtn button {
		position: relative;
		left: 4%;
		bottom: 20px;

	}
	.amber{
	height: 155px;
}
.green{
	height: 155px;
}
	.classdate{
		position: relative;
    bottom: 155px;
    font-size: 14px;
    font-family: 'eina-regular';
	}
.voilet{
	height: 155px;
}
	.notification h3 {
		font-size: 24px;
	}

	.actionbtn {
		margin-top: 30px;
		margin-left: 75px;
	}

	.notification {
		position: relative;
		right: 3%;
		bottom: 25px;
	}

	.buttonclass {
		width: 25%;
		height: 6%;
		margin-left: 81%;
	}
	.toastmsg{
		background: #DCF9D3;
        height: 72px;
        padding: 19px 95px 32px 145px;
        position: relative;
        bottom: 465px;
        right: 19%;
        font-weight: lighter;
        width: 135%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
        z-index: 1;
	}
	.toastmsgclose{
		/* margin-left: 25%; */
		font-size: 42px;
		border-style: none;
		background: none;
		position: relative;
		bottom: 25px;
	}
	.toastmsg1 {
		background: #DCF9D3;
        height: 72px;
        padding: 19px 75px 32px 75px;
        position: relative;
        bottom: 464px;
        right: 8%;
        font-weight: lighter;
        width: 122%;
        border: 0px 0px 4px 0px;
        display: flex;
	
	}
}

@media only screen and (min-width:768px) and (max-width:992px) {
	.red{
		height: 170px;
	}
	.generalnotify {
		width: 110%;
		height: 170px;
	}
.amber{
	height: 170px;
}
.green{
	height: 170px;
}
	.actionbtn .Nobtn {
		margin-top: 15px;
	}

	.actionbtn .Yesbtn {
		margin-top: 15px;
	}

	.voilet {
		height: 170px;
	}

	.notification h3 {
		font-size: 24px;
	}

	.combobox2 {
		width: 375px;
	}

	.actionbtn {
		margin-left: 82px;
		margin-top: 24px;
	}

	.ActionCombo {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.buttonclass {
		width: 25%;
		height: 5%;
		margin-left: 85%;
	}

	.notification {
		padding-left: 50px;
		padding-top: 50px;
		width: 92%;
		background-color: #FBFAF5;
		margin-left: 14%;
	}

	.main {
		width: 90%;
	}

	.classdate {
        margin-top: -1px;
        position: relative;
        bottom: 160px;
		right: 12px;
        width: 20%;
        font-size: 13px;
	}

	.classSubject {
		font-size: 14px;
		position: relative;
        right: 5px;
	}
	.toastmsg{
		background: #DCF9D3;
        height: 72px;
        padding: 19px 95px 32px 145px;
        position: relative;
        bottom: 57px;
        right: 70%;
        font-weight: lighter;
        width: 182%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
	}
	.toastmsgclose{
		/* margin-left: 25%; */
		font-size: 42px;
		border-style: none;
		background: none;
		position: relative;
		bottom: 25px;
	}
	.toastmsg1 {
		background: #DCF9D3;
		height: auto;
		padding: 19px 75px 32px 75px;
		position: relative;
		bottom: 50px;
		right: 62%;
		font-weight: lighter;
		width: 178%;
		border: 0px 0px 4px 0px;
		display: flex;
		padding-bottom: 0px;
	
	}
}

@media only screen and (min-width:992px) and (max-width:1200px) {
	.red{
		border-left: 2px solid red;
		height: 175px;
		margin: 0 auto;
	}
	.generalnotify {
		width: 101%;
		height: 175px;
	}
	.voilet{
		height: 175px;
	}
	.amber{
	height: 175px;
}
.green{
	height: 175px;
}
	.classdate{
		margin-left: 86%;
    margin-top: 11px;
    position: relative;
    bottom: 175px;
    font-size: 14px;
    font-family: 'eina-regular';
	}
	.notification h3 {
		font-size: 27px;
	}

	.buttonclass {
		margin-left: 80%;
		width: 21%;
		height: 35px;
	}

	.notification {
		margin-left: 3%;
	}
	.toastmsg{
		background: #DCF9D3;
        height: 72px;
        padding: 19px 95px 32px 145px;
        position: relative;
        bottom: 52px;
        right: 67%;
        font-weight: lighter;
        width: 180%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
	}
	.toastmsgclose{
		/* margin-left: 25%; */
		font-size: 42px;
		border-style: none;
		background: none;
		position: relative;
		bottom: 25px;
	}
}

@media only screen and (min-width:1400px) {
	.buttonclass {
		margin-left: 87%;
	}
}

@media only screen and (min-width:1200px) {
	.buttonclass {
		margin-left: 87%;
	}

	.notification h3 {
		font-size: 32px;
	}
}
@media only screen and (min-width:1300px) and (max-width:1500px) {
	.toastmsg{
		background: #DCF9D3;
        height: 72px;
        padding: 19px 95px 32px 145px;
        position: relative;
        bottom: 50px;
        right: 81%;
        font-weight: lighter;
        width: 197%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
	}
	.toastmsg1{
		background: #DCF9D3;
        height: 72px;
        padding: 19px 95px 32px 145px;
        position: relative;
        bottom: 50px;
        right: 81%;
        font-weight: lighter;
        width: 197%;
        border: 0px 0px 4px 0px;
        display: flex;
        gap: 10px;
	}
	.toastmsgclose{
		/* margin-left: 25%; */
		font-size: 42px;
		border-style: none;
		background: none;
		position: relative;
		bottom: 25px;
	}
}
@media only screen and (min-width:1500px) {
	.buttonclass {
		margin-left: 90%;
	}
	.main{
		width: 115%;
		margin-left: -130px;
	}
	.toastmsg{
		background: #DCF9D3;
		height: 72px;
		padding: 19px 95px 32px 145px;
		position: relative;
		bottom: 50px;
		right: 91%;
		font-weight: lighter;
		width: 210%;
		border: 0px 0px 4px 0px;
		display: flex;
		gap: 10px;
	}
	.toastmsg1{
		background: #DCF9D3;
		height: 72px;
		padding: 19px 95px 32px 145px;
		position: relative;
		bottom: 50px;
		right: 91%;
		font-weight: lighter;
		width: 210%;
		border: 0px 0px 4px 0px;
		display: flex;
		gap: 10px;
	}
	.toastmsgclose{
		/* margin-left: 25%; */
		font-size: 42px;
		border-style: none;
		background: none;
		position: relative;
		bottom: 25px;
	}
}

@media only screen and (min-width:1700px) {
	.buttonclass {
		margin-left: 90%;
	}
	.main{
		width: 117%;
    height: auto;
    position: relative;
    right: 35px;
	}
}

@media only screen and (min-width:1900px) {
	.buttonclass {
		margin-left: 90%;
	}
}