.custom-box2{
	width: -webkit-fill-available;
    display: grid;

}.custom-box2dup{
	width: 98%;
}
.displayHeader{
	display: flex;
	justify-content: end;
}
.footerLink{
	text-decoration: none;
	color:#403A60;
	font-size: 14px;
	font-weight: 400;
}
.grid-containerfooter{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.layoutColor{
	background-color: #FBFAF5;
	min-height: 400px;
	
}
.grid-containerTabs{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.tabsDiv{
	width: 100%;
	text-align: left;
}

.anchorText{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 400;
}
.anchorTextActive{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 800;
}
/*--CSS Media Queries---*/
@media only screen and (max-width: 400px)
{
.custom-box2{
		 position: relative;
    right: 0px !important;
	}	
}
@media only screen and (max-width: 600px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	}
	.tabClass{
	display: none;
	width: 100%;
	background-color: white;
	}
.custom-box2{
		 position: relative;
    right: 28px;
	}.wholediv{
		width: 100%;
	}
}

@media only screen and (min-width: 601px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #8D89A580;
	}
	.tabClass{
	display: none;
	width: 100%;
	background-color: white;
}
	.showMobileBorder{
		display: flex;
		height: 5px;
		width: 100%;
		background: linear-gradient(90deg, #744F0D 0%, #99693E 17.19%, #EFDBA1 58.85%, #744F0D 100%);

	}.wholediv{
		width: 100%;
	}
}
@media only screen and (min-width: 768px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	}
	.tabClass{
	display: none;
	width: 100%;
	background-color: white;
}
	.showMobileBorder{
		display: none;
	}.wholediv{
		width: 94%;
	}.layoutColor{
	background-color: #FBFAF5;
	
}
}
@media only screen and (min-width: 992px)
{
	.pad{
	padding-left: 4%;
	padding-right: 0%;
	}
	.tabClass{
	display: grid;
	width: 100%;
	background-color: white;
}
	.showMobileBorder{
		display: none;
	}.wholediv{
		    width: 97%;
			
}.layoutColor{
	height: 600px;
}
}
@media only screen and (max-width: 992px){
		.showMobileBorder{
		display: flex;
		height: 5px;
		width: 100%;
		background: linear-gradient(90deg, #744F0D 0%, #99693E 17.19%, #EFDBA1 58.85%, #744F0D 100%);
		    margin: 0;

	}

}
@media only screen and (min-width:992px) and (max-width:1950px){
	.wholediv{
		height: 500px;
	}
}	

@media only screen and (min-width: 1200px)
{
	.pad{
	padding-left: 4%;
	padding-right: 0%;
	}
	.tabClass{
	display: grid;
	width: 100%;
	background-color: white;
}
	.showMobileBorder{
		display: none;
	}
}
@media only screen and (min-width: 1500px)
{
	.pad{
	padding-left: 4%;
	padding-right: 0%;
	}
	.tabClass{
	display: grid;
	width: 100%;
	background-color: white;
}
	.showMobileBorder{
		display: none;
	}
}