.custom-box2 {
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	/* right: 8%; */
}

.displayHeader {
	display: flex;
	justify-content: end;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.footerLink {
	text-decoration: none;
	color: #403a60;
	font-size: 14px;
	font-weight: 400;
}

.grid-containerfooter {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.layoutColor {
	background-color: #fbfaf5;
	min-height: 400px;
	position: relative;
	width: 100%;
	/* right: 6%; */
}

.grid-containerTabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}

.tabsDiv {
	width: 100%;
	text-align: left;
}

.tabClass {
	width: 100%;
	background-color: white;
}

.anchorText {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 400;
}

.anchorTextActive {
	text-decoration: none;
	color: #403a60;
	font-size: 16px;
	font-weight: 800;
}

/*--CSS Media Queries---*/

/* 
@media only screen and (min-width: 1500px)
{
	.pad{
	padding-left: 10%;
	padding-right: 10%;
	overflow-x: hidden;
	}
	

}
@media only screen and (min-width: 1201px) and (max-width: 1499px)
{
	.pad{
	
	overflow-x: hidden;
	}
	.custom-box1{
		margin-left: 82px;
	}
	

} */
@media only screen and (min-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	/* .custom-box1{
		margin-left: 0px;
	} */
	.custom-box2 {
		right: 6%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 1360px) and (max-width: 1500px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		right: 10%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1360px) {
	.pad {
		padding-left: 5%;
		padding-right: 5%;
		overflow-x: hidden;
	}

	.custom-box2 {
		right: 6%;
	}

	.tabClass {
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.pad {
		/* padding-left: 10%;
	padding-right: 10%; */
		display: flex;
		overflow-x: hidden;
		flex-direction: column;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		bottom: 100px;
	}

	.custom-box1 {
		/* margin-left: 297px; */
		width: 112%;
		margin-left: 8%;
	}

	.tabsDiv {
		display: none;
	}
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
	.pad {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box1 {
		/* margin-left: 245px; */
		width: 112%;
		margin-left: -10%;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		bottom: 100px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.pad {
		/* padding-left: 20px;
	padding-right: 20px; */
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.tabsDiv {
		display: none;
	}

	.custom-box1 {
		/* margin-left: 245px; */
		width: 112%;
		margin: 0 45px;
		margin-left: -270px;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		bottom: 100px;
	}
}

/* @media only screen and (min-width: 400px)and (max-width: 992px)
{
	.custom-box1{
		margin-left: 24px;
	}
} */
@media only screen and (min-width: 399px) and (max-width: 576px) {
	.pad {
		/* padding-left: 20px;
	padding-right: 20px; */
		overflow-x: hidden;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		bottom: 100px;
		/* right: 23%; */
		/* margin-top: -100px; */
		/* margin-left: -13px; */
	}

	.custom-box1 {
		width: 100%;
		margin: 0 25px;
		margin-left: -270px;
	}

	.tabsDiv {
		display: none;
	}
}

/* @media only screen and (min-width: 360px)and (max-width: 399px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}
	.custom-box2{
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	right: 23%;
	margin-top: -100px;
	margin-left: -4px;
}
.custom-box1
{
	margin-left: 10px ;
}
.tabsDiv{
	display: none;
}



} */

@media only screen and (min-width: 320px) and (max-width: 399px) {
	.pad {
		/* padding-left: 20px;
	padding-right: 20px; */
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	.custom-box2 {
		width: -webkit-fill-available;
		display: grid;
		position: relative;
		bottom: 142px;
		/* right: 23%; */
		/* margin-top: -100px; */
		/* margin-left: -41px; */
	}

	.custom-box1 {
		width: 100%;
		margin-left: -262px;
		position: relative;
		bottom: 28px;
	}

	.tabsDiv {
		display: none;
	}
}