@font-face 
{
font-family: 'Eina04-Regular';
src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Regular.woff') format('woff');
}
@font-face 
{
font-family: 'Eina-Light';
src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff') format('woff');
}
@font-face 
{
font-family: 'Eina04-SemiBold';
src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff') format('woff');
}
@font-face 
{
font-family: 'Eina04-Bold';
src: url('/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff') format('woff');
}

.form-container {
margin: 0px;
padding: 10px;
position: relative;
right: 80px;
}
.main{
height: 16cm;
display: flex;
flex-direction: row;
}
.UserImage{
padding-left: 4cm;
padding-top: 5cm;
}
.response .heading{
padding-left: 0px;
font-size: large;
font-weight: bold;
margin-top: 2cm;
color:#403A60;
}
.heading h2{
padding-top: 18px;
font-size: 32px;
color: #403A60;
font-family: 'Eina-Bold';
}
.collectbutton{
padding-top: 20px;
display: flex;
justify-content: space-between;
gap: 1cm;
}
.buttonbox{
width: 100%;
height: 136px;
border-radius: 12px;
background-color: #FBFAF5;
border: 2px solid #8D89A5;
color: #403a60;
}
.back{
display:flex;
}
.back p{
font-size: 14px;
cursor: pointer;
color: #403A60;
padding-top: 5px;
}
.medicalheading h2{
font-size: medium;
font-weight: bold;
margin-top: -20px;
padding-left: 2.5cm;
color: #403A60;
}
.medicalform{
padding-top: 5px;
padding-left: 1.9cm;
}
.medicalform label{
margin-top: 3px;
color: #403A60;
font-weight: bold;
}
.medicalform .medicalInput{
padding-top: 3px;
}
.desc{
width: 400px;
height: 2cm;
border: 2px solid #403a60;
border-radius: 5px;
}
.buttondiv{
display: flex;
gap: 1cm;
margin-top: 50px;
}

.button1{
background-color: #403A60;
border:2px solid #403a60;
border-radius: 10px;
color: white;
}

.button2{
padding-left: 2px;
background-color: white;
border:2px solid #403a60;
border-radius: 10px;
margin-left: 50px;
}

.buttonbox div{
padding-top: 1px;
padding-left: 1px;
align-items: flex-start;
gap: 20px;
}

.imgclass{
width: 40px;
height: 40px;
}

.img{
width: 32px;
margin-top: 5px;
height: 32px;
}

.img1{
width: 32px;
margin-top: 2px;
height: 32px;
}

.active{
background-color: #403a60;
border: 2px solid #403a60;
color:  #fff;
}

.flexclass{
display: flex;
gap: 20px;
}

ul.noclass {
padding-left: 50px;
font-size: 18px;
font-family: 'Eina-Bold';
padding-bottom: 10px;
color: #2C333A;
}

.line{
border-bottom: 1px solid;
}

ul.tymclass {
padding-left: 50px;
font-size: 14px;
}

ul{
font-size: 16px;
font-family: 'Eina-Regular';
color: #2C333A;
}

.colclass{
display: flex;
flex-direction: column;
}

.info2{
padding-right: 90px;
}

p.pinfo {
padding-right: 25px;
}

p.pinfo1 {
padding-right: 0px;
width: 50px;
}

p.pinfo2 {
padding-right: 42px;
}

.error-throw{
color: red;
}

.change {
width: 400px;
height: 2cm;
border: 2px solid  red !important;
border-radius: 5px;
}

.change1{
width: 400px;
height: 2cm;
border: 2px solid  red !important;
border-radius: 5px; 
}

.change2{
width: 400px;
height: 2cm;
border: 2px solid  red !important;
border-radius: 5px;
}

p{
color: #8D89A5;
font-size: 16px;
line-height: 24px;
font-family: 'Eina-bold';
}
.info1{
display: grid;
gap: 0px !important;
text-align: start;
}

/* ----------------- Css Media Query ------------------------------ */

@media only screen and (max-width: 400px)
{
.heading h2{
padding-top: 0px;
font-size: 18px;
color: #403A60;
line-height: 24px;
}
.medicalform{
padding-left: 0px;
}
.line{
border-bottom: 0px;
}
.collectbutton{
padding-top: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 20px;
}
.buttonbox{
width: 100%;
height: 48px;
border-radius: 12px; 
background-color: #FFFFFF;
}
.buttonbox div{
display: flex;
}
.response .heading{
margin-top: 0cm;
}
.buttonbox div{
padding-top: 7px;
padding-left: 0px;
align-items: flex-start;
gap: 3px;
}
.form-container{
right: 0px;
}
.info1{
padding-right: 0px;
position: relative;
left: 55px;
bottom: 45px;
}
p.pinfo{
padding-right: 0px;
width: 141px;
}
p.pinfo1{
position: relative;
left: 55px;
bottom: 45px;
}
p.pinfo2{
padding-right: 0px;
width: 100px;
}
.MInfo{
width: 160px;
}
.flexclass{
gap: 20px;
}
p{
font-size: 16px;
line-height: 24px;
font-family: 'Eina-Semibold';
}
.imgclass{
width: 24px;
height: 24px;
margin-left: 10px;
position: relative;
bottom: 4px;
}
.info2{
left: 100px;
bottom: 24px;
}
.Enquiry{
position: relative;
right: 0px;
}
.main{
height: auto;
}
}   
@media only screen and (min-width: 401px) and  (max-width: 600px)
{
.heading h2{
padding-top: 0px;
font-size: 18px;
color: #403A60;
line-height: 24px;
}
.medicalform{
padding-left: 0px;
}
.line{
border-bottom: 0px;
}
.collectbutton{
padding-top: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 20px;
}
.buttonbox{
width: 100%;
height: 48px;
border-radius: 12px; 
background-color: #FFFFFF;
}
.buttonbox div{
display: flex;
}
.response .heading{
margin-top: 0cm;
}
.buttonbox div{
padding-top: 7px;
padding-left: 0px;
align-items: flex-start;
gap: 3px;
}
.form-container{
right: 0px;
}
.info1{
padding-right: 0px;
position: relative;
left: 55px;
bottom: 45px;
}
p.pinfo{
padding-right: 0px;
width: 141px;
}
p.pinfo1{
position: relative;
left: 55px;
bottom: 45px;
}
p.pinfo2{
padding-right: 0px;
width: 100px;
}
.MInfo{
width: 160px;
}
.flexclass{
gap: 20px;
}
p{
font-size: 16px;
line-height: 24px;
font-family: 'Eina-Semibold';
}
.imgclass{
width: 24px;
height: 24px;
margin-left: 10px;
position: relative;
bottom: 4px;
}
.info2{
left: 100px;
bottom: 24px;
}
.Enquiry{
position: relative;
right: 0px;
}
.main{
height: auto;
}
}
@media only screen and (min-width: 601px) and  (max-width: 768px){
.collectbutton{
flex-direction: column;
}
.form-container{
width: 70%;
}
.Enquiry{
position: relative;
right: 0px;
}
.buttonbox{
width: 265px;
}
}
@media only screen and (min-width: 769px) and  (max-width: 992px){
.collectbutton{
flex-direction: column;
}
.Enquiry{
position: relative;
right: 0px;
}
.buttonbox{
width: 90%;
}
}  
@media only screen and (min-width: 993px) and  (max-width: 1200px){
.buttonbox{
width: 100%;
}
.threebtn{
width:30%;
}
.main{
width: 100%;
}
.response{
width: 100%;
}
.collectbutton{
gap: 0px;
width: 110%;
}
.Enquiry{
position: relative;
right: 0px;
}
p.pinfo{
width: 106%;
}
}
@media only screen and (min-width: 1200px) and  (max-width: 1500px){
.buttonbox{
width: 100%;
}
.threebtn{
width:30%;
}
.main{
width: 100%;
}
.response{
width: 100%;
}
.collectbutton{
gap: 0px;
width: 120%;
}
}
@media only screen and (min-width: 1500px) {
.buttonbox{
width: 100%;
}
.threebtn{
width:30%;
}
.main{
width: 100%;
}
.response{
width: 100%;
}
.collectbutton{
gap: 0px;
width: 100%;
}
}