.custom-box2{
	width: -webkit-fill-available;
	display: grid;
	position: relative;
}
.displayHeader{
	display: flex;
	justify-content: end;
}
.footerLink{
	text-decoration: none;
	color:#403A60;
	font-size: 14px;
	font-weight: 400;
}
.grid-containerfooter{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.layoutColor{
	background-color: #FBFAF5;
	min-height: 400px;
	overflow-x: hidden;
}
.grid-containerTabs{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 20px;
	padding: 10px;
	width: fit-content;
}
.tabsDiv{
	width: 100%;
	text-align: left;
}
.tabClass{
	width: 100%;
	background-color: white;
}
.anchorText{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 400;
}
.anchorTextActive{
	text-decoration: none;
	color: #403A60;
	font-size: 16px;
	font-weight: 800;
}
/*--CSS Media Queries---*/

@media only screen and (min-width: 320px)and (max-width: 400px)
{
	.pad{
	padding-left: 10px;
	padding-right: 10px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	}
	.custom-box2{
	width: -webkit-fill-available;
	display: grid;
	position: relative;
	bottom: 49px;
	
	}
	.custom-box1{
			width: 102%;
	margin-left: -263px;
	position: relative;
	bottom: 26px;
		}
.tabsDiv{
	display: none;
}

}
@media only screen and (min-width: 400px)and (max-width: 577px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	}
	.custom-box2{
	width: -webkit-fill-available;
	display: grid;
	position: relative;
}
.custom-box1
{
width: 105%;
	margin-left: -270px;
}
.tabsDiv{
	display: none;
}

}

@media only screen and (min-width: 577px) and (max-width: 767px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	}
	.tabsDiv{
	display: none;
}

.custom-box1{
	width: 105%;
	margin-left: -270px;
	}

}
@media only screen and (min-width: 766px) and (max-width: 992px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	}
	.tabsDiv{
	display: none;
}
.custom-box1{
		   width: 309%;
	margin-left: -25%;
	}
	

}
@media only screen and (min-width: 993px) and (max-width: 1200px)
{
	.pad{
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	overflow-x: hidden;
		flex-direction: column;
	}
	
	.custom-box1{
			width: 360%;
		margin-left: 11%;

	}


}


@media only screen and (min-width: 1201px)
{
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	overflow-x: hidden;
	}
	.custom-box2{
		right: 6%;
	}
	.tabClass{
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

}

@media only screen and (min-width: 1366px)
{
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	overflow-x: hidden;
	}
	.custom-box2{
		right: 11%;
	}
	.tabClass{
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}

}

@media only screen and (min-width: 1500px)
{
	.pad{
	padding-left: 5%;
	padding-right: 5%;
	overflow-x: hidden;
	}
	.custom-box2{
		right: 14%;
	}
	.tabClass{
		border-bottom: 1.5px solid rgba(141, 137, 165, 0.5);
	}
	

}